{% if predictor %}

    {% switch predictor.level %}
    {% case 'VERY_HIGH' %}
        {% set badgeClass = 'predictor-badge--very-high' %}
        {% case 'HIGH' %}
            {% set badgeClass = 'predictor-badge--high' %}
            {% case 'MEDIUM' %}
                {% set badgeClass = 'predictor-badge--medium' %}
                {% case 'LOW' %}
                    {% set badgeClass = 'predictor-badge--low' %}
                    {% default %}
                    {% set badgeClass = 'predictor-badge--default' %}
                    {% endswitch %}

                    {% if predictor.level is undefined or(showScore == true and predictor.score is undefined) %}
                        {% set band = 'UNKNOWN' %}
                        {% set badgeClass = 'predictor-badge--default' %}
                    {% else %}
                        {% set band = predictor.level | replace('_', ' ') %}
                    {% endif %}

                    <div class="{{ badgeClass }}" data-predictor-badge>
                        <span
      class="predictor-badge__type_and_level" data-test-id="typeAndLevel">{{ predictor.type | upper }}
                            <strong>{{ band }}</strong>
                        </span>

                        {% if showScore and predictor.score and badgeClass != 'predictor-badge--default' %}
                            <span class="predictor-badge__score" data-test-id="score">{{ predictor.score }}%</span>
                        {% endif %}

                        {% if predictor.staticOrDynamic and badgeClass != 'predictor-badge--default' %}
                            <span class="predictor-badge__static_or_dynamic"  data-test-id="staticOrDynamic">{{ predictor.staticOrDynamic | capitalize }}</span>
                        {% endif %}

                    </div>
                {% endif %}