{% extends "../../_form.njk" %}
{% set notStandardForm = true %}
{% set title = "Add questions to " + case.name.forename + "'s next online check in" %}
{% set pageTitleText = "Add questions to the person's next online check in" %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set showAnchorLink = true %}
{% set formAnchorLink = "/case/"+  crn + "/appointments/check-in/manage/" + id + "/questions/start" %}
{% set formAnchorText = "Cancel and go back" %}
{% set backLink = back if back else "/case/"+  crn + "/appointments/check-in/manage/" + id + "/questions/start" %}
{% set addQuestionButtonText = "Add question" %}
{% set addQuestionButtonLink = "/case/"+  crn + "/appointments/check-in/manage/" + id + "/questions/list" %}
{% set buttonText = "Save questions" %}
{% set previewFeelingPageLink = "/case/"+  crn + "/appointments/check-in/manage/" + id + "/questions/preview/feeling" %}
{% set previewSupportPageLink = "/case/"+  crn + "/appointments/check-in/manage/" + id + "/questions/preview/support" %}
{% set expectedCheckinDateValue = expectedCheckinDate | dateWithYear %}

{% block primary %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
          {{ title }}
      </h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Default questions</h2>
            <p class="govuk-body">You cannot change or delete these questions.</p>



            {{ govukTable({
            captionClasses: "govuk-table__caption--m",
            head: [
                {
                text: "Question",
                classes: "govuk-!-width-three-quarters"
                },
                {
                text: "Action",
                classes: "govuk-!-width-one-quarter"
                }
            ],
            rows: [
                [
                {
                    text: "How have you been feeling since we last spoke?"
                },
                {
                    html: '<a href="' + previewFeelingPageLink + '" class="govuk-link" data-qa="preview-feeling-link">Preview</a>'                }
                ],
                [
                {
                    text: "Is there anything you need support with or want to let us know about?"
                },
                {
                    html: '<a href="' + previewSupportPageLink + '" class="govuk-link" data-qa="preview-support-link">Preview</a>'
                }
                ]
            ]
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Additional questions</h2>
            <p class="govuk-body">You can add up to 3 questions to {{case.name.forename}}'s online check in. These will only apply to their next online check in on <b>{{expectedCheckinDateValue}}</b>.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


{% if addedQuestions | length > 0 %}
                {% set additionalRows = [] %}
                {% for question in addedQuestions %}
                    {% set editLink = "/case/" + crn + "/appointments/check-in/manage/" + id + "/questions/" + question.id + "/edit" %}
                    {% set deleteLink = "/case/" + crn + "/appointments/check-in/manage/" + id + "/questions/" + question.id + "/delete" %}

                    {% set row = additionalRows.push([
                        {
                            text: question.fullText
                        },
                        {
                            html: '<a href="' + editLink + '" class="govuk-link govuk-!-display-inline-block" data-qa="edit-question-link">Edit</a> | ' +
                                '<a href="' + deleteLink + '" class="govuk-link govuk-!-display-inline-block" data-qa="delete-question-link">Delete</a>'
                        }
                    ]) %}
                {% endfor %}

                {{ govukTable({
                    attributes: {
                        "data-qa": "custom-questions-table"
                    },
                    head: [
                    {
                      text: "Question",
                      classes: "govuk-!-width-three-quarters"
                    },
                    {
                      text: "Actions",
                      classes: "govuk-!-width-one-quarter"
                    }
                    ],
                    rows: additionalRows
                }) }}
            {% endif %}

        {% if addedQuestions | length < 3 %}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: addQuestionButtonText,
                    type: "submit",
                    classes: "govuk-button--secondary",
                    href: addQuestionButtonLink,
                    attributes: { "data-qa": "add-question-btn" }
                }) }}
            </div>
        {% endif %}
        <form method="post" autocomplete="off" action="{{ paths.current }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="govuk-button-group">
                {{ govukButton({
                    text: buttonText,
                    type: "submit",
                    attributes: { "data-qa": "save-questions-btn" }
                }) }}
                <a class="govuk-link" href="{{ formAnchorLink }}" data-qa="cancel-link">
                    {{ formAnchorText }}
                </a>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
