{% set errors = [] %}
{% if alertsCount.errors.length > 0 %}
    {% set errors = errors.concat(alertsCount.errors) %}
{% endif %}
{% if risks.errors.length > 0 %}
    {% set errors = errors.concat(risks.errors) %}
{% endif %}
{% if tierCalculation.errors.length > 0 %}
    {% set errors = errors.concat(tierCalculation.errors) %}
{% elif tiers.errors.length > 0 %}
    {% set errors = errors.concat(tiers.errors) %}
{% endif %}
{% if interventions.errors.length > 0 %}
    {% set errors = errors.concat(interventions.errors) %}
{% endif %}
{% if personRisks.errors.length > 0 %}
    {% set errors = errors.concat(personRisks.errors) %}
{% endif %}
{% if personExistsResponse and personExistsResponse.errors | length %}
    {% set errors = errors.concat(personExistsResponse.errors) %}
{% endif %}
{% if errors.length > 0 %}
  {% set errorsHtml %}
    {% if errors.length > 1 %}
      <ul>
      {% for error in errors %}
        <li>{{error.text}}</li>
      {% endfor %}
      </ul>
    {% else %}
      <span>{{errors[0].text}}</span>
    {% endif %}
  {% endset %}
  {% set alertClasses = 'govuk-!-margin-top-4 govuk-!-margin-bottom-' + ('4' if homepage else '0') %}
  {{ mojAlert({
    variant: "error",
    title: "There is a problem",
    showTitleAsHeading: false,
    dismissible: true,
    classes: alertClasses,
    attributes: { "data-qa": "errors" },
    html: errorsHtml
  }) }}
{% endif %}
