{% set forename = overview.personDetails.name.forename | default(personForename) %}
{% if riskToStaff or riskToProbationStaff %}
  {% set html %}
    {% if riskToProbationStaff %}
      <a href="/case/{{ crn }}/risk/flag/{{ riskToProbationStaff.id }}">View {{ forename }}&apos;s risk to probation staff flag</a><br>
    {% endif %}
    {% if riskToStaff %}
      <a href="/case/{{ crn }}/risk/flag/{{ riskToStaff.id }}">View {{ forename }}&apos;s {{riskLevelLabel(riskToStaff.level) | lower}} risk to staff flag</a>
    {% endif %}
  {% endset %}
  {% set text = forename + (' is a ' if riskToProbationStaff else ' may be a ') + 'risk to probation staff'  %}
  {{ mojAlert({
    variant: "warning",
    title: text,
    showTitleAsHeading: true,
    dismissible: false,
    html: html,
    attributes: {
      'data-qa': 'riskToStaffAlert'
    }
  }) }}
{% endif %}