{% set forename = overview.personDetails.name.forename | default(personForename) %}
{% if riskToStaff.level !== null %}
  {% set html %}
  <a href="/case/{{ crn }}/risk/flag/{{ riskToStaff.id }}">View {{ forename }}&apos;s risk to staff flag</a>
  {% endset %}
  {{ mojAlert({
      variant: "warning",
      title: forename + " is " + riskLevelLabel(riskToStaff.level) | lower + " risk to staff ",
      showTitleAsHeading: true,
      dismissible: false,
      html: html,
      attributes: {
        'data-qa': 'riskToStaffAlert'
      }
    }) }}
{% endif %}