{% set riskToStaff = getStaffRisk(personRisks.riskFlags) %}
{% set forename = overview.personDetails.name.forename | default(personForename) %}
{% if 'very high' in (riskToStaff.levelDescription | lower) %}
    {% set level = 'VERY_HIGH' %}
{% else %}
    {% set level = riskToStaff.levelDescription or riskToStaff.level %}
{% endif %}
{% if level and(level | upper == 'VERY_HIGH' or level | upper == 'HIGH' or level | upper == 'MEDIUM') %}
    {% set html %}
    <a href="/case/{{ crn }}/risk/flag/{{ riskToStaff.id }}">View {{ forename }}&apos;s risk to staff flag</a>
    {% endset %}
    {{ mojAlert({
      variant: "warning",
      title: forename + " is " + riskLevelLabel(level) | lower + " risk to staff ",
      showTitleAsHeading: true,
      dismissible: false,
      html: html
    }) }}
{% endif %}