{% extends "../partials/layout.njk" %}
{% from "../_components/predictor-timeline-item/macro.njk" import predictorTimelineItem %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {% set html %}
    <p class="govuk-notification-banner__heading">
            We’re not ready to handle this case
        </p>
    <p>You may find that:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>not all information is shown</li>
        <li>some information shows incorrectly</li>
    </ul>
    {% endset %}

    {% if data.features.showInappropriateCaseWarning %}
        {{ govukNotificationBanner({
            html: html
        }) }}
    {% endif %}

    {% if not hidePageHeader %}
        {% include "../partials/pop-header.njk" %}
        {% include "../partials/case-nav.njk" %}
    {% endif %}

    {% if currentSectionName %}
        {% if lastUpdatedDate %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-3" data-qa="pageHeading">{{ currentSectionName }}</h2>
            {%  if not sanIndicator %}
             <div class="govuk-inset-text govuk-!-margin-top-0">{{ lastUpdatedDate }}</div>
            {% endif%}
        {% else %}
            <h2 class="govuk-heading-l {% if not currentSectionNameSubText %}govuk-!-margin-bottom-7{% else %}govuk-!-margin-bottom-2{% endif %}" data-qa="pageHeading">{{ currentSectionName }}</h2>
            {% if currentSectionNameSubText %}
                <p class="govuk-!-margin-bottom-7" data-qa="currentSectionNameSubText">{{ currentSectionNameSubText }}</p>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if sanIndicator %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3" >Risk</h2>
    {% endif %}

    {% set errors = [] %}
    {% if risks.errors.length > 0 %}
        {% set errors = errors.concat(risks.errors) %}
    {% endif %}
    {% if tierCalculation.errors.length > 0 %}
        {% set errors = errors.concat(tierCalculation.errors) %}
    {% endif %}
    {% if interventions.errors.length > 0 %}
        {% set errors = errors.concat(interventions.errors) %}
    {% endif %}
    {% if errors.length > 0 %}
        <span data-qa="errors">{{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}</span>
    {% endif %}
    {% block pageContent %}{% endblock %}
{% endblock %}