{% macro manageAppointmentLink(flags, appointment, crn, manageUrl) %}
    {% if not appointment.deliusManaged %}
        <a class="govuk-link govuk-link--no-visited-state"
               href={{ manageUrl }}
               aria-label="Manage {{ appointment.type | lower }} appointment on Manage People on Probation">
                Manage
            </a>
    {% else %}
        {% if flags.enableDeepLinks and appointment.type in deepLinkContactTypes and appointment.eventNumber %}
            {% if appointment.type === 'CP/UPW - Appointment/Attendance (NS)' %}
                <a class="govuk-link govuk-link--no-visited-state"
                       target="_blank"
                       rel="external noopener noreferrer"
                       href="{{ deliusDeepLinkUrl('UPWWorksheet', crn, appointment.eventNumber) }}"
                       aria-label="Manage {{ appointment.type | lower }} appointment on NDelius">
                        Manage on NDelius<span class="govuk-visually-hidden"> (opens in new tab)</span>
                </a>
            {% else %}
                <a class="govuk-link govuk-link--no-visited-state"
                       target="_blank"
                       rel="external noopener noreferrer"
                       href="{{ deliusDeepLinkUrl('DrugHistory', crn, appointment.eventNumber) }}"
                       aria-label="Manage {{ appointment.type | lower }} appointment on NDelius">
                        Manage on NDelius<span class="govuk-visually-hidden"> (opens in new tab)</span>
                </a>
            {% endif %}
        {% else %}
            <a class="govuk-link govuk-link--no-visited-state"
                   target="_blank"
                   rel="external noopener noreferrer"
                   href="{{ deliusDeepLinkUrl('UpdateContact', crn, appointment.id) }}"
                   aria-label="Manage {{ appointment.type | lower }} appointment on NDelius">
                    Manage on NDelius<span class="govuk-visually-hidden"> (opens in new tab)</span>
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}
