{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% if feComponents.header %}
    {{ feComponents.header | safe }}
{% else %}
    {% include "./_fallback_prob_fe_header.njk" %}
{% endif %}
{% if not hideUpdateAndUserNav %}
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service - your <a class="govuk-link" href="https://www.smartsurvey.co.uk/t/AAGPPN?service=Manage%20people%20on%20probation" target="_blank" rel="noopener noreferrer">feedback<span class="govuk-visually-hidden"> (opens in new tab)</span></a> will help us improve it.'
    }) }}
    {% include "partials/_technical_updates_banner.njk" %}
    <div id="whatsNewBannerStatus" role="status" aria-live="polite" class="govuk-visually-hidden"></div>
    {% include "partials/_user_navigation.njk" %}
{% endif %}
