{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% if flags.enableProbFEComponent !== true %}
    {% include "./header.njk" %}
{% elif feComponents.header and flags.enableProbFEComponent === true%}
    {{ feComponents.header | safe }}
{% else %}
    {% include "./_fallback_prob_fe_header.njk" %}
{% endif %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="mailto:MPoP-Digital-Team@justice.gov.uk?subject=Feedback on the Manage People on Probation service">feedback</a> will help us improve it.'
}) }}
{% include "partials/_technical_updates_banner.njk" %}
<div id="whatsNewBannerStatus" role="status" aria-live="polite" class="govuk-visually-hidden"></div>
{% include "partials/_user_navigation.njk" %}
