{% if flags.enableProbFEComponent !== true %}
    {% include "./footer.njk" %}
{% elseif feComponents.footer and flags.enableProbFEComponent === true %}
    {{ feComponents.footer | safe }}
{% else %}
    {% include "./_fallback_prob_fe_footer.njk" %}
{% endif %}

