{% from "govuk/components/tag/macro.njk" import govukTag %}

{% if flags.enableProbFEComponent !== true %}
    {% include "./header.njk" %}
{% elif feComponents.header and flags.enableProbFEComponent === true%}
    {{ feComponents.header | safe }}
{% else %}
    {% include "./_fallback_prob_fe_header.njk" %}
{% endif %}
{% include "partials/_technical_updates_banner.njk" %}
<div id="whatsNewBannerStatus" role="status" aria-live="polite" class="govuk-visually-hidden"></div>
{% include "partials/_user_navigation.njk" %}
