{{ govukRadios({
    fieldset: {
       attributes: {
        'data-qa': 'letterSentBy'
      },
      legend: {
        text: "Who will send the letter?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: appointmentOutcome.letterSentByOptions
  } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'letterSentBy'])) }}

{{ govukRadios({
    fieldset: {
       attributes: {
        'data-qa': 'letterType'
      },
      legend: {
        text: "Select the type of letter",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: appointmentOutcome.letterTypeOptions
  } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'letterType'])) }}