{% extends "../_form.njk" %}
{% set backLink = appointmentOutcome.backLink %}

{% block afterHeading %}
{% if breach %}
  {{ mojAlert({
    variant: "warning",
    title: "There is a live breach for this sentence",
    showTitleAsHeading: true,
    dismissible: false,
    attributes: { "data-qa": "breach-warning" },
    text: 'The breach for '+ breach.order.description + ' was initiated on ' + breach.activeBreach.startDate | dateWithYear
  }) }}
{% endif %}
{% endblock %}

{% block form %}
  {{ govukRadios({
    name: "enforcementAction",
    fieldset: {
      legend: {
        html: '<span data-qa="pageHeading">Why was ' + appointmentOutcome.forename + '’s absence acceptable?</span>',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },
     hint: {
        text: appointmentOutcome.appointmentHintText
    },
    items: appointmentOutcome.options
  } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'acceptableAbsence'])) }}
{% endblock %}