{% extends "../_form.njk" %}
{% set title = 'Enforcement action for ' + appointmentOutcome.forename + '’s failure to comply' %}
{% set backLink = appointmentOutcome.backLink %}


{% block afterHeading %}
{% if breach %}
  {{ mojAlert({
    variant: "warning",
    title: "There is a live breach for this sentence",
    showTitleAsHeading: true,
    dismissible: false,
    attributes: { "data-qa": "breach-warning" },
    text: 'The breach for '+ breach.order.description + ' was initiated on ' + breach.activeBreach.startDate | dateWithYear
  }) }}
{% endif %}
{% endblock %}

{% block form %}
  {{ govukRadios({
    name: "enforcementAction",
    fieldset: {
      legend: {
        text: "Select an action for " + appointmentOutcome.forename + "’s failure to comply",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: appointmentOutcome.options
  } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'attendedFailedToComply'])) }}
{% endblock %}