{% extends "../_form.njk" %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% set buttonText = "Return to " + appointmentOutcome.forename + "’s overview" %}
{% set title = appointmentOutcome.confirmation.title %}
{% set notStandardForm = true %}
{% set panelHtml %}
<div class="govuk-!-font-size-27">
    <strong>{{ appointmentOutcome.confirmation.type | toSentenceCase }}</strong><br/>
    <span>{{ appointmentOutcome.confirmation.date }}</span>
</div>
{% endset %}

{% block beforeContent %}{% endblock %}
{% block primary %}
    {{ govukPanel({
  titleHtml: '<span data-qa="pageHeading">' + title + '</span>',
  headingLevel: 2,
  html: panelHtml
}) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" data-qa="what-happens-next">
            <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
            {% for text in appointmentOutcome.confirmation.text %}
                <p class="govuk-body">{{ text }}</p>
            {% endfor %}
        </div>
        {% if appointmentOutcome.confirmation.actions.length %}
            <div class="govuk-grid-column-two-thirds" data-qa="further-actions">
                <h2 class="govuk-heading-m govuk-!-margin-top-6">Further actions</h2>
                <p class="govuk-!-margin-bottom-0">You can:</p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0 govuk-!-margin-left-1">
                    {% for action in appointmentOutcome.confirmation.actions %}
                        <li>
                            <a class="govuk-link" href="{{ action.href }}"{% if action.external %} target="_blank" rel="noopener noreferrer"{% endif %} data-qa="anotherAppointmentLink">
                                {{ action.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
            <form method="post" autocomplete="off" action="">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="govuk-button-group">
                    {{ govukButton({
      html: buttonText,
      href: '/case/' + appointmentOutcome.crn,
      attributes: {
        'data-qa': 'submit-btn'
      }
    }) }}
                    <a class="govuk-link" href="/case/{{ appointmentOutcome.crn }}/appointments/appointment/{{ appointmentOutcome.contactId }}/manage" data-qa="returnToManageAppointment">
      Return to manage appointment
    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}