{% extends "../_form.njk" %}
{% set backLink = appointmentOutcome.backLink %}
{% block afterHeading %}
  {% if appointmentOutcome.currentEnforcementAction %}
    {{ govukInsetText({
  html: "The current enforcement status is: " + govukTag({
          text: appointmentOutcome.currentEnforcementAction.description,
          classes: "govuk-tag--" + appointmentOutcome.currentEnforcementAction.tagColour | lower
        })
}) }}
  {% endif %}
{% endblock %}
{% block form %}
  {{ govukSelect({
  label: {
    text: "Select an enforcement action for " + appointmentOutcome.forename + "’s failure to comply",
    classes: "govuk-label--l",
    attributes: { 'data-qa': 'pageHeading' }
  },
  items: appointmentOutcome.options
 } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'otherEnforcementAction'])) }}
{% endblock %}