{% extends "../_form.njk" %}
{% set title = 'Enforcement action for ' + appointmentOutcome.forename + '’s absence' %}
{% set backLink = appointmentOutcome.backLink %}

{% block form %}
  {% if appointmentOutcome.enforcementAction.responseByDate %}
    {{ mojTicketPanel({
  attributes: {
    "data-qa": "ticket"
  },
  items: [{
    html: ' <h2 class="govuk-heading-m govuk-!-margin-bottom-2">' + appointmentOutcome.forename + ' has until ' + appointmentOutcome.enforcementAction.responseByDate + ' to submit evidence (' + appointmentOutcome.enforcementAction.responseByDays + ' day' + ('s' if appointmentOutcome.enforcementAction.responseByDays != 1) + ' remaining)</h2>
    <p class="govuk-body">This appointment has been marked as failed to attend until evidence is provided. It will be added to the NDelius Enforcement Diary.</p>',
    classes: "moj-ticket-panel__content--red"
  }]
}) }}
  {% endif %}
  {{ govukRadios({
    name: "enforcementAction",
    fieldset: {
      legend: {
        text: "Select an enforcement action for " + appointmentOutcome.forename + "’s absence",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: appointmentOutcome.options
  } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'failedToAttend'])) }}
{% endblock %}