{% extends "../_form.njk" %}

{% set title = 'Initiate a ' + (
'breach' if appointmentOutcome.sentence.type == 'COMMUNITY' else 
  'recall') + (' and send a letter' if appointmentOutcome.sendBreachOrRecallLetter) %}
{% set backLink = appointmentOutcome.backLink %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      attributes: {
        'data-qa': 'breachNSICreatedBy'
      },
      legend: {
        text: "Who will create the breach NSI (non-statutory intervention)?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: appointmentOutcome.options
  } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'breachNSICreatedBy'])) }}
  {% if appointmentOutcome.sendBreachOrRecallLetter %}
    {% include './_send-letter-radios.njk' %}
  {% endif %}
{% endblock %}