{% extends "../_form-compliance.njk" %}
{% set title = 'Send a letter' %}
{% set backLink = appointmentOutcome.backLink %}

{% block form %}
    {{ appointmentOutcome.sentence.type }}
    {% include './_send-letter-radios.njk' %}
{% endblock %}