{% extends "../_form.njk" %}
{% set outcome = 'acceptable absence' if appointmentOutcome.appointment.acceptableAbsence == true else 
  'failure to comply' %}
{% set title = 'Update enforcement action for ' + appointmentOutcome.forename + '’s ' + outcome %}
{% set backLink = appointmentOutcome.backLink %}
{% set hideButton = true %}
{% block afterHeading %}
  {% if breach %}
    {{ mojAlert({
    variant: "warning",
    title: "There is a live breach for this sentence",
    showTitleAsHeading: true,
    dismissible: false,
    attributes: { "data-qa": "breach-warning" },
    text: 'The breach for '+ breach.order.description + ' was initiated on ' + breach.activeBreach.startDate | dateWithYear
  }) }}
  {% endif %}
  {% if appointmentOutcome.currentEnforcementAction %}
    {{ govukInsetText({
  html: "The current enforcement status is: " + govukTag({
          text: appointmentOutcome.currentEnforcementAction.text,
          classes: "govuk-tag--" + appointmentOutcome.currentEnforcementAction.tagColour | lower
        })
}) }}
  {% endif %}
{% endblock %}
{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Select an action for " + appointmentOutcome.forename + "’s " + outcome,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: appointmentOutcome.options
  } | decorateFormAttributes(['appointments', appointmentOutcome.crn, appointmentOutcome.id,  'outcome', 'updateEnforcementAction'])) }}
  <div class="govuk-button-group">
    {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { "data-qa": "submit-btn" }
                }) }}
    <a class="govuk-link" href="{{ backLink }}" data-qa="cancelGoBackLink">
      Cancel and go back
    </a>
  </div>
{% endblock %}