{% extends "../../partials/layout.njk" %}
{% set title = 'Personal circumstances' %}
{% set pageTitle = makePageTitle({
  pageHeading: ["Personal circumstances", "Personal details"]
}) %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/case"
    },
    {
      text: circumstances.personSummary.name | fullName,
      href: "/case/" + crn,
      attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
    },
    {
      text: "Personal details",
      href: "/case/" + crn + "/personal-details"
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}
  {% if not hidePageHeader %}
    {% include "../../partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">
  {% endif %}
  <h2 class="govuk-heading-l" data-qa="pageHeading">{{title}}</h2>

  {% if circumstances.circumstances.length > 0 %}
    <h3 class="govuk-heading-m" data-qa="currentCircumstancesTitle">Current circumstances</h3>
  {% endif %}

  {% for circumstance in circumstances.circumstances %}

    {% set notes = '' %}
    {% set hasNotes = circumstance.circumstanceNotes.length > 0 %}
    {% if hasNotes %}
      {% for circumstanceNote in circumstance.circumstanceNotes %}
        {% if circumstanceNote.note %}
          {% set notes = notes.concat(appNote(circumstanceNote, '/case/' + crn + '/personal-details/circumstances/' + circumstance.id + '/note/' + circumstanceNote.id)) %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% set circumstanceHtml %}
    {{ govukSummaryList({
      rows: [
        {
          key: { html: '<span data-qa="typeLabel">Type</span>' },
          value: { html: '<span data-qa="typeValue">' + circumstance.type + '</span>' }
        },
        {
          key: { html: '<span data-qa="subTypeLabel">Sub-type</span>' },
          value: { html: '<span data-qa="subTypeValue">' + circumstance.subType + '</span>' }
        },
        {
          key: { html: '<span data-qa="startDateLabel">Start date</span>' },
          value: { html: '<span data-qa="startDateValue">' + circumstance.startDate | dateWithYear + '</span>' }
        },
        {
          key: { html: '<span data-qa="endDateLabel">End date</span>' },
          value: { html: '<span data-qa="endDateValue">' + circumstance.endDate | dateWithYear + '</span>' if circumstance.endDate else '<span data-qa="endDateValue">No end date selected</span>' }
        },
        {
          key: { html: '<span data-qa="verifiedLabel">Verified?</span>' },
          value: { html: '<span data-qa="verifiedValue"> ' + 'Yes' if circumstance.verified else 'No' + '</span>' }
        },
        {
          key: { html: '<span data-qa="notesLabel">Notes</span>' },
          value: { html: '<span data-qa="notesValue">' + (notes if hasNotes else 'No notes') + '</span>' }
        }
      ]
    }) }}

    <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s" data-qa="lastUpdatedBy">
      {{ lastUpdatedBy(circumstance.lastUpdated, circumstance.lastUpdatedBy)}}
    </p>
    {% endset %}

    {{ appSummaryCard({
    titleHtml: '<span class="govuk-!-font-weight-regular govuk-!-font-size-19">' + circumstance.type + '</span><br />' + circumstance.subType,
    headingLevel: '4',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: circumstanceHtml,
    attributes: {'data-qa': 'personalCircumstances'+ loop.index +'Card'},
    actions: {}
  }) }}
  {% endfor %}

  {% if circumstances.previousCircumstances.length > 0 %}
    <h2 class="govuk-heading-m" data-qa="previousCircumstancesTitle">Previous circumstances</h2>
  {% endif %}

  {% for circumstance in circumstances.previousCircumstances %}

    {% set notes = '' %}
    {% set hasNotes = circumstance.circumstanceNotes.length > 0 %}
    {% if hasNotes %}
      {% for circumstanceNote in circumstance.circumstanceNotes %}
        {% if circumstanceNote.note %}
          {% set notes = notes.concat(appNote(circumstanceNote, '/case/' + crn + '/personal-details/circumstances/' + circumstance.id + '/note/' + circumstanceNote.id)) %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% set circumstanceHtml %}
    {{ govukSummaryList({
      rows: [
        {
          key: { html: '<span data-qa="typeLabel">Type</span>' },
          value: { html: '<span data-qa="typeValue">' + circumstance.type + '</span>' }
        },
        {
          key: { html: '<span data-qa="subTypeLabel">Sub-type</span>' },
          value: { html: '<span data-qa="subTypeValue">' + circumstance.subType + '</span>' }
        },
        {
          key: { html: '<span data-qa="startDateLabel">Start date</span>' },
          value: { html: '<span data-qa="startDateValue">' + circumstance.startDate | dateWithYear + '</span>' }
        },
        {
          key: { html: '<span data-qa="endDateLabel">End date</span>' },
          value: { html: '<span data-qa="endDateValue">' + circumstance.endDate | dateWithYear + '</span>' }
        },
        {
          key: { html: '<span data-qa="verifiedLabel">Verified?</span>' },
          value: { html: '<span data-qa="verifiedValue"> ' + 'Yes' if circumstance.verified else 'No' + '</span>' }
        },
        {
          key: { html: '<span data-qa="notesLabel">Notes</span>' },
          value: { html: '<span data-qa="notesValue">' + (notes if hasNotes else 'No notes') + '</span>' }
        }
      ]
    }) }}

    <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s" data-qa="lastUpdatedBy">
      {{ lastUpdatedBy(circumstance.lastUpdated, circumstance.lastUpdatedBy)}}
    </p>
    {% endset %}

    {{ appSummaryCard({
    titleHtml: '<span class="govuk-!-font-weight-regular govuk-!-font-size-19">' + circumstance.type + '</span><br />' + circumstance.subType,
     headingLevel: '4',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: circumstanceHtml,
    attributes: {'data-qa': 'previousCircumstances'+ loop.index +'Card'},
    actions: {}
  }) }}
  {% endfor %}

{% endblock %}