
<div class="moj-search">
    <form id="homepage-search-form" class="probation-search__form" method="POST" action="{{action}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="probation-search__input-container">
        <div class="govuk-form-group">
            <label class="govuk-label" for="search">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label moj-search__label govuk-label--m" for="search">Find a person on probation</label>
            </h1>
            </label>
            <div id="search-hint" class="govuk-hint moj-search__hint">
            You can search by name, date of birth or any other identifier (for example <abbr title="Case Reference Number">CRN</abbr> or <abbr title="Police National Computer Identifier">PNC number</abbr>).
            </div>
            <input class="govuk-input" id="search" name="probation-search-input" type="search" aria-describedby="search-hint">
        </div>
        <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button" data-qa="search-submit">
            Search
        </button>
        <p id="homepage-search-suggestions" class="probation-search__suggestions govuk-!-margin-top-1"></p>
        </div>
    </form>
</div>
<p>
    <a class="govuk-link govuk-link--no-visited-state" href="/case">View your cases</a>
</p>