<div class="app-note text-break">
  <p class="govuk-body govuk-!-margin-bottom-1">
    <span class="line-break">{{ note.note | handleQuotes('unescape') }}</span>
    {% if note.hasNoteBeenTruncated === true %}... <a href="{{ href }}">View full note</a>
    {% endif %}
  </p>
  <p class="govuk-body-s secondary-text app-note__author">
    {% if note.lastUpdatedBy %}
      Last updated: {{ note.lastUpdatedBy.forename }} {{ note.lastUpdatedBy.surname }} {{ note.lastUpdated | dateWithYear }}
    {% else %}
      Comment added by {% if note.createdBy %}{{ note.createdBy }} on {{ note.createdByDate | dateWithYear }}
    {% else %}not entered{% endif %}
    {% endif %}
  </p>
</div>