{% extends "../_form.njk" %}
{% set phoneeNumber = case.mobileNumber %}
{% set checkInDateVal = userDetails.date | dmyToLongDate %}
{% set rearranging = appointment['rearrange-or-cancel'] %}
{% set buttonText = "Return to " + case.name.forename + "'s overview" %}
{% set notStandardForm = true %}
{% set title = 'Online check ins added' %}
{% set pageTitle = makePageTitle({
  pageHeading: [title]
}) %}
{% set cases = "/case/" %}
{% set hideButton = true %}
{% set overViewLink = "/case/" + crn %}
{% set anotherAppointment = "/case/"+ crn + "/appointments/appointment/" + responseContactId + "/next-appointment"%}
{% set overViewPage = "/case/" + crn %}
{% set questionsStartPage = "/case/" + crn + "/appointments/check-in/manage/" + activeId + "/questions/start" %}
{% set panelHtml %}
<div class="govuk-!-font-size-36">
    Starting {{ userDetails.displayDay }}
  {{ checkInDateVal }}<br/>
     then {{ userDetails.interval | lower }}
</div>
{% endset %}

{% block beforeContent %}{% endblock %}
{% block primary %}
  {{ govukPanel({
  titleHtml: '<span data-qa="pageHeading">' + title + '</span>',
  headingLevel: 2,
  html: panelHtml
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" data-qa="what-happens-next">
      <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
      <p class="govuk-body">
        We have sent a confirmation to {{case.name.forename}}
        {% if userDetails.preferredComs === 'EMAIL' %}
          at {{ userDetails.displayCommsOption }}.
        {% else %}
          on {{ userDetails.displayCommsOption }}.
        {% endif %}
      </p>
      <p class="govuk-body">
        {{case.name.forename}} will receive a message to their preferred contact method each time they need to submit an online check in. They will have 3 days to complete and submit their check in.
        </p>
      <p class="govuk-body">You will get an email when they have submitted a check in or if they miss a check in. The email will include a link to review the check in or add any actions you will take for a missed check in.</p>
      {% if isFutureCheckinDate %}
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Add additional questions to {{case.name.forename}}'s online check in</h2>
        <p class="govuk-body">You can add up to 3 additional questions to each of {{case.name.forename}}'s online check ins. You will have until 23:59 the day before the next check in to add questions. We will send you a reminder before their next check in.</p>
        <p class="govuk-body">
          <a class="govuk-link" data-qa="add-additional-questions" href="{{questionsStartPage}}">Add additional questions to {{case.name.forename}}'s first online check in</a>
        </p>
      {% endif %}
    </div>
  </div>
  <div class="govuk-button-group">
    <a href="{{ overViewPage }}" class="govuk-button" data-qa="submit-btn">{{ buttonText }}</a>
    <a class="govuk-link" href="{{ cases }}" data-qa="returnToAllCases">
            Go to all cases
        </a>
  </div>

{% endblock %}
