{% extends "../_form.njk" %}
{% set title = "Contact Preferences" %}
{% set hideButton =  'true' %}
{% set backLink =  '/case/' + crn + '/appointments/' + id + '/check-in/date-frequency' %}
{% set radioLabel =  "How often would you like "+ case.name.forename + "to check in?" %}
{% block form %}


{% endblock %}