{% extends "../_form.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set title = "Check if " + case.name.forename + " is eligible to use online check ins"  %}
{% set pageTitleText = "Check if the person is eligible" %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set checkboxTitle = "Do any of these apply to " + case.name.forename + "?" %}
{% set showAnchorLink = true %}
{% set formAnchorLink = "/case/"+  crn %}
{% set formAnchorText = "Cancel and go back" %}
{% set back = back if back else '' %}
{% set backLink =  '/case/' + crn + '/'  + back %}
{% set notStandardForm = true %}
{% set buttonText = "Continue" %}
{% set currentEligibility = data.esupervision[crn][id].checkins.eligibility or [] %}


{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
          {{ title }}
      </h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                classes: 'govuk-!-margin-bottom-6',
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}

        <form method="post" autocomplete="off" action="{{ paths.current }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <h3 class="govuk-heading-m">About online check ins</h3>
            <p class="govuk-body">Online check ins allow people on probation to update you about their needs and how they are feeling. They'll do this by answering some questions about how they are and if they need any support, and recording a 5-second video we will use to verify their identity.</p>
            <p class="govuk-body">You can learn more about online check ins in our guidance pages.</p>
            <p class="govuk-body"><a class="govuk-link" href="{{guidanceUrl}}/practitioner-guidance">Practitioner guidance about online check ins</a>, including setting people up and reviewing completed check ins.</p>
            <p class="govuk-body"><a class="govuk-link" href="{{guidanceUrl}}/guidance">Guidance for people on probation about online check ins</a>, including how they work and what questions we ask.</p>

            <h3 class="govuk-heading-m">Eligibility and suitability</h3>
            <p class="govuk-body">Not everyone will be eligible or suitable to use online check ins, and some might only be eligible to use the service as well as face-to-face appointments.</p>

            {{ govukCheckboxes({
                name: "esupervision[" + crn + "][" + id + "][checkins][eligibility]",
                idPrefix: "esupervision-" + crn + "-" + id + "-checkins-eligibility",
                fieldset: {
                    legend: {
                        text: checkboxTitle,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--m"
                    }
                },
                errorMessage: {
                  text: errorMessages["esupervision-" + crn + "-" + id + "-checkins-eligibility"]
                } if errorMessages["esupervision-" + crn + "-" + id + "-checkins-eligibility"],
                hint: {
                    text: "Select all that apply."
                },
                items: [
                {
                value: "eligibility-1",
                text: "On suspended supervision (for example, through IMPACT and Reset)",
                checked: "eligibility-1" in currentEligibility
                },
                {
                value: "eligibility-2",
                text: "At a very high risk of serious harm (ROSH)",
                checked: "eligibility-2" in currentEligibility
                },
                {
                value: "eligibility-3",
                text: "A MAPPA (multi-agency public protection arrangements) eligible case level 2 and 3",
                checked: "eligibility-3" in currentEligibility
                },
                {
                value: "eligibility-4",
                text: "A National Security Division case",
                checked: "eligibility-4" in currentEligibility
                },
                {
                value: "eligibility-5",
                text: "On a youth sentence",
                checked: "eligibility-5" in currentEligibility
                },
                {
                value: "eligibility-6",
                text: "Part of a child protection or child in need plan",
                checked: "eligibility-6" in currentEligibility
                },
                {
                value: "eligibility-7",
                text: "Under a current domestic abuse conviction, have a risk flag for domestic abuse or other evidence that could suggest domestic abuse",
                checked: "eligibility-7" in currentEligibility
                },
                {
                value: "eligibility-8",
                text: "Under a current sexual conviction or motivation",
                checked: "eligibility-8" in currentEligibility
                },
                {
                value: "eligibility-9",
                text: "An Intensive Supervision Court pilot case",
                checked: "eligibility-9" in currentEligibility
                },
              {
                divider: "or"
              },
              {
                value: "eligibility-none",
                text: "None of these apply",
                behaviour: "exclusive",
                checked: "eligibility-none" in currentEligibility
              }
            ]
            }) | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'eligibility']) }}
              <div class="govuk-button-group">
                {{ govukButton({
                    text: buttonText,
                    type: "submit",
                    attributes: { "data-qa": "submit-btn" }
                }) }}
                <a class="govuk-link" href="{{ formAnchorLink }}" data-qa="formAnchorLink">
                    {{ formAnchorText }}
                </a>
            </div>
        </form>
    </div>
  </div>

{% endblock %}
