{% extends "../_form.njk" %}
{% set title = "How you can use online check ins" %}
{% set showAnchorLink = true %}
{% set formAnchorLink = "/case/"+  crn  +"/appointments" %}
{% set formAnchorText = "Cancel" %}
{% set back = back if back else '' %}
{% set backLink =  '/case/' + crn + '/'  + back %}
{% block form %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-!-margin-bottom-0">You can use online check ins:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>to reduce face-to-face contact</li>
                <li>in addition to face-to-face contact to give you an update between meetings</li>
            </ul>


            <h2 class="govuk-heading-s">Use case 1: To reduce face-to-face contact</h2>
            <p>Using online check ins to reduce some face-to-face contact could help to give you some time back.</p>
            <p>Example 1: If you’re meeting someone in person every month but they’re doing well, you could use online check ins every other month in place of a face-to-face appointment.</p>
            <p>Example 2: If a person on probation is unable to travel easily to the office, this could be a useful alternative to some face-to-face contact.</p>

            <!--p>You should use your judgement as the professional to decide who on your caseload is suitable.</p-->

            <h2 class="govuk-heading-s">Who may be suitable for reducing face-to-face contact</h2>
            <p class="govuk-!-margin-bottom-0">People who may be most suitable are those who have:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>agreed to use the service</li>
                <li>stable lifestyle factors (employment, accommodation, relationships etc).</li>
                <li>sufficient digital literacy and access to technology to use the service</li>
                <li>no restrictions on device or internet use as part of their conditions</li>
                <li>spent time on probation and understand their responsibilities</li>
                <li>an established relationship with their practitioner</li>
                <li>nothing that means using this service could affect the completion of their sentence plan</li>
            </ul>

            <h2 class="govuk-heading-s">Who would not be suitable</h2>
            <p class="govuk-!-margin-bottom-0">Online check ins are not be suitable for anyone who is:</p>
            <ul class="govuk-list govuk-list--bullet">


                <li>on suspended supervision (for example, through IMPACT and Reset)</li>
                <li>at very high risk of serious harm (ROSH)</li>
                <li>a MAPPA (multi-agency public protection arrangements) eligible case level 2 and 3</li>
                <li>a National Security Division case</li>
                <li>an Intensive Court Pilot case</li>
                <li>on a youth sentence</li>
                <li>subject to an active child protection order</li>
                <li>under a current domestic abuse conviction</li>
                <li>under a current sexual conviction/motivation</li>
            </ul>
            <p>Once you’ve applied the criteria, you should use your judgement as the professional to decide who on your caseload is suitable.</p>

            <h2 class="govuk-heading-s">Use case 2: In addition to face-to-face contact</h2>
            <p>Using online check ins in addition to face-to-face appointments could be useful in adding extra structured contact.</p>
            <p>Example: If you’re meeting a person every two weeks and would like an extra contact due to concern about the person, using online check ins could give you an update about how they are without needing an additional in-person appointment.</p>

            <h2 class="govuk-heading-s">Who may be suitable for online check ins in addition to face-to-face</h2>
            <p class="govuk-!-margin-bottom-0">You should use your judgement as a professional to decide who on your caseload is suitable. People who may be most suitable to use the service are people who:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>agree to use the service</li>
                <li>you would like additional information on, for risk management</li>
                <li>have sufficient digital literacy and access to technology to use the service</li>
                <li>have no restrictions on device or internet use as part of their conditions</li>
                <li>have nothing that means using this service could affect the completion of their sentence plan</li>
            </ul>

            <h2 class="govuk-heading-s">Who may be suitable</h2>
            <p class="govuk-!-margin-bottom-0">People who may be most suitable for both use cases have:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>agreed to use the service</li>
                <li>stable lifestyle factors (employment, accommodation, relationships etc).</li>
                <li>sufficient digital literacy and access to technology to use the service</li>
                <li>no restrictions on device or internet use as part of their conditions</li>
                <li>spent time on probation and understand their responsibilities</li>
                <li>an established relationship with their practitioner</li>
                <li>nothing that means using this service could affect the completion of their sentence plan</li>
            </ul>


            <h2 class="govuk-heading-s">Who would not be suitable </h2>
            <p class="govuk-!-margin-bottom-0">People on an Intensive Court Pilot case are not suitable for online check ins.</p>
            <p class="govuk-!-margin-bottom-0">When used to reduce face to face contact, online check ins may also not be suitable for anyone who is:</p>
            <ul class="govuk-list govuk-list--bullet">

                <li>on suspended supervision (for example, through IMPACT and Reset)</li>
                <li>at very high risk of serious harm (ROSH)</li>
                <li>a MAPPA eligible case level 2 and 3</li>
                <li>a National Security Division case</li>
                <li>on a youth sentence</li>
                <li>subject to an active child protection order</li>
                <li>under a current domestic abuse conviction</li>
                <li>under a current sexual conviction/motivation</li>
            </ul>
            <div class="govuk-!-margin-bottom-6"></div>

        </div>
    </div>
{% endblock %}