{% extends "../_form.njk" %}
{% set title = "How you can use online check ins" %}
{% set showAnchorLink = true %}
{% set formAnchorLink = "/case/"+ crn  +"/appointments" %}
{% set formAnchorText = "Cancel" %}
{% block beforeContent %}{% endblock %}
{% block form %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-!-margin-bottom-0">You can use online check ins:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>to reduce face-to-face contact</li>
                <li>in addition to face-to-face contact to to give you an update between meetings</li>
            </ul>


            <h2 class="govuk-heading-s">Use case1: Using the service to reduce face-to-face contact</h2>
            <p>Using the service to replace some face-to-face contact could help to give some time back.</p>
            <p>Example 1:If you're meeting some in person every month but they're doing well, you could use the online
                check in service every month in place of a face-to-face appointment.</p>
            <p>Example 2:If you're meeting some in person every month but they're doing well, you could use the online
                check in service every month in place of a face-to-face appointment.</p>

            <p>You should use your judgement as the professional to decide who on your caseload is suitable.</p>

            <h2 class="govuk-heading-s">Who may be suitable for reducing face-to-fact contact</h2>
            <p class="govuk-!-margin-bottom-0">People who may be most suitable to use service are people who have:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>agreed to use the service</li>
                <li>agreed to use the service agreed to use the service agreed to use the service agreed to use the
                    serviceagreed to use the service
                </li>
                <li>agreed to use the service agreed to use the service agreed to use the service agreed to use the
                    serviceagreed to use the service
                </li>
                <li>agreed to use the service agreed to use the service agreed to use the service agreed to use the
                    serviceagreed to use the service
                </li>
                <li>agreed to use the service agreed to use the service agreed to use the service agreed to use the
                    serviceagreed to use the service
                </li>
                <li>agreed to use the service agreed to use the service agreed to use the service agreed to use the
                    serviceagreed to use the service
                </li>
                <li>agreed to use the service agreed to use the service agreed to use the service agreed to use the
                    serviceagreed to use the service
                </li>
            </ul>

            <h2 class="govuk-heading-s">Who would not be suitable</h2>
            <p class="govuk-!-margin-bottom-0">This service may not be suitable for anyone who is:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>onsuspended supervisio (for example, through IMPACT and Reset)</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>
                <li>a MAPPA(multi-ageny public protection arrangements) eligible case level 2 and 3</li>

            </ul>

            <h2 class="govuk-heading-s">Use case 2: Using the service in adition to face-to-face contact</h2>
            <p>Using the service to replace some face-to-face contact could help to give some time back.</p>
            <p>Example 1:If you're meeting some in person every month but they're doing well, you could use the online
                check in service every month in place of a face-to-face appointment.</p>
            <p>Example 2 this service you will need to:</p>
            <p>Should use your judgment as </p>

            <h2 class="govuk-heading-s">Who may be suitable for online checkin ins in addition to face-to-face</h2>
            <p class="govuk-!-margin-bottom-0">You should use your judgement as a professional to decide who on your
                caseload is suitable.
                <br />People who may be most sutable to use the service are people who:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>agreed to use the service</li>
                <li>have sufficient digital literacy adn acces to technology to use the service</li>
                <li>have sufficient digital literacy adn acces to technology to use the service</li>
                <li>have sufficient digital literacy adn acces to technology to use the service</li>
            </ul>
            <div class="govuk-!-margin-bottom-6"></div>

        </div>
    </div>

{% endblock %}