{% extends "../_form.njk" %}
{% set buttonText = "Return to " + case.name.forename + "'s overview" %}
{% set title = case.name.forename + ' is not eligible to use online check ins' %}
{% set overViewPage = '/case/' + crn %}
{% set hideButton = true %}
{% set backLink =  '/case/' + crn + '/appointments/' + id + '/check-in/eligibility-check' %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" data-qa="not-eligible">
      <p class="govuk-body">
        This is because {{case.name.forename}}'s case is an intensive court pilot case 
      </p>
    </div>
  </div>
    <div class="govuk-button-group">
        <a href="{{ overViewPage }}" class="govuk-button" data-qa="submit-btn">{{ buttonText }}</a>
    </div>
{% endblock %}