{% extends "../_form.njk" %}
{% set title = "Take a photo of " + case.name.forename %}
{% set backLink =  '/case/' + crn + '/appointments/' + id + '/check-in/contact-preference' %}
{% set hideButton =  true %}
{% block form %}


{% endblock %}