{% extends "../_form.njk" %}

{% set title = "Why is " + case.name.forename + " suitable to use online check ins?"  %}
{% set hintText = "For example, low risk of reoffending, stable lifestyle factors."  %}

{% set showAnchorLink = true %}

{% block form %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

        {{ govukTextarea({
            formGroup: {
                attributes: { "data-qa": "rationale-for-check-ins"}
            },
            label: {
                classes: 'govuk-label--l govuk-!-margin-bottom-3',
                isPageHeading: true
            },
            hint: {
                text: hintText
            }
        } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'rationale'])) }}
        </div>
    </div>
{% endblock %}