{% extends "../_form.njk" %}
{% set title = "Take a photo of " + case.name.forename %}
{% set backLink =  '/case/' + crn + '/appointments/' + id + '/check-in/photo-options' %}
{% set hideButton =  true %}
{% set checkinPhotoPage =  true %}
{% block form %}


{% endblock %}
