{% extends "../_form.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "_components/note/macro.njk" import appNote %}

{% set title = "Online check in missed and reviewed" %}
{% set backLink = back | default('/case/' + crn + '/activity-log') %}
{% set hideButton = true %}

{% set notes = '' %}
{% for note in checkIn.notes %}
    {% set notes = notes.concat(appNote(note, '/case/' + crn + '/appointments/appointment/' + entry.id + '/manage/note/' + note.id + '?back=' + url)) %}
{% endfor  %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% include "../../partials/pop-header.njk" %}
        <hr class="govuk-section-break--l">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}
        {% block heading %}
          {% if title %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-3" data-qa="pageHeading">
              {{ title }}
            </h2>
          {% endif %}
            {% if checkIn.sensitive %}
                <div class="govuk-!-margin-bottom-7">
                    {{ govukTag({
                    html: 'Sensitive',
                    classes: "govuk-tag--yellow"
                    }) }}
                </div>
            {% endif %}
        {% endblock %}

        <h2 class="govuk-heading-m">Practitioner review</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0" data-qa="reviewSummary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Why did {{ checkIn.personalDetails.name.forename }} not complete their check in?</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.missedCheckinComment }}</dd>
            </div>
            {% if checkIn.notes.length > 0 %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">{{ 
                        notes | safe
                    }}</dd>
                </div>
            {% endif %}
        </dl>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
            <form method="post" autocomplete="off" action="{{ paths.current }}">
                {{ govukCharacterCount({
                    label: {
                        text: "Add further information",
                        classes: "govuk-label--m"
                    },
                    rows: '10',
                    maxlength: maxCharCount,
                    formGroup: {
                        attributes: { "data-qa": "notes"}
                    }
                } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'note'])) }}

            {% if checkIn.sensitive !== 'true' and checkIn.sensitive !== true %}
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: 'Does this online check in include sensitive information?',
                            classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: 'This is information that you believe must be recorded but not shared with a person on probation. If they make a request for their record, the Data Protection Team will decide whether the information can be shared.'
                    },
                    formGroup: {
                        attributes: {
                            'data-qa': 'sensitiveContact'
                        }
                    },
                    items: [
                        {
                            value: true,
                            text: "Yes, it includes sensitive information"
                        },
                        {
                            value: false,
                            text: "No, it is not sensitive"
                        }
                    ]
                } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'sensitiveContact'])) }}
            {% else %}
                <input type="hidden" name="esupervision[{{ crn }}][{{ id }}][checkins][sensitiveContact]" value="true">
            {% endif %}

                <div class="govuk-button-group">
                    {{ govukButton({
                    html: "Add update",
                    attributes: {
                        'data-qa': 'submit-btn'
                    }
                    }) }}
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </form>
        </div>
    </div>
</div>

{% endblock %}
 