{% extends "../_form.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "_components/note/macro.njk" import appNote %}

{% set title = "Online check in submitted and reviewed" %}
{% set backLink = back | default('/case/' + crn + '/activity-log') %}
{% set hideButton = true %}

{% set notes = '' %}
{% for note in checkIn.notes %}
    {% set notes = notes.concat(appNote(note, '/case/' + crn + '/appointments/appointment/' + entry.id + '/manage/note/' + note.id + '?back=' + url)) %}
{% endfor  %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% include "../../partials/pop-header.njk" %}
        <hr class="govuk-section-break--l">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}
        {% block heading %}
          {% if title %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
              {{ title }}
            </h2>
          {% endif %}
        {% endblock %}

        <h2 class="govuk-heading-m">Practitioner review</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0" data-qa="reviewSummary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this person in the video {{ checkIn.personalDetails.name.forename }}?</dt>
                <dd class="govuk-summary-list__value">{{"Yes" if checkIn.manualIdCheck == "MATCH" else "No"}}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.manualIdCheck == "MATCH" %}
                        {{ govukTag({ text: "Identity confirmed", classes: "govuk-tag govuk-tag--green" }) }}
                    {% endif %}
                    {% if checkIn.manualIdCheck == "NO_MATCH" %}
                        {{ govukTag({ text: "Identity not confirmed", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What action are you taking after reviewing this check in?</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.furtherActions | safe if checkIn.furtherActions else 'None' }}</dd>
            </div>
            {% if checkIn.notes.length > 0 %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">{{ 
                        notes | safe
                    }}</dd>
                </div>
            {% endif %}
        </dl>

        <h2 class="govuk-heading-m">Add further information</h2>
        <form method="post" autocomplete="off" action="{{ paths.current  }}">
            {{ govukCharacterCount({
                hint: {
                    text: "This information will be added to contact notes."
                },
                rows: '10',
                maxlength: maxCharCount,
                formGroup: {
                    attributes: { "data-qa": "notes"}
                }
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'note'])) }}

            <div class="govuk-button-group">
                {{ govukButton({
                html: "Add update",
                attributes: {
                    'data-qa': 'submit-btn'
                }
                }) }}
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>

        <hr class="govuk-section-break govuk-section-break--visible">

        <h2 class="govuk-heading-m govuk-!-margin-top-5">{{ checkIn.personalDetails.name.forename }}'s check in</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0" data-qa="checkInSummary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">System ID check result</dt>
                <dd class="govuk-summary-list__value">{{"Pass" if checkIn.autoIdCheck == "MATCH" else "Fail"}}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image of {{ checkIn.personalDetails.name.forename }}</dt>
                <dd class="govuk-summary-list__value">
                    <img
                    src="{{ "/assets/images/placeholder.png" if checkIn.photoUrl == null else checkIn.photoUrl }}"
                    class="es-profile-image es-profile-image--small"
                    alt="Profile image of {{ checkIn.personalDetails.name.forename }} {{ checkIn.personalDetails.name.surname }}"
                    crossorigin />
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image from check in video</dt>
                <dd class="govuk-summary-list__value">
                    {% if checkIn.snapshotUrl %}
                        <img
                        src="{{ checkIn.snapshotUrl }}"
                        class="es-profile-image es-profile-image--small"
                        alt="Snapshot from video of {{ checkIn.personalDetails.name.forename }} {{ checkIn.personalDetails.name.surname }}"
                        crossorigin />
                    {% else %}
                    <span>No image available</span>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Check in video</dt>
                <dd class="govuk-summary-list__value">
                    <a href="{{ videoLink }}" class="govuk-link">View video</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How {{ checkIn.personalDetails.name.forename }} has been feeling
                </dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.mentalHealth | userFriendlyString }}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.flaggedResponses and 'mentalHealth' in checkIn.flaggedResponses %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>
            {% if checkIn.surveyResponse.mentalHealthComment %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What they want us to know about how they have been feeling
                    </dt>
                    <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.mentalHealthComment }}</dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Anything they need support with or to let us know</dt>
                <dd class="govuk-summary-list__value">
                    {% for a in checkIn.surveyResponse.assistance | split %}
                        {{ a | userFriendlyString }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.flaggedResponses and 'assistance' in checkIn.flaggedResponses %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>

            {% if checkIn.surveyResponse.mentalHealthSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about mental health</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.mentalHealthSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.alcoholSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about alcohol</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.alcoholSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.drugsSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about drugs</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.drugsSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.moneySupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about money</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.moneySupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.housingSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about housing</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.housingSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.supportSystemSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about their support system</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.supportSystemSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.otherSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about (something else)</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.otherSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">If they need us to contact them before their next appointment</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.callback | userFriendlyString }}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.flaggedResponses and 'callback' in checkIn.flaggedResponses %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>
            {% if checkIn.surveyResponse.callbackDetails %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want to talk about</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.callbackDetails }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
        </dl>
    </div>
</div>

{% endblock %}
