{% extends "../_form.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "_components/note/macro.njk" import appNote %}

{% set title = "Online check in missed and reviewed" %}
{% set backLink = back | default('/case/' + crn + '/activity-log') %}
{% set hideButton = true %}

{% set notes = '' %}
{% for note in checkIn.notes %}
    {% set notes = notes.concat(appNote(note, '/case/' + crn + '/appointments/appointment/' + entry.id + '/manage/note/' + note.id + '?back=' + url)) %}
{% endfor  %}

{% block form %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Practioner review</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0" data-qa="reviewSummary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Why did {{ checkIn.personalDetails.name.forename }} not complete their check in?</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.missedCheckinComment }}</dd>
            </div>
            {% if checkIn.notes.length > 0 %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">{{ 
                        notes | safe
                    }}</dd>
                </div>
            {% endif %}
        </dl>

        <h2 class="govuk-heading-m">Add further information</h2>
        <form method="post" autocomplete="off" action="{{ paths.current }}">
            {{ govukCharacterCount({
                hint: {
                    text: "This information will be added to contact notes."
                },
                rows: '10',
                maxlength: maxCharCount,
                formGroup: {
                    attributes: { "data-qa": "notes"}
                }
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'note'])) }}

            <div class="govuk-button-group">
                {{ govukButton({
                html: "Add update",
                attributes: {
                    'data-qa': 'submit-btn'
                }
                }) }}
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>
    </div>
</div>

{% endblock %}
 