$govuk-global-styles: true;
$path: '/assets/images/';
$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;
$low-score-colour: #485b10;
$low-score-border-colour: #85994b;
$medium-score-colour: #a34e00;
$medium-score-border-colour: #f47738;
$high-score-colour: #942514;
$high-score-border-colour: #d4351c;
$very-high-score-colour: #711a0d;
$very-high-score-border-colour: #942514;
$unknown-score-border-colour: #fd0;
$no-score-colour: #505a5f;
$no-score-border-colour: #505a5f;
$no-score-background-colour: #ffffff;
$mappa-colour: #4c2c92;

@import '../../node_modules/govuk-frontend/dist/govuk/all';
@import '../../node_modules/@ministryofjustice/frontend/moj/all';

@import './components/header-bar';
@import './components/summary-card';
@import './components/card';
@import 'assets/scss/local';
@import './components/photo';
@import './components/sortable-table';
@import '../../node_modules/govuk-frontend/dist/govuk/base';
@import '../../node_modules/@ministryofjustice/frontend/moj/components/sortable-table/_sortable-table';
@import './components/predictor-scores';
@import './components/risk-flag-widget';
@import './components/timeline';
@import './components/flex';
@import './components/note';

.secondary-text {
  color: $govuk-secondary-text-colour; /* Using a GOV.UK Design System color */
}
.strong {
  font-weight: 900;
}

.line-break {
  white-space: preserve-breaks;
}

.dps-header {
  background-color: rgba(86, 148, 202, 0.2);
  padding: 25px 0;
}

.dps-homepage-search {
  background-color: #f3f2f1;
  padding: 25px 0;
}

.hmpps-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
}

.govuk-accordion__probation-accordion-custom {
  .govuk-accordion__controls {
    display: none;
    height: 25px;
  }

  .govuk-accordion__section {
    border: 1px solid #b1b4b6 !important;
    border-top: 1px solid #b1b4b6 !important;
    border-bottom: 0 !important;
    padding-top: 0;

    .govuk-accordion__section-button {
      display: flex;
      border-top: 0 !important;
      border-bottom: 0 !important;
      padding-top: 15px !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-bottom: 5px !important;
      .govuk-accordion__section-heading-text {
        flex-grow: 1;
      }
    }
  }
  .govuk-accordion__section-header {
    position: relative;
  }
  .govuk-accordion__section-heading {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;
  }
  .govuk-accordion__after-heading {
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .govuk-accordion__section-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.govuk-filter-background {
  background-color: #f3f2f1;
  padding: 32px 32px 5px 32px;
}

.govuk-select--inline {
  display: inline-block;
  margin-right: 30px;
}

dd.govuk-summary-list__value span.app-notes-author {
  display: block;
  color: $govuk-secondary-text-colour;
  font-size: 16px;
}

.nowrap {
  white-space: nowrap; /* Prevents text from wrapping */
  min-width: 110px;
}

.govuk-select--width-20 {
  max-width: 41ex;
}

.govuk-select--autosize {
  min-width: 0 !important;
}

.ui-timepicker-wrapper {
  overflow-y: auto;
  max-height: 150px;
  width: auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10052;
  margin: 0;
  @include govuk-font($size: 19);
  border: 2px solid govuk-colour('black');
  border-top: none;
  max-width: 10.8ex;
  box-sizing: border-box;
}

.ui-timepicker-wrapper .ui-timepicker-list li {
  padding-right: 20px;
}

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}

.ui-timepicker-list li {
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid govuk-colour('mid-grey');
}

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980ec;
  color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}

.toggle-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.toggle-menu__list-item {
  display: inline-block;
  &:not(:first-child):before {
    content: '|';
    padding: 0 2px;
  }
}

.govuk-colour--red {
  color: govuk-colour('red');
}

.govuk-\!-width-three-tenths {
  width: 30% !important;
}
.govuk-\!-width-one-fifth {
  width: 20% !important;
}
.govuk-\!-width-two-fifths {
  width: 40% !important;
}
.govuk-\!-width-one-third-plus-three {
  width: 22.22% !important;
}

.flex--center {
  justify-content: center;
}
.govuk-summary-list.moj-multi-file-upload__list {
  display: flex;
  flex-wrap: wrap;
}
.govuk-summary-list__row.moj-multi-file-upload__row {
  display: flex;
  flex: 0 0 100%;
  @include govuk-media-query($until: 1200px) {
    flex-direction: column;
  }
}
.govuk-summary-list__value.moj-multi-file-upload__message {
  flex: 1;
  display: block;
  padding-right: 0;
  display: flex;
}
.govuk-summary-list__actions.moj-multi-file-upload__actions {
  flex-shrink: 0;
  display: block;
  width: auto;
  @include govuk-media-query($until: 1200px) {
    text-align: left;
  }
}
.moj-multi-file-upload__error,
.moj-multi-file-upload__success {
  display: flex;
  align-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  @include govuk-media-query($until: 1200px) {
    flex-direction: column;
  }
}
.moj-multi-file-upload__message-text {
  flex: 1;
  flex-shrink: 0;
  position: relative;
  &--with-icon {
    padding-left: 30px;
  }
  .moj-banner__icon {
    float: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
  }
}

.moj-multi-file-upload__message-status {
  flex-shrink: 0;
  .moj-multi-file-upload__error &,
  .moj-multi-file-upload__success & {
    margin-right: 20px;
  }
  &--no-margin {
    .moj-multi-file-upload__error &,
    .moj-multi-file-upload__success & {
      margin-right: 0px;
    }
  }
}

.visibility-hidden {
  visibility: hidden;
}

[aria-sort] button {
  &::before,
  &::after {
    display: none;
  }
}

[data-module='moj-backend-sortable-table'],
[data-module='moj-mpop-sortable-table'] {
  & [aria-sort] button::before,
  & [aria-sort] button::after {
    display: none;
  }
  & [aria-sort] button .sort-icon {
    &::before,
    &::after {
      display: block;
    }
  }
  & [aria-sort] button .sort-icon {
    &::before {
      content: ' \25bc';
      position: absolute;
      top: 9px;
      right: -11px;
      font-size: 0.5em;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 1px;
      right: -11px;
      font-size: 0.5em;
    }
  }
  & [aria-sort='ascending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
  & [aria-sort='descending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25bc';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
}

[aria-sort] button {
  &::before,
  &::after {
    display: none;
  }
}

[data-module='moj-backend-sortable-table'],
[data-module='moj-mpop-sortable-table'] {
  & [aria-sort] button::before,
  & [aria-sort] button::after {
    display: none;
  }
  & [aria-sort] button .sort-icon {
    &::before,
    &::after {
      display: block;
    }
  }
  & [aria-sort] button .sort-icon {
    &::before {
      content: ' \25bc';
      position: absolute;
      top: 9px;
      right: -11px;
      font-size: 0.5em;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 1px;
      right: -11px;
      font-size: 0.5em;
    }
  }
  & [aria-sort='ascending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25b2';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
  & [aria-sort='descending'] button .sort-icon {
    &::before {
      display: none;
    }
    &::after {
      content: ' \25bc';
      position: absolute;
      top: 2px;
      right: -15px;
      font-size: 0.8em;
    }
  }
}

.govuk-tag {
  white-space: nowrap;
}

body.feature-disabled {
  .moj-multi-file-upload__delete {
    display: none;
  }
}

.govuk-summary-list__actions .govuk-link {
  white-space: normal;
}

.govuk-summary-list__hint {
  margin-top: 5px;
  color: #505a5f;
  display: block;
}

.rosh--very-high {
  color: $very-high-score-colour;
}

.rosh--high {
  color: $high-score-colour;
}

.rosh--medium {
  color: $medium-score-colour;
}

.rosh--low {
  color: $low-score-colour;
}

.rosh-widget {
  border: 2px solid govuk-colour('black');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  & h3,
  & h4 {
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}

.rosh-widget--none,
.risk-badge--none {
  background-color: $no-score-background-colour;
  border: 2px solid $no-score-border-colour;
  & h3,
  & h4 {
    color: $no-score-colour;
  }
}

.rosh-widget--unknown {
  border: 2px solid $unknown-score-border-colour;
}

.rosh-widget--low {
  border: 2px solid $low-score-border-colour;
  & h3,
  & h4 {
    color: $low-score-colour;
  }
}

.rosh-widget--medium {
  border: 2px solid $medium-score-border-colour;
  & h3,
  & h4 {
    color: $medium-score-colour;
  }
}

.rosh-widget--high {
  border: 2px solid $high-score-border-colour;
  & h3,
  & h4 {
    color: $high-score-colour;
  }
}

.rosh-widget--very-high {
  border: 2px solid $very-high-score-border-colour;
  & h3,
  & h4 {
    color: $very-high-score-colour;
  }
}

.rosh-widget__table {
  text-align: left;
  margin: 0;

  & tbody {
    & th {
      font-weight: 400;
    }

    & td {
      font-weight: bold;
    }
  }
}

.rosh-widget__risk--low {
  color: $low-score-colour;
}

.rosh-widget__risk--medium {
  color: $medium-score-colour;
}

.rosh-widget__risk--high {
  color: $high-score-colour;
}

.rosh-widget__risk--very-high {
  color: $very-high-score-colour;
}

.mappa-widget {
  border: 2px solid $mappa-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  & h3,
  & h4 {
    color: $mappa-colour;
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}

.technical-updates-banner {
  background-color: #f9e1ec;
  padding: 10px 0 10px 0;
}

.govuk-grid-row {
  margin-right: -15px;
  margin-left: -15px;
}

.technical-updates-container {
  color: #0b0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display-none {
  display: none;
}
