{% from "govuk/components/table/macro.njk" import govukTable %}

{% set tableData = {
  firstCellIsHeader: true,
  head: [
    {
      text: "Person on probation"
    },
    {
      classes: 'govuk-!-text-align-right',
      text: "Appointment type"
    },
    {
      classes: 'govuk-!-text-align-right',
      text: "Location"
    },
    {
      classes: 'govuk-!-text-align-right',
      text: "Time"
    }
  ],
  rows: []
} %}


{% for appointment in appointments %}
    {% set row = tableData.rows.push([
        {
            html: '<a class="govuk-!-font-weight-regular" href="/case/' + appointment.crn + '">' + appointment.caseName.surname + ', ' + appointment.caseName.forename + '</a><br><span class="govuk-!-font-weight-bold secondary-text">' + appointment.crn + '</span>'
        },
        {
            classes: 'govuk-!-text-align-right',
            html: '<a class="govuk-link" href="/case/' + appointment.crn + '/appointments/appointment/' + appointment.id + '">' + appointment.type + '</a>'
        },
        {
            classes: 'govuk-!-text-align-right',
            text: appointment.location if appointment.location else 'Not Provided'
        },
        {
            classes: 'govuk-!-text-align-right',
            text: appointment.startDateTime | shortTime + (' to ' + appointment.endDateTime | shortTime if appointment.endDateTime else '')
        }
    ]) %}
{% endfor %}

<div class="govuk-!-padding-3 govuk-!-padding-top-1">
  {{ govukTable(tableData) }}
  <p>
      <a class="govuk-link govuk-link--no-visited-state" href="/caseload/appointments/upcoming">View all upcoming appointments</a>
  </p>
</div>