{% set links = [
  {
    heading: 'Consider a recall',
    href: 'https://consider-a-recall-dev.hmpps.service.justice.gov.uk/',
    description: 'View information and assess whether to recommend a recall.'
  },
  {
    heading: 'Approved Premises (CAS1)',
    href: 'https://approved-premises.hmpps.service.justice.gov.uk/',
    description: 'Create, manage and view Approved Premises placements and assessments.'
  },
  {
    heading: 'Transitional Accommodation (CAS3)',
    href: 'https://transitional-accommodation-dev.hmpps.service.justice.gov.uk/referrals',
    description: 'Apply for temporary accommodation for someone who will leave prison at risk of homelessness.'
  },
  {
    heading: 'Create and vary a licence',
    href: 'https://create-and-vary-a-licence-dev.hmpps.service.justice.gov.uk',
    description: 'Produce standard determinate licences and post sentence supervision orders.'
  },
  {
    heading: 'Effective Proposal Framework (EPF2)',
    href: 'https://epf.linkspace.uk',
    description: 'Plan for the pre-release of offenders, ensuring offenders are reintegrated into the community successfully.'
  },
  {
    heading: 'NDelius',
    href: delius_link,
    description: 'Case management system within probation. '
  },
  {
    heading: 'OASys',
    href: oasys_link,
    description: 'Assessment system for sentence management and creating plans. '
  },
  {
    heading: 'Refer and monitor an intervention',
    href: interventions_link,
    description: 'Find, refer and monitor interventions.'
  }
] %}

<section data-qa="homepage-services-section">
  <h1 class="govuk-heading-m">Other services</h1>

  <div class="hmpps-services">
    {% for link in links %}
    <div class="hmpps-service-item">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-static-margin-top-0">
      <div class="hmpps-service-item__header">
        <p>
          <a href="{{ link.href }}" class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" target="_blank">{{ link.heading }}</a>
        </p>
      </div>
      <p class="govuk-!-static-margin-top-3 govuk-!-static-margin-bottom-0">{{ link.description }}</p>
    </div>
    {% endfor %}
  </div>
</section>