{% extends "../../partials/layout.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "probation/case-search/macro.njk" import caseSearch %}

{% set mainClasses = "app-container govuk-body" %}

{% block header %}
  {% include "../../partials/header.njk" %}
  {% block banner %}{% endblock %}
  <div class="dps-header">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l" data-qa="pageHeading">Manage people on probation</h1>
    </div>
  </div>
  <div class="dps-homepage-search">
    <div class="govuk-width-container">
      <div class="moj-search">
        <form id="search-form" class="probation-search__form" method="POST" action="/search">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <div class="probation-search__input-container">
            <div class="govuk-form-group">
              <label class="govuk-label" for="search">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label moj-search__label govuk-label--m" for="search">Find a person on probation</label>
                </h1>
              </label>
              <div id="search-hint" class="govuk-hint moj-search__hint">
                You can search by name, date of birth or any other identifier (for example <abbr title="Case Reference Number">CRN</abbr> or <abbr title="Police National Computer Identifier">PNC number</abbr>).
              </div>
              <input class="govuk-input" id="search" name="probation-search-input" type="search" aria-describedby="search-hint">
            </div>
            <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button" data-govuk-button-init="" data-qa="search-submit">
              Search
            </button>
            <p id="search-suggestions" class="probation-search__suggestions govuk-!-margin-top-1">
              <script nonce="">
                document
                  .getElementById("search-suggestions")
                  .addEventListener("click", e => {
                    if (e.target.dataset.suggestedQuery) {
                      document
                        .getElementById("search")
                        .value = e.target.dataset.suggestedQuery;
                      document
                        .getElementById("search-form")
                        .submit();
                    }
                  });
              </script>
            </p>
          </div>
        </form>
      </div>
      <p>
        <a class="govuk-link govuk-link--no-visited-state" href="/case">View your cases</a>
      </p>
    </div>
  </div>
{% endblock %}

{% set appointmentsTable %}
{% include './_appointments.njk' %}
{% endset %}

{% set outcomesTable %}
{% include './_outcomes.njk' %}
{% endset %}

{% block content %}
  {{ govukAccordion({
    id: "accordion-default",
    attributes: {
     'data-qa': 'homepage-appointments'
    },
    items: [
      {
        heading: {
            html: 'My upcoming appointments<a class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-margin-left-9" href="/caseload/appointments/upcoming">View all upcoming appointments</a'
        },
        content: {
            html: appointmentsTable
        }
      }
    ]
  }) }}

  {{ govukAccordion({
    id: "accordion-default",
    attributes: {
     'data-qa': 'homepage-outcomes'
    },
    items: [
      {
        heading: {
            html: 'Outcomes to log (' + totalOutcomes + ')<a class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-margin-left-9" href="/caseload/appointments/no-outcome">Log more outcomes</a>'
        },
        content: {
            html: outcomesTable
        }
      }
    ]
  }) }}

  <hr class="govuk-section-break--l">

  {% include './_other-services.njk' %}
{% endblock %}