{% extends "../../partials/layout.njk" %}
{% from "../../_components/govuk/accordion-mpop/macro.njk" import govukAccordion %}
{% from "probation/case-search/macro.njk" import caseSearch %}

{% set mainClasses = "app-container govuk-body" %}

{% block header %}
  {% include "../../partials/header.njk" %}
  {% block banner %}{% endblock %}
  <div class="dps-header">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l" data-qa="pageHeading">Manage people on probation</h1>
    </div>
  </div>
  <div class="dps-homepage-search">
    <div class="govuk-width-container">
      {{ appSearch('/search', csrfToken) }}
    </div>
  </div>
{% endblock %}

{% set appointmentsTable %}
{% include './_appointments.njk' %}
{% endset %}

{% set outcomesTable %}
{% include './_outcomes.njk' %}
{% endset %}

{% block content %}
  {{ govukAccordion({
    id: "accordion-default",
    attributes: {
     'data-qa': 'homepage-appointments'
    },
    rememberExpanded: false,
    items: [
      {
        heading: {
            html: 'My upcoming appointments' if appointments.length else ''
        },
        afterHeading: {
          html: '<span class="govuk-accordion__section-heading visibility-hidden" aria-hidden="true">My upcoming appointments</span><a class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-0 govuk-!-margin-left-9" href="/caseload/appointments/upcoming">View all upcoming appointments</a>'
        },
        content: {
            html: appointmentsTable
        },
        expanded: true if appointments.length == 0 else false
      }
    ]
  }) }}

  {{ govukAccordion({
    id: "accordion-default",
    attributes: {
     'data-qa': 'homepage-outcomes'
    },
    rememberExpanded: false,
    items: [
      {
        heading: {
            html: 'Outcomes to log' + (' (' + totalOutcomes + ')' if outcomes.length else '') 
        },
         afterHeading: {
          html: '<span class="govuk-accordion__section-heading visibility-hidden" aria-hidden="true">Outcomes to log' + (' (' + totalOutcomes + ')' if outcomes.length else '') + ' </span>' +  ('<a class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-0 govuk-!-margin-left-9" href="/caseload/appointments/no-outcome">Log more outcomes</a>' if outcomes.length else '')
        },
        content: {
            html: outcomesTable
        },
        expanded: true if outcomes.length == 0 else false
      }
    ]
  }) }}

  <hr class="govuk-section-break--l">

  {% include './_other-services.njk' %}
{% endblock %}