{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set queryParams = 'category=' + category + '&view=default&requirement=' + requirement + '&' + filters.queryStr + '&page=' + page %}
{% set link = '/case/' + crn + '/activity/' + entry.id + '?back=' + url %}
{% if entry.isAppointment %}
  {% set link = '/case/' + crn + '/appointments/appointment/' + entry.id + '/manage?back=' + url %}
  {% elif entry.esupervisionId %}
  {% set link = '/case/' + crn + '/appointments/' + entry.esupervisionId + '/check-in/update?back=' + url %}
{% endif %}

{% macro rendersummaryText(activity) %}
  <span>
    {{ activity.type }}
  </span>
  {% if activity.isAppointment === true %}
    {{ appComplianceTag({ entry: activity, classes: 'govuk-!-margin-left-2 contact-activity-tag', compact: true }) }}
    {% elif activity.isCommunication %}
    {{ appComplianceTag({ entry: activity, classes: 'govuk-!-margin-left-2 contact-activity-tag', compact: true }) }}
  {% else %}
    {{ appComplianceTag({ entry: activity, classes: 'govuk-!-margin-left-2 contact-activity-tag', compact: true }) }}
  {% endif %}
{% endmacro %}

<table class="govuk-table govuk-!-margin-top-4">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-quarter">Date</th>
    <th class="govuk-table__header govuk-!-width-one-half">Activity</th>
    <th class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for entry in entries %}
    {% set lastDate = lastEntry.startDateTime | compactActivityLogDate %}
    {% set thisDate = entry.startDateTime | compactActivityLogDate %}
    {% set activities = entries | filterActivities(entry.startDateTime) %}
    {% if lastDate != thisDate %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-quarter">{{ thisDate }}</td>
        <td class="govuk-table__cell govuk-!-width-one-half govuk-!-padding-bottom-0" data-qa="timeline{{ loop.index }}Card">
          <ul class="govuk-list govuk-!-margin-bottom-0 app-activity-log-day-items">
            {% for activity in activities %}
              <li class="contact-activity">
                {% set notes = '' %}
                {% set hasNote = activity.appointmentNote and activity.hasOutcome != true %}
                {% set hasNotes = activity.appointmentNotes.length > 0 and activity.hasOutcome != true %}
                {% if hasNotes %}
                  {% for appointmentNote in activity.appointmentNotes %}
                    {% if appointmentNote.note %}
                      {% set notes = notes.concat(appNote({
                        note: appointmentNote.note,
                        hasNoteBeenTruncated: appointmentNote.hasNoteBeenTruncated,
                        createdBy: appointmentNote.createdBy,
                        createdByDate: appointmentNote.createdByDate,
                        lastUpdatedBy: activity.lastUpdatedBy,
                        lastUpdated: activity.lastUpdated
                      }, '/case/' + crn + '/appointments/appointment/' + activity.id + '/manage/note/' + appointmentNote.id + '?back=' + url)) %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {{ govukDetails({
                  summaryText: rendersummaryText(activity),
                  html: notes
                }) }}
                {% include "./_compact-timeline-entry.njk" %}
              </li>
            {% endfor %}
          </ul>
        </td>
        <td class="govuk-table__cell govuk-!-width-one-quarter">&nbsp;</td>
      </tr>
      {% set lastEntry = entry %}
    {% endif %}
  {% endfor %}
  </tbody>
</table>