{% set hasAppointmentStartTimePassed = isInThePast(entry.startDateTime) %}
{% set shouldPromptToRecordAnOutcome = entry.hasOutcome === false and hasAppointmentStartTimePassed %}

{% set link = '/case/' + crn + '/activity/' + entry.id + '?back=' + url %}
{% if entry.isAppointment %}
  {% set link = '/case/' + crn + '/appointments/appointment/' + entry.id + '/manage?back=' + url %}
  {% elif entry.esupervisionId %}
  {% set link = '/case/' + crn + '/appointments/' + entry.esupervisionId + '/check-in/update?back=' + url %}
{% endif %}

{% set titleHtml %}
  <ul class="govuk-list contact-activity__actions govuk-!-margin-top-0">
    <li><a href="{{ link }}" class="govuk-link govuk-!-margin-right-2" rel="noopener noreferrer">View</a></li>
    <li>
      {% if entry.esupervisionId and flags.enableESuperVision %}
        {% elif shouldPromptToRecordAnOutcome %} {% include './_log-outcome-link.njk' %}
      {% endif %}
    </li>
  </ul>
{% endset %}

{{ titleHtml | safe }}