{% if entry.deliusManaged %}
    <a href="{{ deliusDeepLinkUrl('UpdateContact', crn, entry.id) }}" target="_blank" rel="external noopener noreferrer" class="govuk-!-margin-left-2 govuk-!-font-weight-bold">Log an outcome<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
{% else %}
    <a href="/case/{{ crn }}/appointments/appointment/{{ entry.id }}/record-an-outcome?back=/case/{{ crn }}/activity-log{{ '?page=' + page if page else '' }}" class="govuk-!-margin-left-2 govuk-!-font-weight-bold">Log an outcome</a>
{% endif %}