{% if entry.esupervisionId %}
    <a href="/case/{{ crn }}/appointments/{{ entry.esupervisionId }}/check-in/update?back={{ url }}" class="govuk-!-margin-left-2 govuk-!-font-weight-bold">Update</a>
{% elseif entry.deliusManaged %}
    <a href="{{ deliusDeepLinkUrl('UpdateContact', crn, entry.id) }}" target="_blank" rel="external noopener noreferrer" class="govuk-!-margin-left-2 govuk-!-font-weight-bold">Manage on NDelius<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
{% else %}
    <a href="/case/{{ crn }}/appointments/appointment/{{ entry.id }}/manage?back={{ url }}" class="govuk-!-margin-left-2 govuk-!-font-weight-bold">Manage</a>
{% endif %}