{% set hasAppointmentStartTimePassed = isInThePast(entry.startDateTime) %}
{% set shouldPromptToRecordAnOutcome = entry.hasOutcome === false and hasAppointmentStartTimePassed %}

{% set titleHtml %}
<span class="govuk-heading-s govuk-!-margin-bottom-0">
  <a href="/case/{{ crn }}/appointments/appointment/{{ entry.id }}/manage?category={{ category }}&view=default&requirement={{ requirement }}&{{filters.queryStr}}&page={{page}}&back={{ baseUrl }}" class="app-!-inherit-colour">{{ entry.type | toSentenceCase }}
    <span class="govuk-visually-hidden"> on {{ thisDate }}</span></a>
</span>
{% endset %}

{% set actionsHtml %}
{{ appComplianceTag({ entry: entry, classes: 'govuk-!-margin-left-2' }) }}
{% if shouldPromptToRecordAnOutcome %}
  {% include './_log-outcome-link.njk' %}
{% endif %}
{% endset %}

{% set html %}
{% include './_timeline-notes.njk' %}
{% endset %}

{{ appSummaryCard({
  attributes: {'data-qa': 'timeline' + loop.index + 'Card'},
  titleHtml: titleHtml,
  classes: 'govuk-!-margin-bottom-2 app-summary-card--white-header',
  html: html,
  actionsHtml: actionsHtml
}) }}