{% set hasAppointmentStartTimePassed = isInThePast(entry.startDateTime) %}
{% set shouldPromptToRecordAnOutcome = entry.hasOutcome === false and hasAppointmentStartTimePassed %}
{% set link = '/case/' + crn + '/activity/' + entry.id + '?back=' + url %}
{% if entry.isAppointment %}
  {% set link = '/case/' + crn + '/appointments/appointment/' + entry.id + '/manage?back=' + url %}
  {% elif entry.esupervisionId %}
  {% set link = '/case/' + crn + '/appointments/' + entry.esupervisionId + '/check-in/update?back=' + url %}
{% endif %}

{% set titleHtml %}
    <ul class="govuk-list contact-activity__actions govuk-!-margin-bottom-0">
    {% if entry.esupervisionId %}
      <li><a href="{{ link }}" data-qa="esup-manage-link">Manage<span class="govuk-visually-hidden"> {{ entry.displayName or entry.type }}</span></a></li>
      {% elif shouldPromptToRecordAnOutcome %}
        {% include './_log-outcome-link.njk' %}
      {% else %}
      {% if flags.enableEnforcementContacts and (entry.type === 'Alcohol Consumption' or entry.type === 'Critical Communications') %}
        <li>
          <a href="{{ deliusDeepLinkUrl('UpdateContact', crn, entry.id) }}" target="_blank" rel="external noopener noreferrer" class="contact-activity__manage-link" data-qa="manage-on-delius-link">
            Manage on NDelius<span class="govuk-visually-hidden"> {{ entry.displayName or entry.type }} (opens in new tab)</span>
          </a>
        </li>
      {% else %}
        <li>
          <a href="{{ link }}" rel="noopener noreferrer" class="govuk-!-margin-right-6" data-qa="view-link">
            {% if flags.enableManageContacts and (entry.displayName or entry.isUpdatableContact) %}
              Manage
            {% else %}
              View
            {% endif %}
            <span class="govuk-visually-hidden"> {{ entry.displayName or entry.type }}</span>
          </a>
        </li>
      {% endif %}
    {% endif %}
  </ul>
{% endset %}

{{ titleHtml | safe }}
