{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set queryParams = 'category=' + category + '&view=default&requirement=' + requirement + '&' + filters.queryStr + '&page=' + page %}

{% macro renderComplianceTag(activity) %}
  {% if activity.isAppointment === true %}
    {{ appComplianceTag({ entry: activity, classes: 'govuk-!-margin-left-2 contact-activity__tag', compact: true }) }}
    {% elif activity.isCommunication %}
    {{ appComplianceTag({ entry: activity, classes: 'govuk-!-margin-left-2 contact-activity__tag', compact: true }) }}
  {% else %}
    {{ appComplianceTag({ entry: activity, classes: 'govuk-!-margin-left-2 contact-activity__tag', compact: true }) }}
  {% endif %}
{% endmacro %}

{% macro rendersummaryText(activity) %}
  <span>
    {{ activity.type | toSentenceCase }}
  </span>
{% endmacro %}

<table class="govuk-table govuk-!-margin-top-4 contact-log-compact">
  <caption class="govuk-visually-hidden">Contact log</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Contact</th>
    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter contact-activity__actions-header">Actions</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for group in groupedActivities %}
    {% set groupIndex = loop.index %}
    {% for activity in group.activities %}
      {% set entry = activity %}
      <tr class="govuk-table__row" data-qa="record-{{ groupIndex }}">
        {% if loop.first %}
          <td class="govuk-table__cell govuk-!-width-one-quarter"{% if group.activities.length > 1 %} rowspan="{{ group.activities.length }}"{% endif %}>{{ group.date }}</td>
        {% endif %}
        <td class="govuk-table__cell govuk-!-width-one-half govuk-!-padding-bottom-0 contact-log-compact-row {% if loop.last %} contact-log-compact-row--last{% endif %}" data-qa="timeline{{ groupIndex }}activity{{ loop.index }}Card">
          {% set notes = '' %}{% set link = '/case/' + crn + '/activity/' + activity.id + '?back=' + url %}
          {% if activity.isAppointment %}
            {% set link = '/case/' + crn + '/appointments/appointment/' + activity.id + '/manage?back=' + url %}
          {% elif activity.esupervisionId %}
            {% set link = '/case/' + crn + '/appointments/' + activity.esupervisionId + '/check-in/update?back=' + url %}
          {% endif %}
          {% set hasNotes = activity.appointmentNotes.length > 0 %}
          <div class="contact-log-compact__contact-wrapper">
            <div class="contact-log-compact__contact-content">
              {% if hasNotes %}
                {% for appointmentNote in activity.appointmentNotes %}
                  {% if appointmentNote.note %}
                    {% set notes = notes.concat(appNote({
                      note: appointmentNote.note,
                      hasNoteBeenTruncated: appointmentNote.hasNoteBeenTruncated,
                      createdBy: appointmentNote.createdBy,
                      createdByDate: appointmentNote.createdByDate,
                      lastUpdatedBy: activity.lastUpdatedBy,
                      lastUpdated: activity.lastUpdated
                    }, '/case/' + crn + '/appointments/appointment/' + activity.id + '/manage/note/' + appointmentNote.id + '?back=' + url, 'View full contact')) %}
                  {% endif %}
                {% endfor %}
                {{ govukDetails({
                  summaryHtml: rendersummaryText(activity),
                  html: notes,
                  attributes: {'data-qa': 'summary-text' + groupIndex }
                }) }}
              {% else %}
                <div class="govuk-!-margin-bottom-6 contact-activity--noNotes">
                  <a href="{{ link }}" rel="noopener noreferrer" class="govuk-link" data-qa="summry-text-link">{{ activity.type | toSentenceCase }}</a>
                </div>
              {% endif %}
            </div>
            {{ renderComplianceTag(activity) }}
          </div>
        </td>
        <td class="govuk-table__cell govuk-!-width-one-quarter contact-activity__actions-cell contact-log-compact-row {% if loop.last %} contact-log-compact-row--last{% endif %}">
          {% include "./_compact-timeline-entry.njk" %}
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>