@use '../../../node_modules/@ministryofjustice/frontend/moj/components/sortable-table/_sortable-table' as *;

.non-sortable__sortable-table-header {
  color: #005ea5;
}

.non-sortable__sortable-table-header-black {
  color: #000000;
  font-weight: 400;
}
