// Alerts table styling
.alerts-table {
  .govuk-table__header--checkbox {
    width: 50px;
  }

  .govuk-table__cell--checkbox {
    vertical-align: middle;
  }

  .govuk-checkboxes--small {
    margin-bottom: 0;
    
    .govuk-checkboxes__item {
      min-height: 0;
      margin-bottom: 0;
      padding-left: 30px;
    }

    .govuk-checkboxes__input {
      width: 20px;
      height: 20px;
    }

    .govuk-checkboxes__label {
      padding: 0;
    }
  }

  .govuk-details {
    margin-bottom: 0;
    margin-top: 10px;
    
    .govuk-details__summary {
      font-size: 16px;
      color: govuk-colour("blue");
    }

    .govuk-details__text {
      padding: 15px;
      padding-left: 20px;
      border-left: 5px solid govuk-colour("mid-grey");
      margin-top: 10px;
    }
  }

  .govuk-summary-list--no-border {
    .govuk-summary-list__row {
      border: 0;
      margin-bottom: 10px;
    }

    .govuk-summary-list__key {
      font-weight: 700;
      width: 30%;
    }
  }
}

// Sortable table headers
.govuk-table__header--sortable {
  .sort-button {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: 0;
    padding: 0;
    font-weight: 700;
    font-size: 19px;
    font-family: inherit;
    cursor: pointer;
    color: govuk-colour("blue");
    
    &:hover {
      text-decoration: underline;
      color: darken(govuk-colour("blue"), 10%);
    }

    &:focus {
      outline: 3px solid govuk-colour("yellow");
      outline-offset: 0;
      background-color: govuk-colour("yellow");
      color: govuk-colour("black");
    }
  }

  .sort-indicator {
    font-size: 14px;
    margin-left: 5px;
  }
}

[aria-sort="none"] .sort-indicator::before {
  content: " ↕";
}

[aria-sort="ascending"] .sort-indicator::before {
  content: " ↑";
}

[aria-sort="descending"] .sort-indicator::before {
  content: " ↓";
}

// Risk badges (using MOJ badge styles)
.moj-badge {
  display: inline-block;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  text-transform: uppercase;

  &--very-high-rosh {
    background-color: #d4351c;
    color: govuk-colour("white");
  }

  &--high-rosh {
    background-color: #f47738;
    color: govuk-colour("white");
  }

  &--medium-rosh {
    background-color: #ffdd00;
    color: govuk-colour("black");
  }

  &--low-rosh {
    background-color: #00703c;
    color: govuk-colour("white");
  }
}

// Pagination styling (MOJ pagination component)
.moj-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 5px;
  }

  &__item {
    &--active .moj-pagination__link {
      background-color: govuk-colour("blue");
      color: govuk-colour("white");
      pointer-events: none;
      font-weight: 700;
    }

    &--prev,
    &--next {
      .moj-pagination__link {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  &__link {
    display: inline-block;
    min-width: 45px;
    padding: 10px 15px;
    border: 2px solid govuk-colour("mid-grey");
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    color: govuk-colour("blue");
    font-weight: 400;

    &:hover:not([aria-current="page"]) {
      background-color: govuk-colour("light-grey");
      text-decoration: underline;
    }

    &:focus {
      outline: 3px solid govuk-colour("yellow");
      outline-offset: 0;
      background-color: govuk-colour("yellow");
      color: govuk-colour("black");
    }
  }

  &__icon {
    width: 17px;
    height: 13px;
    fill: currentColor;
  }

  &__link-label {
    font-weight: 700;
  }
}

// Button group styling
.govuk-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
