{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set baseDropdown = [
  {
    value: "choose",
    text: "Select provider"
  }]
%}

{%- set filterOptionsHtml %}
{{ govukRadios({
    name: 'matchAllTerms',
    fieldset: {
       attributes: {
        'data-qa': 'matchAllTerms'
      },
      legend: {
        text: "Match all terms?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    classes: "govuk-radios--small govuk-radios--inline",
    items: [
        {
            value: true,
            text: "Yes",
            checked: params.results.response.matchAllTerms if params.results.response.matchAllTerms !== undefined else true
        },
        {
            value: false,
            text: "No",
            checked: not params.results.response.matchAllTerms if params.results.response.matchAllTerms !== undefined else false
        }
    ]
  }) }}

{{ govukSelect({
    name: "providers-filter",
    attributes: {
      'data-qa': 'providersFilter'
    },
    label: {
        text: "Provider",
        classes: "govuk-fieldset__legend--s"
    },
    items: baseDropdown.concat(params.results.response.providers)
}) }}
{% endset %}

{% if params.results.response.providers | length > 0 %}
  {{ mojFilter({
    heading: {
      html: 'Filter results',
      classes: 'govuk-heading-s'
    },
    submit: {
      value: "Apply filters",
      attributes: {
          "data-qa": "submit-button",
          "id": "apply-filters"
      }
    },
    optionsHtml: filterOptionsHtml
  }) }}
{% endif %}
