{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set labelHtml %}
    {%- include "./search-tooltip.njk" -%}
{% endset %}

<div class="moj-search">

    <form id="{{ params.id }}-form" class="probation-search__form" method="POST">
        <input type="hidden" name="_csrf" value="{{ params.results.csrfToken }}">

        <div class="probation-search__input-container">
            <div class="govuk-input__wrapper_mpop moj-search__input-wrapper">
            {{ govukInput({
                attributes: params.attributes,
                autocomplete: params.autocomplete,
                classes: params.classes,
                errorMessage: { text: "Enter a search term" } if params.results.errorMessage.text === "Please enter a search term" else params.results.errorMessage,
                hint: params.hint if params.hint else {
                    classes: 'moj-search__hint',
                    html: labelHtml
                },
                id: params.id if params.id else "search",
                label: params.label if params.label else {
                    text: "Find a person on probation",
                    classes: "moj-search__label govuk-label--l",
                    isPageHeading: true
                },
                name: "probation-search-input",
                type: params.type if params.type else "search",
                value: params.results.query
            }) }}

            {% if not params.enableAsYouTypeSearch %}
                {{ govukButton({ id: "search-button", text: "Search", classes: "govuk-button moj-search__button_mpop" }) }}
            {% endif %}
            </div>

            <p id="{{ params.id }}-suggestions" class="probation-search__suggestions govuk-!-margin-top-1">
                {% if params.results.suggestions | length %}
                    Did you mean
                    {%- set comma = joiner() %}
                    {%- for suggestion in params.results.suggestions %}{{ comma() }}
                        <a href="#" data-suggested-query="{{ suggestion.newQuery }}"
                           class="govuk-link govuk-link--no-visited-state"
                           title="Search again using {{ suggestion.text }}">{{ suggestion.text }}</a>
                    {%- endfor %}?
                {% endif %}
                <script nonce="{{ params.results.cspNonce }}">
                  document.getElementById("{{ params.id }}-suggestions").addEventListener("click", e => {
                    if (e.target.dataset.suggestedQuery) {
                      document.getElementById("{{ params.id }}").value = e.target.dataset.suggestedQuery;
                      document.getElementById("{{ params.id }}-form").submit();
                    }
                  });
                </script>
            </p>
        </div>
    </form>
</div>
