{% macro caseSearch(params) %}
    {%- include "./form.njk" -%}
    <div class="govuk-grid-row">
        {{ params.results | dump }}
        <div class="govuk-grid-column-one-quarter">
            {%- include "./filters.njk" -%}
        </div>
        <div class="govuk-grid-column-three-quarters">
            {%- include "./results.njk" -%}
        </div>
    </div>
{% endmacro %}
