{% extends "../../partials/layout.njk" %}
{% set title = 'My upcoming appointments' %}
{% set pageTitle = makePageTitle({ pageHeading: title }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l" data-qa="pageHeading">{{ title }}</h1>
            {% if userSchedule.appointments.length > 0 %}
            {% set rows = [] %}
            {% for appointment in userSchedule.appointments %}
                {% set fullName %}
                    {{ appointment.caseName.surname }}, {{ appointment.caseName.forename }}
                {% endset %}
                {% set otherSentencesLink = '' %}
                {% if appointment.numberOfAdditionalSentences > 0 %}
                {% set otherSentencesLink = '<br><a href="/case/' + appointment.crn + '/sentence">+ ' + appointment.numberOfAdditionalSentences + ' more</a>' %}
                {% endif %}
                {% set rows = (rows.push(
                    [
                        { html: '<a class="govuk-!-font-weight-bold" href="/case/' + appointment.crn + '">' + fullName + '</a>
                                  <br><span class="govuk-!-font-weight-bold secondary-text">' + appointment.crn + '</span>', attributes: { 'data-sort-value': appointment.caseName.surname } },
                        { html: appointment.dob | dateWithYear + "<br><span class='secondary-text'>Age " + appointment.birthdate.year | yearsSince + "</span>", attributes: { "data-sort-value": appointment.birthdate.year } },
                        { html: appointment.latestSentence + otherSentencesLink },
                        { html: '<a class="govuk-link" href="/case/' + appointment.crn + '/appointments/appointment/' + appointment.id + '">' + appointment.type + '</a>',
                          attributes: { "data-sort-value": appointment.type  }
                        },
                        {
                            html: appointment.startDateTime | dateWithYear + "</br><span class='secondary-text'>" + appointment.startDateTime | govukTime + " to " + appointment.endDateTime | govukTime + "</span>",
                            format: "numeric",
                            classes: "govuk-!-text-align-left",
                            attributes: { "data-sort-value": appointment.startDateTime }
                        }
                    ]
                ), rows) %}
            {% endfor %}

            {%- from "govuk/components/table/macro.njk" import govukTable -%}
<div class="moj-scrollable-pane">
            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                head: [
                    {
                        text: "Name / CRN",
                        attributes: { "aria-sort": "none" }
                    },
                    {
                        text: "DOB / Age",
                        attributes: { "aria-sort": "none" },
                        classes: "nowrap"
                    },
                    {
                        text: "Sentence",
                        attributes: { "aria-sort": "none" }
                    },
                    {
                        text: "Appointment",
                        attributes: { "aria-sort": "none" }
                    },
                    {
                        text: "Date and time",
                        attributes: { "aria-sort": "none" }
                    }
                ],
                rows: rows
            }) }}
            </div>
            {% if userSchedule.totalPages > 1 %}
<div class="govuk-!-margin-top-2 flex flex--center">
 {{ appPagination({
  currentPage: page | int,
  totalPages: userSchedule.totalPages,
  url: '/caseload/appointments/upcoming?'
  }) }}
</div>
{% endif %}
        </div>
        {% else %}
<p>No upcoming appointments.</p>
        {% endif %}
    </div>
{% endblock %}