{% extends "./caseload.njk" %}
{% set title = "Recently viewed cases" %}
{% set pageTitle = makePageTitle({ pageHeading: title }) %}

{% block pageContent %}
    <p id="recent-cases-none">You do not have any recently viewed cases</p>
    <table id="recent-cases-table" class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name / CRN</th>
            <th scope="col" class="govuk-table__header">DOB / Age</th>
            <th scope="col" class="govuk-table__header">Tier</th>
            <th scope="col" class="govuk-table__header">Sentence</th>
        </tr>
        </thead>
        <tbody id="tabBody" class="govuk-table__body">
        <meta name="csrf-token" content="{{csrfToken}}">
        <script src="/assets/js/jquery.min.js" nonce="{{ cspNonce }}"></script>
    </table>
{% endblock %}