{% extends "../../../_form.njk" %}
{% set title = "Is there anything you need support with or want to let us know about?" %}
{% set pageTitleText = "Question preview of Is there anything else you need support with or want to let us know about?" %}
{% set pageTitle = makePageTitle({
  pageHeading: [pageTitleText]
}) %}
{% set buttonText = "Back to questions" %}
{% set formAnchorText = "Back to questions" %}
{% set formAnchorLink = "/case/"+ crn + "/appointments/check-in/manage/" + id + "/questions/add" %}
{% set notStandardForm = true %}
{% set backLink = back if back else "/case/"+  crn + "/appointments/check-in/manage/" + id + "/questions/add" %}



{% block primary %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Question preview</h2>
            <p>This is a non-editable preview of the question that the person will be asked when they check in.</p>

            <h3 class="govuk-heading-m govuk-!-margin-bottom-2" data-qa="pageHeading">
                {{ title }}
            </h3>
            <p class="govuk-hint">
                This could be anything you're worrying about, struggling with or just want to let us know.
            </p>

            <div class="govuk-form-group">
                <div class="govuk-checkboxes disabled-checkboxes" data-module="govuk-checkboxes">
                    {% set supportOptions = [
                        { label: "Mental health", id: "mentalHealthSupport", text: "Tell us what you want us to know about mental health (optional)" },
                        { label: "Alcohol", id: "alcoholSupport", text: "Tell us what you want us to know about alcohol (optional)" },
                        { label: "Drugs", id: "drugsSupport", text: "Tell us what you want us to know about drugs (optional)" },
                        { label: "Money", id: "moneySupport", text: "Tell us what you want us to know about money (optional)" },
                        { label: "Housing", id: "housingSupport", text: "Tell us what you want us to know about housing (optional)" },
                        { label: "Employment and education", id: "employmentAndEducationSupport", text: "Tell us what you want us to know about employment and education (optional)" },
                        { label: "Relationships (family, friends, partner)", id: "relationshipsSupport", text: "Tell us what you want us to know about your relationships (optional)" },
                        { label: "Something else", id: "otherSupport", text: "Tell us what you want us to know about (optional)" }
                    ] %}
                    {% for item in supportOptions %}
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="{{ item.id }}-checkbox" name="assistance" type="checkbox" checked  data-aria-controls="conditional-{{ item.id }}" aria-disabled="true">
                            <label class="govuk-label govuk-checkboxes__label" for="{{ item.id }}-checkbox">
                                {{ item.label }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-{{ item.id }}">
                            {{ govukTextarea({
                                name: item.id,
                                id: item.id + "-textarea",
                                label: { text: item.text },
                                attributes: { "readonly": "readonly" }
                            }) }}
                        </div>
                    {% endfor %}
                    <div class="govuk-checkboxes__divider">or</div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="no-help-checkbox" name="assistance" type="checkbox" value="none" data-behaviour="exclusive">
                        <label class="govuk-label govuk-checkboxes__label" for="no-help-checkbox">
                            No, I do not need any support
                        </label>
                    </div>

                </div>
            </div>

            <div class="govuk-button-group">
                <a href="{{ formAnchorLink }}" class="govuk-button" data-qa="submit-btn">{{ buttonText }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script nonce="{{ cspNonce }}">
    const allCheckboxes = document.querySelectorAll('.disabled-checkboxes .govuk-checkboxes__input')
    const allTextareas = document.querySelectorAll('.disabled-checkboxes .govuk-textarea')
    // Disable keyboard interaction with checkboxes and textareas (apart from tabbing)
    allCheckboxes.forEach(checkbox => checkbox.onkeydown = (key) => { return key.key === 'Tab' })
    allTextareas.forEach(textarea => textarea.onkeydown = (key) => { return key.key === 'Tab' })
</script>
{% endblock %}
