{% extends "../../../partials/contacts.njk" %}
{% set title = "Online check ins" %}
{% set checkinLink = '/case/' + crn + '/appointments/check-in/instructions' %}
{% set changeDtLink = '/case/' + crn + '/appointments/check-in/manage/' + id +  '/settings' %}
{% set changeContactLink = '/case/' + crn + '/appointments/check-in/manage/' + id +  '/contact' %}
{% set stopCheckinLink = '/case/' + crn + '/appointments/check-in/manage/' + id +  '/stop-checkin' %}
{% set photoLabel = "Photo of " + case.name.forename %}
{% set photoUrl = offenderCheckinsByCRNResponse.photoUrl %}
{% set backLink = '/case/' + crn %}

{% if offenderCheckinsByCRNResponse.contactPreference === 'EMAIL' %}
    {% set methodLabel = '<span data-qa="methodLabel">Email address</span>' %}
    {% set methodValue = '<span data-qa="methodValue">' + email + '</span>' %}
{% else %}
    {% set methodLabel = '<span data-qa="methodLabel">Mobile number</span>' %}
    {% set methodValue = '<span data-qa="methodValue">' + mobile + '</span>' %}
{% endif %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "< Back",
                href: backLink
            }
        ]
    }) }}
{% endblock %}

{% block pageContent %}
   {% if offenderCheckinsByCRNResponse.status === 'VERIFIED' %}
        <div class="moj-button-group__item">
            <a href="{{ stopCheckinLink }}" class="govuk-button govuk-button--warning govuk-!-margin-left"  data-qa="stop-checkin-btn" >Stop online check ins</a>
        </div>
    {% endif %}
    {% if offenderCheckinsByCRNResponse.status === 'INACTIVE' %}
        <div class="moj-button-group__item">
            <a href="#" class="govuk-button govuk-!-margin-left"  data-qa="restart-checkin-btn" >Restart online check ins</a>
        </div>
    {% endif %}
    {% set checkin %}
    {% set nextCheckin = offenderCheckinsByCRNResponse %}
    {% set nextCheckinText %}
            {{ govukSummaryList({
                rows: [
                    {
                        key: { html: '<span data-qa="firstCheckInDueLabel">First check in</span>'},
                        value: { html: '<span data-qa="firstCheckInValue">' + nextCheckin.firstCheckin | dateWithDayAndWithoutYear + '</span>'}
                    },
                    {
                        key: { html: '<span data-qa="frequencyLabel">Frequency</span>'},
                        value: { html: '<span data-qa="frequencyValue">' + nextCheckin.checkinInterval | userFriendlyString + '</span>'}
                    }
                ]
            }) }}
    {% endset %}
    {% endset %}
    {{ appSummaryCard({
        titleText: 'Check in settings',
        headingLevel: 3,
        classes: ['govuk-!-margin-bottom-6 app-summary-card--large-title'],
        attributes: {'data-qa': 'checkinSettingsCard'},
        html: nextCheckinText,
        actions: {
            items: [
                {
                    text: 'Change',
                    href: changeDtLink
                }
            ]
        }
    }) }}

    {% set contactDetailsText %}
        {{ govukSummaryList({
            rows: [
                {
                    key: { html: '<span data-qa="methodLabel">Method</span>'},
                    value: { html: '<span data-qa="methodValue">' + nextCheckin.contactPreference | userFriendlyString + '</span>'}
                },
                {
                    key: { html: methodLabel },
                    value: { html: methodValue }
                }
            ]
        }) }}



    {% endset %}

    {{ appSummaryCard({
        titleText: 'Contact details',
        headingLevel: 3,
        classes: ['govuk-!-margin-bottom-6 app-summary-card--large-title'],
        attributes: {'data-qa': 'checkinContactCard'},
        html: contactDetailsText,
        actions: {
            items: [
                {
                    text: 'Change',
                    href: changeContactLink
                }
            ]
        }
    }) }}
  {% set photoDisplayHtml %}
    {% if photoUrl %}
        <img
                src="{{ photoUrl }}"
                class="es-profile-image es-profile-image--small"
                alt="Image of {{ case.name.forename }} {{ case.name.surname }}"
                crossorigin />
    {% else %}
        <span>No image available</span>
    {% endif %}
  {% endset %}

    {% set photoText %}
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><span data-qa="photoLabel">{{ photoLabel }}</span></dt>
          <dd class="govuk-summary-list__value">{{ photoDisplayHtml | safe }}</dd>
        </div>
      </dl>
    {% endset %}

   {{ appSummaryCard({
        titleText: 'Photo',
        headingLevel: 3,
        classes: ['govuk-!-margin-bottom-6 app-summary-card--large-title'],
        attributes: {'data-qa': 'photoCard'},
        html: photoText
    }) }}


{% endblock %}