{% extends "../../../partials/contacts.njk" %}
{% set title = "Contact preferences" %}
{% set backLink =  '/case/' + crn + '/appointments/check-in/manage/' + id + '/restart-checkin' %}
{% set radioLabel =  "How does "+ case.name.forename + " want us to send a link to the service?" %}
{% set radioHint=  "We'll use these details to send a link to "+ case.name.forename + "  each time they need to use the check in service." %}
{% set setMobile =  '[esupervision]['+  crn + '][' + id +'][restartCheckin][checkInMobile]' %}
{% set setEmail =  '[esupervision]['+  crn + '][' + id +'][restartCheckin][checkInEmail]' %}
{% set setMobileError =  'esupervision-'+  crn + '-' + id +'-checkins-checkInMobile' %}
{% set setEmailError =  'esupervision-'+  crn + '-' + id +'-checkins-checkInEmail' %}
{% set cyaLink =  "?cya=true" if cya else  "" %}
{% set mobileValue = checkInMobile | default('No mobile number') %}
{% set emailValue = checkInEmail | default('No email address') %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "< Back",
                href: backLink
            }
        ]
    }) }}

    {{ mojBanner({
        type: 'success',
        text: 'Contact details saved',
        classes: 'govuk-!-margin-bottom-2',
        attributes: { "data-qa": "updateBanner"},
        iconFallbackText: 'Success'
    }) if success }}

{% endblock %}
{% block pageContent %}

    {% set contactDetails %}

        {{ govukSummaryList({
            rows: [
                {
                    key: { html: '<span data-qa="mobileNumberLabel">Mobile number</span>' },
                    value: { html: ('<span data-qa="mobileNumberValue" class="app-!-font-family-tabular">' + checkInMobile+ '</span>') if checkInMobile else '<span data-qa="mobileNumberValue">No mobile number</span>' },
                    actions: {
                    items: [{
                        href:"/case/" + crn + "/appointments/" + id +"/check-in/edit-contact-preference" + cyaLink,
                        text: "Change",
                        visuallyHiddenText: "mobile number",
                        attributes: {
                            'data-qa': 'mobileNumberAction'
                        }
                    }]
                }
                },
                {
                    key: { html: '<span data-qa="emailAddressLabel">Email address</span>' },
                    value: { html: '<span data-qa="emailAddressValue">' + checkInEmail+ '</span>' if checkInEmail else '<span data-qa="emailAddressValue">No email address</span>' },
                    actions: {
                    items: [{
                        href:"/case/" + crn + "/appointments/" + id +"/check-in/edit-contact-preference" + cyaLink,
                        text: "Change",
                        visuallyHiddenText: "email address",
                        attributes: {
                            'data-qa': 'emailAddressAction'
                        }
                    }]
                   }
                }
            ]
        }) }}

    {% endset %}

    <form method="post" autocomplete="off" action="{{ paths.current }}">
        {% if errorMessages[setMobileError] or errorMessages[setEmailError] %}
            {% if errorMessages[setMobileError] %}
                <div class="govuk-form-group govuk-form-group--error" id={{setMobileError}}>
            {% endif %}
            {% if errorMessages[setEmailError] %}
                <div class="govuk-form-group govuk-form-group--error" id={{setEmailError}}>
            {% endif %}
        {% else %}
            <div class="govuk-form-group">
        {% endif %}
        {% if errorMessages[setMobileError] %}
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{errorMessages[setMobileError]}}
            </p>
        {% endif %}
        {% if errorMessages[setEmailError] %}
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{errorMessages[setEmailError]}}
            </p>
        {% endif %}
        <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" data-qa="contactDetailsCard">
            <header class="app-summary-card__header">
                <h3 class="app-summary-card__title">
                    Contact details
                </h3>
            </header>
            <div class="app-summary-card__body">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><span data-qa="mobileNumberLabel">Mobile number</span></dt>
                        <dd class="govuk-summary-list__value"><span data-qa="mobileNumberValue" class="app-!-font-family-tabular">{{ mobileValue }}</span></dd>
                        <dd class="govuk-summary-list__actions">
                            <button type="submit"
                                    name="change"
                                    value="mobile"
                                    data-qa="mobileNumberAction"
                                    class="mpop-govuk-link-button">
                                Change<span class="govuk-visually-hidden"> mobile number</span>
                            </button>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><span data-qa="emailAddressLabel">Email address</span></dt>
                        <dd class="govuk-summary-list__value"><span data-qa="emailAddressValue" class="app-!-font-family-tabular"></span>{{ emailValue }}</dd>
                        <dd class="govuk-summary-list__actions">
                            <button type="submit"
                                    name="change"
                                    data-qa="emailAddressAction"
                                    value="emailAddress"
                                    class="mpop-govuk-link-button">
                                Change<span class="govuk-visually-hidden"> email address</span>
                            </button>
                        </dd>
                    </div>
                </dl>
            </div>
        </section>
        </div>
        <div class="govuk-!-width-one-half">
            {{ govukRadios({
                fieldset: {
                    legend: {
                        text: radioLabel ,
                        classes: "govuk-label--m govuk-!-font-weight-bold"
                    }
                },
                formGroup: {
                    attributes: {
                        'data-qa': 'checkInPreferredComs'
                    }
                },
                hint: {
                    html: radioHint
                },
                items: [
                    {
                        value: "PHONE",
                        text: "Text message"
                    },
                    {
                        value: "EMAIL",
                        text: "Email"
                    }
                ]
            } | decorateFormAttributes(['esupervision', crn, id, 'restartCheckin', 'preferredComs'])) }}

            <div class="govuk-button-group">
                <button type="submit" name ="change" value = "main" class="govuk-button" data-module="govuk-button" data-qa="submitBtn">
                    Continue
                </button>
            </div>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="esupervision[{{crn}}][{{id}}][restartCheckin][checkInMobile]" value="{{ checkInMobile }}">
            <input type="hidden" name="esupervision[{{crn}}][{{id}}][restartCheckin][checkInEmail]" value="{{ checkInEmail }}">
        </form>
    </div>


{% endblock %}