{% extends "../../../partials/layout.njk" %}
{% from "../../../_components/predictor-timeline-item/macro.njk" import predictorTimelineItem %}
{% set title = "Check your answers before restarting online check ins"  %}
{% set backLink =  '/case/' + crn + '/appointments/check-in/manage/' + id + '/restart-contact' %}
{% set setMobile =  '[esupervision]['+  crn + '][' + id +'][checkins][checkInMobile]' %}
{% set setEmail =  '[esupervision]['+  crn + '][' + id +'][checkins][checkInEmail]' %}
{% set checkInDateLabel = "When would you like " + case.name.forename + " to complete their next online check in?"  %}
{% set checkInDateVal = userDetails.date | dmyToLongDate  %}
{% set dateFrequencyLabel = "How often would you like " + case.name.forename + " to check in?"  %}
{% set sendLinkLabel = "How does " + case.name.forename + " want us to send a link to the service?"  %}
{% set name = "Image of " + case.name.forename + " added for identification" %}
{% set confirmEndUrl = '/case/' + crn + '/appointments/check-in/manage/' + id + '/restart-summary' %}
{% set changeDateUrl = '/case/' + crn + '/appointments/check-in/manage/' + id + '/restart-checkin?cya=true' %}
{% set contactPreUrl = '/case/' + crn + '/appointments/check-in/manage/' + id + '/restart-contact?cya=true' %}


{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "< Back",
                href: backLink
            }
        ]
    }) }}

{% endblock %}

{% block content %}
    {% set html %}
        <p class="govuk-notification-banner__heading">
            We’re not ready to handle this case
        </p>
        <p>You may find that:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>not all information is shown</li>
            <li>some information shows incorrectly</li>
        </ul>
    {% endset %}
    {% if data.features.showInappropriateCaseWarning %}
        {{ govukNotificationBanner({
            html: html
        }) }}
    {% endif %}

    {% include "../../../partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">

    <div
            id="registration-error"
            class="govuk-error-summary"
            aria-labelledby="error-summary-title"
            role="alert"
            tabindex="-1"
            hidden
    >
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
            <p class="govuk-error-message" id="registration-error-content"></p>
        </div>
    </div>
    {% if title %}
        <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
            {{ title }}
        </h2>
    {% endif %}
    {%  block pageContent %}
    {{ govukSummaryList({
        rows: [
            { key:
                { html:  checkInDateLabel  },
                value: { html:  checkInDateVal },
                actions: {
                items: [ {
                    href: changeDateUrl,
                    text: "Change",
                    visuallyHiddenText: "date",
                    attributes: {
                        'data-qa': 'dateAction'
                    }
                }
                ]
            } },
            { key:
                { html:  dateFrequencyLabel  },
                value: { html: userDetails.interval },
                actions: {
                items: [ {
                    href: changeDateUrl,
                    text: "Change",
                    visuallyHiddenText: "interval",
                    attributes: {
                        'data-qa': 'intervalAction'
                    }
                }
                ]
            } },
            { key:
                { html:  sendLinkLabel  },
                value: { html: userDetails.preferredComs},
                actions: {
                items: [ {
                    href: contactPreUrl,
                    text: "Change",
                    visuallyHiddenText: "preferredComs",
                    attributes: {
                        'data-qa': 'preferredComsAction'
                    }
                }
                ]
            } },
            { key:
                { html:  "Mobile number"  },
                value: { html: userDetails.checkInMobile},
                actions: {
                items: [ {
                    href: contactPreUrl,
                    text: "Change",
                    visuallyHiddenText: "checkInMobile",
                    attributes: {
                        'data-qa': 'checkInMobileAction'
                    }
                }
                ]
            } },
            { key:
                { html:  "Email address"  },
                value: { html: userDetails.checkInEmail},
                actions: {
                items: [ {
                    href: contactPreUrl,
                    text: "Change",
                    visuallyHiddenText: "checkInEmail",
                    attributes: {
                        'data-qa': 'checkInEmailAction'
                    }
                }
                ]
            } }
        ]
    }) }}

    <div class="govuk-!-width-one-half">

        <form id="completeRestartCheckinsForm" method="post" action="{{ confirmEndUrl }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <input type="hidden" id="setupId" name="setupId" value="{{ setupId }}" />
            <input type="hidden" id="hiddenCrn" name="hiddenCrn" value="{{ crn }}" />
            <input type="hidden" id="hiddenId" name="hiddenId" value="{{ id }}" />
                    <button type="submit" class="govuk-button" data-qa="submit-btn">Confirm</button>

        </form>
    </div>



{% endblock %}
{% endblock %}