{% extends "../../_form.njk" %}
{% set radioTitle = "Are you sure you want to stop online <br/> check ins for " + case.name.forename + "?" %}
{% set hintText = case.name.forename + " will no longer receive reminders to use the check in service." %}
{% set backLink =  '/case/' + crn + '/appointments/check-in/manage/' + id %}
{% set buttonText = "Continue" %}
{% set title = "Stop online check ins for " + case.name.forename %}
{% set pageTitleText = "Stop online check ins for the person" %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set showAnchorLink = true %}
{% set formAnchorLink = backLink %}
{% set formAnchorText = "Cancel and go back" %}

{% block form %}

        {{ govukTextarea({
            formGroup: {
                attributes: { "data-qa": "stop-checkin-reason"}
            },
            label: {
                text: "Reason for stopping",
                classes: 'govuk-label--m govuk-!-margin-bottom-3'
            },
            hint: {
                text: hintText
            }
        } | decorateFormAttributes(['esupervision', crn, id, 'manageCheckin', 'stopCheckinReason'])) }}

        {{ govukRadios({
            fieldset: {
                legend: {
                    text: 'Does the reason for stopping include sensitive information?',
                    classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
                }
            },
            hint: {
                text: 'This is information that you believe must be recorded but not shared with a person on probation. If they make a request for their record, the Data Protection Team will decide whether the information can be shared.'
            },
            formGroup: {
                attributes: {
                    'data-qa': 'sensitiveContact'
                }
            },
            items: [
                {
                    value: true,
                    text: "Yes, it includes sensitive information"
                },
                {
                    value: false,
                    text: "No, it is not sensitive"
                }
            ]
        } | decorateFormAttributes(['esupervision', crn, id, 'manageCheckin', 'stopCheckinSensitive'])) }}


{% endblock %}
