<h3 class="govuk-heading-m score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="RSR score">
    Offender personality disorder (OPD)
</h3>

{% if personRisks.opd.eligible === true %}
    <div class="text-secondary govuk-body govuk-!-margin-bottom-2 govuk-hint">
        Last updated (NDelius): {{ personRisks.opd.date | dateWithYear }}
    </div>
    <p class="govuk-body" data-qa="ogp-missing">Eligible</p>
{% else %}
    <p class="govuk-body" data-qa="ogp-missing">Not eligible</p>
{% endif %}