{% set band_ogrs4 = riskData
    .assessments[0]
    .allReoffendingPredictor
    .band %}
{% set isDynamic = true if riskData
    .assessments[0]
    .allReoffendingPredictor
    .staticOrDynamic == "Dynamic" else 
        false %}
{% set band_ogrs3 = riskData
    .assessments[0]
    .ogp
    .band %}
{% set showOGRS4 = true if band_ogrs4 and band_ogrs4 != "NOT APPLICABLE" and isDynamic == true else 
    false %}
{% set showOGRS3 = true if band_ogrs3 and band_ogrs3 != "NOT APPLICABLE" else 
    false %}

{% if showOGRS4 %}
    <section data-qa="allReoffendingPredictor">
        {% if flags.enableOGRS4SummaryCardDetail %}
            <div class="arns-summary-card-expanded-badge-spacing">
                {{ expandedPredictorBadge({
                    data: riskData,
                    predictor: "allReoffendingPredictor",
                    excludeDate: true,
                    fixedWidth: false
                }) }}
            </div>
        {% else %}
            {{ predictorScale({
                data: riskData,
                predictor: "allReoffendingPredictor",
                excludeDate: true,
                headingLevel: 4,
                headingClass: "xs"
            }) }}
        {% endif %}
    </section>
{% endif %}
{% if showOGRS3 %}
    <section data-qa="ogp">
        {{ predictorScale({
            data: riskData,
            predictor: "ogp",
            excludeDate: true,
            headingLevel: 4,
            headingClass: "xs"
        }) }}
    </section>
{% endif %}