{% if predictorScores.scores.OGP.level %}
    <section data-qa="ogp">
        <h{{ scoresHeadingLevel | default('3') }} class="govuk-heading-{{ scoresHeadingClass if scoresHeadingClass else 'm'  }} score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="OGP score">
        OGP (OASys general predictor score)
    </h{{ scoresHeadingLevel | default('3') }}>
        <div class="govuk-grid-row  govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-full">
                <div class="flex-mobile">
                    <div class='flex__item-one-third-mobile'>
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>1 year</h3>
                        <div class='govuk-body' data-qa='ogp-1yr'>{{ predictorScores.scores.OGP.oneYear }}%</div>
                    </div>
                    <div class='flex__item-one-third-mobile'>
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>2 year</h3>
                        <div class='govuk-body' data-qa='ogp-2yr'>{{ predictorScores.scores.OGP.twoYears }}%</div>
                    </div>
                    <div class='flex__item-one-third-mobile'>
                        <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>Level</h3>
                        <div class='govuk-body' data-qa='ogp-level'>{{ riskLevelLabel(predictorScores.scores.OGP.level) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}