{% if predictorScores.scores.OSPC.score %}
    <section data-qa="ospc">
        {{ predictorScale(
            {
            level: predictorScores.scores.OSPC.level,
            score: predictorScores.scores.OSPC.score,
            type: predictorScores.scores.OSPC.type,
            staticOrDynamic: predictorScores.scores.OSPC.staticOrDynamic | upper,
            lastUpdated: predictorScores.date
        },
        true,
        true,
        true
    )}}
    </section>
{% endif %}