{% if riskData
    .assessments[0]
    .indirectImageContactSexualReoffendingPredictor
    .band != "NOT APPLICABLE" or riskData
    .assessments[0]
    .ospiic
    .band %}
    <section data-qa="ospiic">
        {% if riskData
            .assessments[0]
            .indirectImageContactSexualReoffendingPredictor
            .band != "NOT APPLICABLE" %}
            {{ predictorScale({
    data: riskData,
    predictor: 'indirectImageContactSexualReoffendingPredictor'
      }) }}
        {% endif %}
        {% if iskData
            .assessments[0]
            .ospiic
            .band %}
            {{ predictorScale({
    data: riskData,
    predictor: 'ospiic'
      }) }}
        {% endif %}
    </section>
{% endif %}