{% if riskData
    .assessments[0]
    .directContactSexualReoffendingPredictor
    .band != "NOT APPLICABLE" or riskData
    .assessments[0]
    .ospdc
    .band %}
    <section data-qa="ospdc">
        {% if riskData
            .assessments[0]
            .directContactSexualReoffendingPredictor
            .band != "NOT APPLICABLE" %}
            {{ predictorScale({
    data: riskData,
    predictor: "directContactSexualReoffendingPredictor"
      }) }}
        {% endif %}
        {% if riskData
            .assessments[0]
            .ospdc
            .band %}
            {{ predictorScale({
    data: riskData,
    predictor: "ospdc"
      }) }}
        {% endif %}
    </section>
{% endif %}