{% if riskData
    .assessments[0]
    .violentReoffendingPredictor
    .band != "NOT APPLICABLE" or riskData
    .assessments[0]
    .ovp
    .band %}
    <section data-qa="ovp">
        {% if riskData
            .assessments[0]
            .violentReoffendingPredictor
            .band != "NOT APPLICABLE" %}
            {{ predictorScale({
    data: riskData,
    predictor: "violentReoffendingPredictor"
      }) }}
        {% endif %}
        {% if riskData
            .assessments[0]
            .ovp
            .band %}
            {{ predictorScale({
    data: riskData,
    predictor: "ovp"
      }) }}
        {% endif %}
    </section>
{% endif %}