{% if predictorScores.scores.OVP.level %}
    <section data-qa="ovp">
        {{ predictorScale(
            {
            level: predictorScores.scores.OVP.level,
            score: predictorScores.scores.OVP.oneYear,
            type: predictorScores.scores.OVP.type,
            staticOrDynamic: predictorScores.scores.OVP.staticOrDynamic | upper,
            lastUpdated: predictorScores.date
        },
        true,
        true,
        true
    )}}
    </section>
{% endif %}