{% if flags.enableOGRS4 %}
  {% set band_ogrs4 = riskData
    .assessments[0]
    .violentReoffendingPredictor
    .band %}
  {% set band_ogrs3 = riskData
    .assessments[0]
    .ovp
    .band %}
  {% set showOGRS4 = true if band_ogrs4 and band_ogrs4 != "NOT APPLICABLE" else 
    false %}
  {% set showOGRS3 = true if band_ogrs3 and band_ogrs3 != "NOT APPLICABLE" else 
    false %}

  {% if showOGRS4 %}
    <section data-qa="violentReoffendingPredictor">
      {% if flags.enableOGRS4SummaryCardDetail %}
        <div class="arns-summary-card-expanded-badge-spacing">
          {{ expandedPredictorBadge({
              data: riskData,
              predictor: "violentReoffendingPredictor",
              excludeDate: true,
              fixedWidth: false
            }) }}
        </div>
      {% else %}
        {{ predictorScale({
          data: riskData,
          predictor: "violentReoffendingPredictor",
          excludeDate: true
        }) }}
      {% endif %}
    </section>
  {% endif %}
  {% if showOGRS3 %}
    <section data-qa="ovp">
      {{ predictorScale({
    data: riskData,
    predictor: "ovp",
    excludeDate: true
      }) }}
    </section>
  {% endif %}
{% else %}
  {% if predictorScores.scores.OVP.level %}
    <section data-qa="ovp">
      <h{{ scoresHeadingLevel | default('3') }} class="govuk-heading-{{ scoresHeadingClass if scoresHeadingClass else 'm'  }} score-header govuk-!-margin-bottom-1" data-analytics-event-scroll="OVP score">
        OVP (OASys violent predictor score)
    </h{{ scoresHeadingLevel | default('3') }}>
      <div class="govuk-grid-row  govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full">
          <div class="flex-mobile">
            <div class='flex__item-one-third-mobile'>
              <h{{ scoresSubHeadingLevel | default('4') }} class='govuk-heading-s govuk-!-margin-bottom-1'>1 year</h{{ scoresSubHeadingLevel | default('4') }}>
              <div class='govuk-body' data-qa='ovp-1yr'>{{ predictorScores.scores.OVP.oneYear }}%</div>
            </div>
            <div class='flex__item-one-third-mobile'>
              <h{{ scoresSubHeadingLevel | default('4') }} class='govuk-heading-s govuk-!-margin-bottom-1'>2 year</h{{ scoresSubHeadingLevel | default('4') }}>
              <div class='govuk-body' data-qa='ovp-2yr'>{{ predictorScores.scores.OVP.twoYears }}%</div>
            </div>
            <div class='flex__item-one-third-mobile'>
              <h{{ scoresSubHeadingLevel | default('4') }} class='govuk-heading-s govuk-!-margin-bottom-1'>Level</h{{ scoresSubHeadingLevel | default('4') }}>
              <div class='govuk-body' data-qa='ovp-level'>{{ riskLevelLabel(predictorScores.scores.OVP.level) }}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endif %}