{% set scaleContent %}
  {% include "./_rsr.njk" %}
  {% include "./_ogrs.njk" %}
  {% include "./_ogp.njk" %}
  {% if not sanIndicator or not flags.enableSanIndicator %}
    {% if flags.enableOGRS4 %}
      {% include "./_ospdc.njk" %}
      {% include "./_ospiic.njk" %}
    {% else %}
      {% include "./_osp.njk" %}
    {% endif %}
  {% endif %}
  {% include "./_ovp.njk" %}
  {% include "./_snsv.njk" %}
{% endset %}

{% set latestAssessment = riskData.assessments | first if riskData.assessments else null %}
{% set latestAssessmentDateString = "Last updated: " + latestAssessment.completedDate if latestAssessment else null %}

{% if flags.enableOGRS4 %}
  {{ appSummaryCard({
    attributes: {'data-qa': 'riskScoresCard'},
    titleText: "Risk predictor scores",
    subTitleText: latestAssessmentDateString,
    headingLevel: scoresHeadingLevel | default('3'),
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: scaleContent
  }) }}
{% else %}
  {{ scaleContent | safe }}
{% endif %}
