<div class="govuk-grid-column-two-thirds">
    {% if hasRiskAssessment %}
        <div class='govuk-!-margin-bottom-4' data-qa="criminogenicNeeds">
            <h{{ scoresHeadingLevel | default('3') }} class="govuk-heading-m score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="RSR score">
                Criminogenic needs
            </h{{ scoresHeadingLevel | default('3') }}>
            {{ govukSummaryList({
                rows: [
                    {
                        key: { html: '<span data-qa="identifiedNeedsLabel">Need identified</span>' },
                        value: { html: '<span data-qa="identifiedNeedsValue">' + identifiedNeeds + '</span>' if needs else '<span data-qa="identifiedNeedsValue">Not provided</span>' }
                    },
                    {
                        key: { html: '<span data-qa="notIdentifiedNeedsLabel">No need identified</span>' },
                        value: { html: '<span data-qa="notIdentifiedNeedsValue">' + notIdentifiedNeeds + '</span>' if needs else '<span data-qa="notIdentifiedNeedsValue">Not provided</span>' }
                    },
                    {
                        key: { html: '<span data-qa="unansweredNeedsLabel">Not enough information provided</span>' },
                        value: { html: '<span data-qa="unansweredNeedsValue">' + unansweredNeeds + '</span>' if needs else '<span data-qa="unansweredNeedsValue">Not provided</span>' }
                    }
                ]
            }) }}
            {% if risks.assessedOn %}
                <p class="govuk-!-margin-bottom-6">
                    <a class="govuk-link--no-visited-state" target="_blank" rel="external noopener noreferrer" href="{{oasysLink}}" data-qa="oasysViewRiskAssessmentLink">
                        View the full risk assessment on OASys (opens in new tab).
                    </a>
                </p>
            {% endif %}
        </div>
      {% include './_risk-scores-card.njk' %}
    {% else %}
        {% set html %}
        <h{{ scoresHeadingLevel if scoresHeadingLevel else '3'  }} class="govuk-heading-m">There is no OASys Layer 3 risk assessment for {{ personRisks.personSummary.name | fullName }}</h{{ scoresHeadingLevel if scoresHeadingLevel else '3'  }}>
        {% include './_no-oasys-risk-assessment.njk' %}
        {% endset %}
        {{ govukNotificationBanner({ html: html, attributes: { 'data-qa': 'noOasysRiskBanner' } }) }}
    {% endif %}
    {% include './_risk-flags.njk' %}
    {% include './_opd.njk' %}
</div>

<div class="govuk-grid-column-one-third">
    {% include './_rosh.njk' %}
    {% include './_mappa.njk' %}
    <div data-qa="oasysScoreHistory">
        {{ predictorTimeline({ data: riskData }) }}
    </div>
    {% include './_sentence-plan.njk' %}
</div>