{% macro getOverallRiskLevelClass(level) %}
    {% if level == 'VERY_HIGH' %}
        rosh-widget--very-high
        {% elseif level == 'HIGH' %}
        rosh-widget--high
        {% elseif level == 'MEDIUM' %}
        rosh-widget--medium
        {% elseif level == 'LOW' %}
        rosh-widget--low
    {% endif %}
{% endmacro %}

{% macro getRiskLevelText(level) %}
    {% if level == 'VERY_HIGH' %}
        Very high
        {% elseif level == 'HIGH' %}
        High
        {% elseif level == 'MEDIUM' %}
        Medium
        {% elseif level == 'LOW' %}
        Low
        {% else  %}
        N/A
    {% endif %}
{% endmacro %}

{% macro getRiskLevelClass(level, overall) %}

    {% if level == overall %}
        {% if level == 'VERY_HIGH' %}
            rosh--very-high
            {% elseif level == 'HIGH' %}
            rosh--high
            {% elseif level == 'MEDIUM' %}
            rosh--medium
            {% elseif level == 'LOW' %}
            rosh--low
        {% endif %}
    {% elseif level === undefined %}
        govuk-hint
    {% endif %}
{% endmacro %}

{% if not risksWidget.overallRisk or risksWidget.overallRisk == 'NOT_FOUND' %}
    <div class="rosh-widget rosh-widget--unknown">
        <h{{ scoresHeadingLevel | default('3') }} class="govuk-heading-m">
            <strong>UNKNOWN</strong> ROSH</h{{ scoresHeadingLevel | default('3') }}>
        <p class="govuk-body-m">Risk of serious harm<br>
            <span class="govuk-body-s govuk-hint">A RoSH summary has not been completed for this individual. Check OASys for this person's current assessment status.</span></p>
    </div>

{% elseif risksWidget.overallRisk == 'UNAVAILABLE' %}
    <div class="rosh-widget rosh-widget--unavailable">
        <h{{ scoresHeadingLevel | default('3') }} class="govuk-heading-m">
            <strong>UNKNOWN</strong> ROSH</h{{ scoresHeadingLevel | default('3') }}>
        <p class="govuk-body-m">Risk of serious harm<br>
            <span class="govuk-body-s govuk-hint">Something went wrong. We are unable to show RoSH at this time. Try again later.</span></p>
    </div>

{% else %}
    <div class="rosh-widget {{ getOverallRiskLevelClass(risksWidget.overallRisk) }}">
        <h{{ scoresHeadingLevel | default('3') }} class="govuk-heading-m" data-qa="overallRiskValue">
            <strong>{{ getRiskLevelText(risksWidget.overallRisk) | upper }}</strong> ROSH</h{{ scoresHeadingLevel | default('3') }}>
        <p class="govuk-body-m">Risk of serious harm<br>
            <span class="govuk-body-s govuk-hint">Last updated: {{ risksWidget.assessedOn | dateWithYearShortMonth | default("Not provided") }}</span></p>
        <div class="moj-scrollable-pane">
            <table class="govuk-table rosh-widget__table">
                <caption class="govuk-visually-hidden">Risk of serious harm in Community</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Risk to</th>
                        <th class="govuk-table__header">Community</th>
                        <th class="govuk-table__header">Custody</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for risk in risksWidget.risks %}
                        <tr class="govuk-table__row">
                            <th data-qa='riskToLabelValue{{ loop.index }}' class="govuk-table__header">{{ risk.riskTo | capitalize }}</th>
                            <td data-qa='riskToCommunityValue{{ loop.index }}' class="govuk-table__cell {{ getRiskLevelClass(risk.community, risksWidget.overallRisk) }}">{{ getRiskLevelText(risk.community) or "N/A" }}</td>
                            <td data-qa='riskToCustodyValue{{ loop.index }}' class="govuk-table__cell {{ getRiskLevelClass(risk.custody, risksWidget.overallRisk) }}">{{ getRiskLevelText(risk.custody) or "N/A" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}