{% if riskData
    .assessments[0]
    .combinedSeriousReoffendingPredictor
    .band or riskData
    .assessments[0]
    .rsr
    .band %}
    <section data-qa="rsr">
        {% if riskData
            .assessments[0]
            .combinedSeriousReoffendingPredictor
            .band != "NOT APPLICABLE" %}
            {{ predictorScale({
    data: riskData,
    predictor: "combinedSeriousReoffendingPredictor"
      }) }}
        {% endif %}
        {% if riskData
            .assessments[0]
            .rsr
            .band %}
            {{ predictorScale({
    data: riskData,
    predictor: "rsr"
      }) }}
        {% endif %}
    </section>
{% endif %}