{% if predictorScores.scores.RSR.score %}
    <section data-qa="rsr">
        {{ predictorScale(
            {
            level: predictorScores.scores.RSR.level,
            score: predictorScores.scores.RSR.score,
            type: predictorScores.scores.RSR.type,
            bandPercentages: ['0%','0.99%','2.99%','6.89%','25+%'],
            staticOrDynamic: predictorScores.scores.RSR.staticOrDynamic | upper,
            lastUpdated: predictorScores.date
        },
        true,
        true,
        true
    )}}
    </section>
{% endif %}