{% if predictorScores.scores.RSR.score %}
    <section data-qa="rsr">
        <h{{ scoresHeadingLevel if scoresHeadingLevel else '3'  }} class="govuk-heading-{{ scoresHeadingClass if scoresHeadingClass else 'm'  }} score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="RSR score">
        RSR (risk of serious recidivism)
    </h {{ scoresHeadingLevel if scoresHeadingLevel else '3'  }}>
        <div aria-hidden="true">
            {{ predictorScore(predictorScores.scores.RSR) }}
        </div>
        <div class='govuk-visually-hidden'>Score: {{ predictorScores.scores.RSR.score }}%</div>
    </section>
{% endif %}