{% set band_ogrs4 = riskData
  .assessments[0]
  .seriousViolentReoffendingPredictor
  .band %}
{% set band_ogrs3 = riskData
  .assessments[0]
  .snsv
  .band %}
{% set showOGRS4 = true if band_ogrs4 and band_ogrs4 != "NOT APPLICABLE" else 
  false %}
{% set showOGRS3 = true if band_ogrs3 and band_ogrs3 != "NOT APPLICABLE" else 
  false %}

{% if showOGRS4 %}
  <section data-qa="seriousViolentReoffendingPredictor">
    {% if flags.enableOGRS4SummaryCardDetail %}
      {{ expandedPredictorBadge({
          data: riskData,
          predictor: "seriousViolentReoffendingPredictor",
          excludeDate: true,
          fixedWidth: false
        }) }}
    {% else %}
      {{ predictorScale({
        data: riskData,
        predictor: "seriousViolentReoffendingPredictor",
        excludeDate: true,
        headingLevel: 4,
        headingClass: "xs"
      }) }}
    {% endif %}
  </section>
{% endif %}
{% if showOGRS3 %}
  <section data-qa="snsv">
    {{ predictorScale({
      data: riskData,
      predictor: "snsv",
      excludeDate: true,
      headingLevel: 4,
      headingClass: "xs"
    }) }}
  </section>
{% endif %}