{% extends "../_content.njk" %}
{% from "arns/components/risk-predictor-scores-content/macro.njk" import riskPredictorScoresContent %}

{% set backLink = '/case/' + crn + '/risk/' %}
{% set headerCRN = crn %}
{% set headerDob = personRisks.personSummary.dateOfBirth %}
{% set title = 'Risk predictor scores' %}
{% set pageTitle = makePageTitle({
  pageHeading: [title]
}) %}

{% block primary %}

    {{ riskPredictorScoresContent({ data: riskData, forename: headerPersonName.forename }) }}

    <a class="govuk-link govuk-link--no-visited-state" href="#top">
      <svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>Back to top
    </a>
{% endblock %}
