{% if appointment.isInitial %}
  Initial appointment
{% elif appointment.isNationalStandard %}
  National standard appointment
{% elif appointment.isAppointment %}
  Appointment
{% elif appointment.isCommunication %}
  Communication
{% elif appointment.isSystemContact %}
  System Generated
{% else %}
  Other contact
{% endif %}
