{% set documents %}
<ul class="govuk-list">
  {% for document in appointment.documents %}
    <li {% if loop.last %}class="govuk-!-margin-bottom-0"{% endif %}>
      <a href="/case/{{ crn }}/personal-details/documents/{{ document.id }}/download" download="{{ doc.name }}">{{ document.name }}</a>
    </li>
  {% endfor %}
</ul>
{% endset %}

{% set notes = '' %}
{% set hasNote = appointment.appointmentNote %}
{% set hasNotes = appointment.appointmentNotes.length > 0 %}
{% if hasNotes %}
  {% for appointmentNote in appointment.appointmentNotes %}
    {% if appointmentNote.note %}
      {% set notes = notes.concat(appNote(appointmentNote, '/case/' + crn + '/appointments/appointment/' + appointment.id + '/manage/note/' + appointmentNote.id + '?back=' + url)) %}
    {% endif %}
  {% endfor %}
{% endif %}
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-0' if noMargin else 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { html: '<span data-qa="acceptableAbsenceReasonLabel">Reason for absence</span>' },
      value: { html: '<span data-qa="acceptableAbsenceReasonValue">' + appointment.acceptableAbsenceReason + '</span>' if appointment.acceptableAbsence === true }
    } if appointment.acceptableAbsence,
    {
      key: { html: '<span data-qa="enforcementActionLabel">Enforcement action</span>' },
      value: { html: '<span data-qa="enforcementActionValue">' + appointment.action + '</span>' }
    } if appointment.action,
    {
      key: { html: '<span data-qa="outcomeLabel">Outcome</span>' },
      value: { html: '<span data-qa="outcomeValue">' + (appointment.outcome | toOutcomeLabel | nl2br | safe) + '</span>' }
    } if appointment.outcome,
    {
      key: { html: '<span data-qa="rarCategoryLabel">RAR activity</span>' },
      value: { html: '<span data-qa="rarCategoryValue">' + appointment.rarCategory + '</span>' if appointment.rarCategory else '<span data-qa="rarCategoryValue">No</span>'  }
    } if appointment.didTheyComply === true,
    {
      key: { html:  '<span data-qa="documentsLabel">Documents</span>' },
      value: { html: '<span data-qa="documentsValue">' + documents + '</span>' }
    } if appointment.documents.length > 0,
    {
      key: { html: '<span data-qa="sensitiveLabel">Sensitive</span>' },
      value: { html: '<span data-qa="sensitiveValue">' + appointment.isSensitive | toYesNo + '</span>' }
    },
    {
      key: { html: '<span data-qa="noteAddedByLabel">Note added by</span>' },
      value: { html: '<span data-qa="noteAddedByValue">' + appointment.appointmentNote.createdBy + '</span>' }
    } if appointment.appointmentNote.createdBy and hasNote,
    {
      key: { html: '<span data-qa="dateAddedLabel">Date added</span>' },
      value: { html: '<span data-qa="dateAddedValue">' + appointment.appointmentNote.createdByDate | dateWithYear + '</span>' }
    } if appointment.appointmentNote.createdByDate and hasNote,
    {
      key: { html: '<span data-qa="notesLabel">Notes</span>' },
      value: { html: '<span data-qa="notesValue">' + notes + '</span>' }
    } if hasNotes and not hasNote,
    {
      key: { html: '<span data-qa="noteLabel">Note</span>' },
      value: { html: '<span class="govuk-body line-break" data-qa="noteValue">' + appointment.appointmentNote.note + '</span>'  }
    } if hasNote
  ]
  }) }}
