{% set complianceText %}
{%- if (appointment.didTheyComply === true) or (appointment.didTheyComply === false) -%}
  {{ appointment.didTheyComply | toYesNo }}
{%- elif appointment.wasAbsent === true and appointment.acceptableAbsence === true -%}
    Acceptable absence
  {%- elif appointment.wasAbsent === true and appointment.acceptableAbsence === false -%}
    Unacceptable absence
  {%- elif appointment.absentWaitingEvidence === true -%}
    Absent and waiting for evidence
  {%- endif -%}
{% endset %}

{% set documents %}
<ul class="govuk-list">
  {% for document in appointment.documents %}
    <li {% if loop.last %}class="govuk-!-margin-bottom-0"{% endif %}>
      <a href="/case/{{ crn }}/personal-details/documents/{{ document.id }}/download" download="{{ doc.name }}">{{ document.name }}</a>
    </li>
  {% endfor %}
</ul>
{% endset %}

{% set notes = '' %}
{% set hasNote = appointment.appointmentNote %}
{% set hasNotes = appointment.appointmentNotes.length > 0 %}
{% if hasNotes %}
  {% for appointmentNote in appointment.appointmentNotes %}
    {% if appointmentNote.note %}
      {% set notes = notes.concat(appNote(appointmentNote, '/case/' + crn + '/appointments/appointment/' + appointment.id + '/manage/note/' + appointmentNote.id + '?back=' + url)) %}
    {% endif %}
  {% endfor %}
{% endif %}
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-0' if noMargin else 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { html: '<span data-qa="compliedLabel">Complied</span>' },
      value: { html: '<span data-qa="compliedValue">' + complianceText + '</span>' },
      actions: {
        items: [
          {
            classes: "govuk-link--no-visited-state",
            attributes: { "target": "_blank", "aria-label":"Change complied for '" + appointment.type | lower + " on NDelius" },
            href: deliusDeepLinkUrl('UpdateContact', crn, appointment.id),
            text:'Change',
            visuallyHiddenText: '(opens in new tab)'
          }
        ]
      }
    },
    {
      key: { html: '<span data-qa="acceptableAbsenceReasonLabel">Reason for absence</span>' },
      value: { html: '<span data-qa="acceptableAbsenceReasonValue">' + appointment.acceptableAbsenceReason + '</span>' if appointment.acceptableAbsence === true },
      actions: {
        items: [
          {
            classes: "govuk-link--no-visited-state",
            attributes: { "target": "_blank", "aria-label":"Change reason for absence for '" + appointment.type | lower + " on NDelius" },
            href: deliusDeepLinkUrl('UpdateContact', crn, appointment.id),
            text:'Change',
            visuallyHiddenText: '(opens in new tab)'
          }
        ]
      }
    } if appointment.acceptableAbsence,
    {
      key: { html: '<span data-qa="enforcementActionLabel">Enforcement action</span>' },
      value: { html: '<span data-qa="enforcementActionValue">' + appointment.action + '</span>' },
      actions: {
        items: [
          {
            classes: "govuk-link--no-visited-state",
            attributes: { "target": "_blank", "aria-label":"Change enforcement action for '" + appointment.type | lower + " on NDelius" },
            href: deliusDeepLinkUrl('UpdateContact', crn, appointment.id),
            text:'Change',
            visuallyHiddenText: '(opens in new tab)'
          }
        ]
      }
    } if appointment.action,
    {
      key: { html: '<span data-qa="outcomeLabel">Outcome</span>' },
      value: { html: '<span data-qa="outcomeValue">' + (appointment.outcome | nl2br | safe) + '</span>' }
    } if appointment.outcome,
    {
      key: { html: '<span data-qa="rarCategoryLabel">RAR activity</span>' },
      value: { html: '<span data-qa="rarCategoryValue">' + appointment.rarCategory + '</span>' if appointment.rarCategory else '<span data-qa="rarCategoryValue">No</span>'  }
    } if appointment.didTheyComply === true,
    {
      key: { html:  '<span data-qa="documentsLabel">Documents</span>' },
      value: { html: '<span data-qa="documentsValue">' + documents + '</span>' },
      actions: {
        items: [
          {
            html:'<a class="govuk-link govuk-link--no-visited-state" target="_blank" href="'+ deliusDeepLinkUrl('UpdateContact', crn, appointment.id) +'"aria-label="Change uploaded documents for ' + appointment.type | lower + 'appointment on NDelius">Change<span class="govuk-visually-hidden"> (opens in new tab)</span></a>'
          }
        ]
      }
    } if appointment.documents.length > 0,
    {
      key: { html: '<span data-qa="sensitiveLabel">Sensitive</span>' },
      value: { html: '<span data-qa="sensitiveValue">' + appointment.isSensitive | toYesNo + '</span>' }
    },
    {
      key: { html: '<span data-qa="noteAddedByLabel">Note added by</span>' },
      value: { html: '<span data-qa="noteAddedByValue">' + appointment.appointmentNote.createdBy + '</span>' }
    } if appointment.appointmentNote.createdBy and hasNote,
    {
      key: { html: '<span data-qa="dateAddedLabel">Date added</span>' },
      value: { html: '<span data-qa="dateAddedValue">' + appointment.appointmentNote.createdByDate | dateWithYear + '</span>' }
    } if appointment.appointmentNote.createdByDate and hasNote,
    {
      key: { html: '<span data-qa="notesLabel">Notes</span>' },
      value: { html: '<span data-qa="notesValue">' + notes + '</span>' }
    } if hasNotes and not hasNote,
    {
      key: { html: '<span data-qa="noteLabel">Note</span>' },
      value: { html: '<span class="govuk-body line-break" data-qa="noteValue">' + appointment.appointmentNote.note + '</span>'  }
    } if hasNote
  ]
  }) }}