{% extends "../_form.njk" %}
{% from "_components/note/macro.njk" import appNote %}
{% set title = 'Add a note' %}
{% set appointment = personAppointment.appointment %}
{% set multipartForm = true %}
{% set hasNotes = appointment.appointmentNotes.length > 0 %}
{% set notes = '' %}
{% set submitButtonId = 'continueButton' %}
{% if hasNotes %}
    {% for appointmentNote in appointment.appointmentNotes %}
        {% if appointmentNote.note %}
            {% set notes = notes.concat(appNote(appointmentNote, '/case/' + crn + '/activity-log/activity/' + appointment.id + '/note/' + appointmentNote.id)) %}
        {% endif %}
    {% endfor %}
{% endif %}
{% block form %}
    <p class="govuk-body">Use paragraphs and formatting to make your notes easy to read. You may want to record notes in the CRISS format.</p>
    {{ govukDetails({
                          classes: 'govuk-!-margin-bottom-6',
                          summaryText: 'Take notes using CRISS',
                          html: '<p class="govuk-body govuk-!-margin-bottom-1">CRISS stands for:</p><ul class="govuk-list govuk-list--bullet"><li>Check in with the person on probation</li><li>Review their progress from the last session</li><li>Intervention - target their criminogenic needs and risk</li><li>Summarise what you discussed in this session</li><li>Set tasks to review in the next session</li></ul>'
                      }) }}
    {% if hasNotes %}
        <section data-qa="previousNotes">
            <h3 class="govuk-heading-m">Previous notes</h3>
            {{ govukInsetText({
  html: notes
}) }}
        </section>
    {% endif %}
    {{ govukButton({
    text: "Show CRISS headers",
    classes: "govuk-button--secondary",
    id: "crissButton",
    attributes: {
        'data-qa': 'crissButton'
    },
    type: 'button'
    }) }}

    {{ govukCharacterCount({
  id: "notes",
  name: "notes",
  rows: '10',
  maxlength: maxCharCount,
  classes: "",
  formGroup: {
    attributes: { "data-qa": "notes"}
   },
  value: body.notes,
   errorMessage: {
        text: 'Enter a note ' + maxCharCount + ' characters or less'
    }  if errorMessages.notes
}) }}

    <div id="crissStatus" role="status" aria-live="polite" class="govuk-visually-hidden"></div>

    {% set uploadHtml %}
    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-full">

            {{ govukFileUpload({
                            id: "file-upload-1",
                            name: "file",
                            classes: 'moj-multi-file-upload__input',
                            label: {
                                text: "Upload files",
                                classes: 'govuk-label--m'
                            },
                            attributes: { multiple: '' }
                        }) }}

            {{ govukButton({
                            text: 'Upload file',
                            classes: 'govuk-button--secondary moj-multi-file-upload__button'
                        }) }}
        </div>
    </div>
    {% endset %}

    {{ mojMultiFileUpload({
                        id: "file-upload-1",
                        name: "fileName",
                        label: { text: "Upload or drag and drop documents" },
                        uploadedFiles: {
                            heading: { text: 'Files added' },
                            items: uploadedFiles
                        },
                        uploadHtml: uploadHtml
                    }) }}

    {{ govukRadios({
        name: 'sensitive',
        id: 'sensitive',
    fieldset: {
        legend: {
            text: 'Does this appointment include sensitive information?',
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
        }
    },
    formGroup: {
        attributes: {
            'data-qa': 'sensitiveInformation'
        }
    },
    hint: {
        text: 'This is information that you believe must be recorded but not shared with a person on probation. If they make a request for their record, the Data Protection Team will decide whether the information can be shared.'
    },
    items: [
        {
            value: 'Yes',
            text: "Yes, it includes sensitive information"
        },
        {
            value: 'No',
            text: "No, it is not sensitive"
        }
    ],
    errorMessage: {
        text: "Please select an option"
    }  if errorMessages.sensitive 
}) }}
{% endblock %}