{% extends "../../partials/layout.njk" %}
{% set appointment = personAppointment.appointment %}
{% set personSummary = personAppointment.personSummary %}
{% set pageTitle = makePageTitle({
  pageHeading: [appointment.type, 'note']}) %}
{% set extraBreadcrumb = '?' + queryParams.join('&')if queryParams.length > 0 else 
  '' %}
{% set backLink = back + extraBreadcrumb if back else '/case/' + crn + '/activity-log' + extraBreadcrumb%}
{% set hasAppointmentStartTimePassed = isInThePast(appointment.startDateTime) %}
{% set shouldPromptToRecordAnOutcome = appointment.hasOutcome === false and hasAppointmentStartTimePassed %}
{% block beforeContent %}
  {% if backLink %}
    {{ govukBackLink({
    href: backLink
  }) }}
  {% endif %}
{% endblock %}

{% set appointmentType = 'Previous' if isInThePast(appointment.startDateTime)else 
  'Upcoming' %}
{% set title = appointment.type + ' with ' + appointment.officer.name | fullName %}
{% set isOutcomeRecorded = appointment.hasOutcome %}

{% block content %}
  {% if not hidePageHeader %}
    {% include "../../partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
        <span class="govuk-caption-l" data-qa="appointmentType">
          {% include './_appointment-prefix.njk' %}</span>
        <span data-qa="appointmentTitle">{{ title }}</span>
        {% if appointment.isInPast %}
          <div class="govuk-!-margin-top-1" data-qa="complianceTag">
            {{ appComplianceTag({ entry: appointment }) }}
          </div>
        {% endif %}
      </h2>
    </div>
  </div>
  
  {% set appointmentDetails %}
  {% set showAction = false %}
  {% set noMargin = true %}
  {% set appointment = entry %}
  {% include './_appointment-details.njk' %}
  {% endset %}

  {{ appSummaryCard({
  attributes: {'data-qa': 'appointmentDetailsCard'},
  titleText: 'Appointment details' if appointment.isAppointment else 'Details',
  headingLevel: '3',
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: appointmentDetails
}) }}

  {% if isOutcomeRecorded %}
    {% set outcomeDetails %}
    {% set noMargin = true %}
    {% include './_outcome-details.njk' %}
    {% endset %}

    {{ appSummaryCard({
    attributes: {'data-qa': 'outcomeDetailsCard'},
    titleText: 'Outcome details',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: outcomeDetails
  }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s govuk-hint-s" data-qa="appointmentLastUpdated">{{ lastUpdatedBy(appointment.lastUpdated, appointment.lastUpdatedBy) }}</p>
    </div>
  </div>

{% endblock %}