{% extends "../../partials/layout.njk" %}
{% set appointment = personAppointment.appointment %}
{% set personSummary = personAppointment.personSummary %}
{% set appointmentDisplayName = appointment.displayName or appointment.type %}
{% set pageTitle = makePageTitle({
  pageHeading: [appointmentDisplayName, 'note']}) %}
{% set extraBreadcrumb = '?' + queryParams.join('&')if queryParams.length > 0 else 
  '' %}
{% set excludedTypes = ['critical communications', 'alcohol consumption', 'unplanned contact'] %}
{% set backLink = back + extraBreadcrumb if back else '/case/' + crn + '/activity-log' + extraBreadcrumb%}
{% set hasAppointmentStartTimePassed = isInThePast(appointment.startDateTime) %}
{% set shouldPromptToRecordAnOutcome = appointment.hasOutcome === false and hasAppointmentStartTimePassed %}
{% set shouldShowManageButton =
  flags.enableManageContacts
  and (appointment.type | lower) not in excludedTypes
%}
{% set actions = { items: [] } %}

{% if shouldShowManageButton %}
  {% set actions = {
    items: [{
      href: supervisionContactsUpdateLink(crn, appointment.id),
      text: 'Update Contact',
      classes: 'govuk-!-font-weight-bold',
      attributes: {
        'data-qa': 'manage-link'
      }
    }]
  } %}
{% endif %}
{% block beforeContent %}
  {% if backLink %}
    {{ govukBackLink({
    href: backLink
  }) }}
  {% endif %}
{% endblock %}

{% set appointmentType = 'Previous' if isInThePast(appointment.startDateTime)else 
  'Upcoming' %}
{% set title = appointmentDisplayName + ' with ' + appointment.officer.name | fullName %}
{% set isOutcomeRecorded = appointment.hasOutcome %}

{% block content %}
  {% if not hidePageHeader %}
    {% include "../../partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
        <span class="govuk-caption-l" data-qa="appointmentType">
          {% include './_appointment-prefix.njk' %}</span>
        <span data-qa="appointmentTitle">{{ title }}</span>
        {% if appointment.isInPast %}
          <div class="govuk-!-margin-top-1" data-qa="complianceTag">
            {{ appComplianceTag({ entry: appointment }) }}
          </div>
        {% endif %}
      </h2>
    </div>
  </div>
  
  {% if flags.enableDeepLinks and isOutcomeRecorded and appointment.deliusManaged %}
    <p class="govuk-body">
      {% if flags.enableDeepLinks and appointment.type in drugHistoryContactTypes and appointment.eventNumber %}
        You can manage this contact through the <a href="{{ deliusDeepLinkUrl('DrugHistory', crn, appointment.eventNumber) }}" class="govuk-link" target="_blank" rel="external noopener noreferrer">person's drug history in NDelius (opens in a new tab)</a>.
      {% else %}
        <a href="{{ deliusDeepLinkUrl('UpdateContact', crn, appointment.id) }}" class="govuk-link" target="_blank" rel="external noopener noreferrer">Manage this appointment on NDelius (opens in a new tab)</a>.
      {% endif %}
    </p>
  {% endif %}

  {% set appointmentDetails %}
  {% set showAction = false %}
  {% set noMargin = true %}
  {% set appointment = entry %}
  {% include './_appointment-details.njk' %}
  {% endset %}


  {{ appSummaryCard({
  attributes: {'data-qa': 'appointmentDetailsCard'},
  titleText: 'Appointment details' if appointment.isAppointment else 'Details',
  headingLevel: '3',
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  actions: actions,
  html: appointmentDetails
}) }}

  {% if isOutcomeRecorded %}
    {% set outcomeDetails %}
    {% set noMargin = true %}
    {% include './_outcome-details.njk' %}
    {% endset %}

    {{ appSummaryCard({
    attributes: {'data-qa': 'outcomeDetailsCard'},
    titleText: 'Outcome details',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: outcomeDetails
  }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s govuk-hint-s" data-qa="appointmentLastUpdated">{{ lastUpdatedBy(appointment.lastUpdated, appointment.lastUpdatedBy) }}</p>
    </div>
  </div>

{% endblock %}
