{% extends "../_form.njk" %}
{% set hideButton = true %}
{% set pageTitle = makePageTitle({pageHeading: ["Record an outcome"]}) %}
{% set decoratorName = decoratorName | default(['appointments', crn, id, 'outcomeRecorded']) %}
{% block form %}
  {% include "../../partials/_log-outcomes-alert.njk" %}
  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        html: '<span data-qa="pageHeading">Confirm if ' + forename + ' attended and complied</span>',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    hint: {
        text: "Appointment: " + appointment.type + " with " + appointment.officer.name | fullName + " on " + appointment.startDateTime | dateWithYear + "."
    },
    formGroup: {
      attributes: {
        'data-qa': 'outcome'
      }
    },
    items: [
     {
      value: "Yes",
      text: "Yes, " + forename + " attended and complied"
    }
    ]
  } | decorateFormAttributes(decoratorName)) }}

  <div class="govuk-button-group">
    {{ govukButton({
    text: "Continue",
    attributes: {
      'data-qa': 'submit-btn'
    }
  }) }}
    <a class="govuk-link" href="/case/{{crn}}/appointments/appointment/{{appointment.id}}/manage">Cancel and go back</a>
  </div>

{% endblock %}