{% extends "../../partials/layout.njk" %}
{% set appointment = personAppointment.appointment %}
{% set personSummary = personAppointment.personSummary %}
{% block content %}
    {% if errorMessages %}
        {% set errorList = errorMessages | toErrorList %}
        {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
        {% endif %}
    {% endif %}
    {% if not hidePageHeader %}
        {% include "../../partials/pop-header.njk" %}
        <hr class="govuk-section-break--l">
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="">
                {{ govukCheckboxes({
    idPrefix: 'outcome',
    name: 'outcome',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Confirm ' + personSummary.name.forename + ' attended and complied',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    hint: {
        text: "Appointment: " + appointment.type + " with " + appointment.officer.name | fullName + " on " + appointment.startDateTime | dateWithYear + "."
    },
    formGroup: {
      attributes: {
        'data-qa': 'outcome'
      }
    },
    items: [
     {
      value: "Yes",
      text: "Yes, " + personSummary.name.forename + " attended and complied"
    }
    ],
    errorMessage: {
    text: "Select if they attended and complied"
  } if errorMessages.outcome
  }) }}
                <div class="govuk-button-group">
                    {{ govukButton({
    text: "Continue"
  }) }}
                    <a class="govuk-link" href="/case/{{crn}}/appointments/appointment/{{contactId}}/manage">Cancel and go back</a>
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </form>
        </div>
    </div>
{% endblock %}