{% extends "../_form.njk" %}
{% set title = 'Do you want to arrange the next appointment with ' + personAppointment.personSummary.name.forename + ' ?'%}
{% set backLink = change if change else '/case/'+ crn + '/appointments/appointment/' + contactId + '/manage/' %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block heading %}{% endblock %}

{% block form %}
  {% set errorList = [{ text: errorMessages.error.text } if errorMessages.error else None ] | reject("undefined") %}
  {% if errorList.length > 0 %}
    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
    {{ govukErrorSummary({ 
        titleText: "There is a problem", 
        errorList: errorList, 
        attributes: { "data-qa": "errorList" } 
        }) 
    }}
  {% endif %}

  {{ govukRadios({
    formGroup: {
      attributes: {
        'data-qa': 'option'
      } 
    },
    fieldset: {
      legend: {
        text: title,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
    {
        text: "Yes - another " + personAppointment.appointment.type,
        value: "keepType"
    },
        {
        text: "Yes - another appointment type",
        value: "changeType"
    },
        {
        text: "No",
        value: "no"
    }] 
  } | decorateFormAttributes(['appointments', crn, 'option'])) }}

{% endblock %}
