{% extends "../_form.njk" %}
{% set title = 'Do you want to arrange the next appointment with ' + personAppointment.personSummary.name.forename + '?'%}
{% set backLink = back if back else 
  '/case/' + crn + '/appointments/appointment/' + contactId + '/manage/' %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block heading %}{% endblock %}

{% block form %}

  {{ govukRadios({
    name: "nextAppointment",
    id: "nextAppointment",
    formGroup: {
      attributes: {
        'data-qa': 'option'
      } 
    },
    fieldset: {
      legend: {
        html: '<span data-qa="pageHeading">' + title + '</span>',
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: {
    text: "Select whether or not you wanted to arrange the next appointment"
  } if errorMessages.nextAppointment,
    items: [
    {
        text: ("Yes - another " + personAppointment.appointment.type) | toSentenceCase,
        value: "KEEP_TYPE",
        checked: body.nextAppointment == "KEEP_TYPE"
    },
    {
        text: "Yes - another appointment type",
        value: "CHANGE_TYPE",
        checked: body.nextAppointment == "CHANGE_TYPE"
    },
        {
        text: "No",
        value: "NO",
        checked: body.nextAppointment == "NO"
    }] 
  }) }}

{% endblock %}