{% extends "../_form.njk" %}
{% set title = "Which appointment are you recording an outcome for?" if actionType == "outcome" else 
    "Which appointment?" %}
{% set pageTitle = makePageTitle({
    pageHeading: ["Record an outcome", "Outcome"]
}) %}
{% set action = '/case/' + crn + '/record-an-outcome/' + actionType %}
{% set backLink = '/case/' + crn %}
{% block form %}
    {% set appointmentRadioItems = [] %}
    {% for appointment in contactResponse.content %}
        {% set appointmentRadioItems = (appointmentRadioItems.push({
            html: '<strong>' + appointment.type.description + '</strong><br />' + appointment.date | dateWithDayAndWithoutYear + ' from ' + timeFromTo(appointment.start, appointment.end),
            value: appointment.id,
            checked: contactId == appointment.id
        }), appointmentRadioItems) %}
    {% endfor %}
    {{ govukRadios({
           name: "appointment-id",
           fieldset: {},
           items: appointmentRadioItems,
           errorMessage: {
        text: "Which appointment are you recording an outcome for?"
            }  if errorMessages['appointment-id'] 
        })
    }}
{% endblock %}