{% extends "../../partials/case.njk" %}
{% set currentSectionName = "Which appointment are you recording an outcome for?" if actionType == "outcome" else 
    "Which appointment?" %}
{% set pageTitle = makePageTitle({
    pageHeading: ["Record an outcome", "Outcome"]
}) %}
{% set action = '/case/' + crn + '/record-an-outcome/' + actionType %}
{% set backLink = '/case/' + crn %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLink
  }) }}

  {% if errorMessages %}
    {% set errorList = errorMessages | toErrorList %}
    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList,
          classes: "govuk-!-margin-bottom-0",
          attributes: { "data-qa": "errorList"}
        }) }}
    {% endif %}
  {% endif %}

{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row govuk-!-margin-top-4">

    {% if flags.enableOutcomesV1 %}
    <div class="govuk-grid-column-one-quarter govuk-!-margin-left-0">
      {% include "../../partials/_outcome-filters.njk" %}
    </div>
    <div class="govuk-grid-column-three-quarters">
    {% else %}
    <div>
    {% endif %}

        {% if outcomes.length > 0 %}
            {% set appointmentRadioItems = [] %}
            {% for appointment in outcomes %}
                {% set ppFullName = appointment.staff.name.forename + ' ' + appointment.staff.name.surname %}
                {% set appointmentRadioItems = (appointmentRadioItems.push({
                    html: '<strong>' + appointment.type.description + ' with ' + (ppFullName | convertToTitleCase) + '</strong><br />' + appointment.date | dateWithDayAndWithYear + ' from ' + timeFromTo(appointment.start, appointment.end),
                    value: appointment.id,
                    checked: contactId == appointment.id
                }), appointmentRadioItems) %}
            {% endfor %}
            <form method="post" autocomplete="off" data-qa="outcomes-form" action="{{ baseUrl }}?filter=false">
                {% if not multipartForm %}<input type="hidden" name="_csrf" value="{{ csrfToken }}">{% endif %}
                {{ govukRadios({
                    name: "appointment-id",
                    fieldset: {},
                    items: appointmentRadioItems,
                    attributes: {
                        'data-reset-conditional-radios': ''
                    },
                    errorMessage: {
                    text: "Which appointment are you recording an outcome for?"
                        }  if errorMessages['appointment-id'] 
                    })
                }}
                <div class="govuk-button-group">
                    {{ govukButton({
                    text: "Continue",
                    attributes: {
                    'data-qa': 'submit-btn'
                    }
                    }) }}
                </div>
            </form>
        {% else %}
            <p class="govuk-!-margin-top-4">
                <strong>0 results found</strong>
            </p>
        {% endif %}
    </div>
{% endblock %}