{% extends "../_form.njk" %}
{% set title = 'Reschedule an appointment' %}
{% set headerPersonNameForename = personalDetails.name.forename  %}
{% set apptDetails = personAppointment.appointment  %}
{% set officerName = apptDetails.officer.name.forename + ' ' + apptDetails.officer.name.surname  %}
{% set officerStaffCode = apptDetails.officer.name.forename + ' ' + apptDetails.officer.name.surname  %}
{% set appointmentWithTitle = 'Appointment: ' +  apptDetails.type + ' with ' + officerName+ ' on ' + apptDetails.startDateTime | dateWithYear + ' at ' + apptDetails.startDateTime | govukTime + (' to ' + apptDetails.endDateTime | govukTime if apptDetails.endDateTime else '')  %}
{% set showAnchorLink = true %}
{% set formAnchorLink = "/case/" + crn + "/appointments/appointment/" + contactId + '/manage'  %}
{% set formAnchorText = 'Cancel and go back' %}
{% set multipartForm = true %}
{% set submitButtonId = 'continueButton' %}
{% block form %}
    {{ govukRadios({
        name: 'sensitive',
        id: 'sensitive',
        fieldset: {
            legend: {
                text: 'Who needs to reschedule this appointment',
                classes: "govuk-fieldset__legend--m",
                isPageHeading: false
            }
        },
        formGroup: {
            attributes: {
                'data-qa': 'whoNeedsToReschedule'
            }
        },
        hint: {
            text: appointmentWithTitle
        },
        items: [
            {
                value: 'PER',
                text: headerPersonName.split(' ')[0],
                hint: {
                    text: "They should give 48 hours notice and provide evidence."
                }
            },
            {
                value: 'PS',
                text: "Probation Service",
                hint: {
                    text: "Inculudes changes to probation practitioner availablity."
                }
            }
        ],
        errorMessage: {
            text: "Please select an option"
        }  if errorMessages.whoNeedsToReschedule
    }) }}
    {{ govukCharacterCount({
        id: "notes",
        name: "notes",
        rows: '10',
        maxlength: maxCharCount,
        label: {
            text: "Why is this appointment being rescheculed?",
            classes: "govuk-fieldset__legend govuk-fieldset__legend--m",
            isPageHeading: true
        },
        classes: "",
        formGroup: {
            attributes: { "data-qa": "notes"}
        },
        value: body.notes,
        errorMessage: {
            text: 'Note must be ' + maxCharCount + ' characters or less'
        }  if errorMessages.notes
    }) }}

    <div id="crissStatus" role="status" aria-live="polite" class="govuk-visually-hidden"></div>

    {% set uploadHtml %}
    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-full">

            {{ govukFileUpload({
                id: "file-upload-1",
                name: "file",
                classes: 'moj-multi-file-upload__input',
                label: {
                    text: "Upload any supporting documents",
                    hint: {
                        text: "HINTTTT"
                    },
                    classes: 'govuk-label--m'
                },
                attributes: { multiple: '' }
            }) }}

            {{ govukButton({
                text: 'Upload file',
                classes: 'govuk-button--secondary moj-multi-file-upload__button'
            }) }}
        </div>
    </div>
    {% endset %}
    {{ mojMultiFileUpload({
        id: "file-upload-1",
        name: "fileName",
        label: { text: "Upload or drag and drop documents" },
        hint: {
            text: "hintText"
        },
        uploadedFiles: {
            heading: { text: 'Files added' },
            items: uploadedFiles
        },
        uploadHtml: uploadHtml
    }) }}








    {{ govukRadios({
        name: 'sensitive',
        id: 'sensitive',
        fieldset: {
            legend: {
                text: 'Does this contact include sensitive information?',
                classes: "govuk-fieldset__legend--m",
                isPageHeading: false
            }
        },
        formGroup: {
            attributes: {
                'data-qa': 'sensitiveInformation'
            }
        },
        hint: {
            text: 'This is information that you believe must be recorded but not shared with a person on probation. If they make a request for their record, the Data Protection Team will decide whether the information can be shared.'
        },
        items: [
            {
                value: 'Yes',
                text: "Yes, it includes sensitive information"
            },
            {
                value: 'No',
                text: "No, it is not sensitive"
            }
        ],
        errorMessage: {
            text: "Please select an option"
        }  if errorMessages.sensitive
    }) }}
{% endblock %}

