{% set changePath = "/case/" + crn + "/arrange-appointment/"  + id %}
{% set insertText = "You'll receive a calendar invite for the appointment." %}
{% set sentenceHtml %}
{% if appointment.appointmentFor.sentence %}
    <span data-qa="appointmentSentence">{{ appointment.appointmentFor.sentence }}</span>
{% endif %}
{% if appointment.appointmentFor.requirement %}
    <br>
    <span data-qa="appointmentRequirement">{{ appointment.appointmentFor.requirement }}</span>
{% endif %}
{% if appointment.appointmentFor.licenceCondition %}
    <br>
    <span data-qa="appointmentLicenceCondition">{{ appointment.appointmentFor.licenceCondition }}</span>
{% endif %}
{% if appointment.appointmentFor.nsi %}
    <br>
    <span data-qa="appointmentNsi">{{ appointment.appointmentFor.nsi }}</span>
{% endif %}
{% if appointment.appointmentFor.forename %}
    <span data-qa="appointmentForename">{{ appointment.appointmentFor.forename }}</span>
{% endif %}
{% endset %}
{% set locationHtml = '' %}
{% if appointment.location.address %}
    {% set locationHtml = [
        appointment.location.description + "<br>",
        addressToList(appointment.location.address).join('<br>')
    ] | join | safe %}
{% endif %}
{% if appointment.location == 'NO_LOCATION_REQUIRED' %}
    {% set locationHtml = 'Not required' %}
{% endif %}

{% set typeValue = 'Not entered' if not appointment.type else 
    appointment.type.description | toSentenceCase(['(NS)']) %}
{% set locationValue = 'Not entered' if not locationHtml else 
    locationHtml | safe %}
{% set typeHint = '' %}
{% set locationHint = '' %}
{% set noForHint = 'Select what the appointment is for first.' %}
{% set noTypeHint = 'Select the appointment type first.' %}
{% set noAttendingHint = 'Select who is attending first.' %}
{% if not appointment.appointmentFor.sentence and not appointment.appointmentFor.forename %}
    {% set typeHint = noForHint %}
    {% set locationHint = noForHint %}
{% endif %}
{% if (appointment.appointmentFor.sentence or appointment.appointmentFor.forename) 
    and not appointment.type %}
    {% set locationHint = noTypeHint %}
{% endif %}
{% if (appointment.appointmentFor.sentence or appointment.appointmentFor.forename) 
    and appointment.type and(not appointment.attending.name) %}
    {% set locationHint = noAttendingHint %}
{% endif %}
{% set dateAndTimeLabelHtml = 'Date and time' %}
{% if appointment.start and appointment.previousStart and appointment.start != appointment.previousStart %}
    {% set dateAndTimeLabelHtml = '<p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Date and time</p><span class="govuk-hint govuk-!-font-size-16" data-qa="previousDateTime">Previous date and time: ' + appointment.previousStart | dayOfWeek + ' '  + appointment.previousStart | dateWithYear + ' at ' + appointment.previousStart | to12HourTimeWithMinutes + ' to ' + appointment.previousEnd | to12HourTimeWithMinutes + '</span>' %}
{% endif %}

<form method="post" autocomplete="off" action="{{ paths.current }}">
    {% set showAction = true %}
    {% set appointmentDates = [] %}
    {% if appointment.date %}
        {% set appointmentDates = (appointmentDates.push(appointment.date), appointmentDates) %}
    {% endif %}
    {% if appointmentDates.length > 0 %}
        {% set insertText = rescheduleApptInsertText | default("You'll receive a calendar invite for the appointment.")%}
    {% endif %}
    {% set appointmentDatesHtml %}
    <ul class="govuk-list">
        {% for appointmentDate in appointmentDates %}
            <li>{{ appointmentDate | dayOfWeek }}{{' '}}{{ appointmentDate | dateWithYear }}{{ ' at ' }}{{appointment.start | to12HourTimeWithMinutes}}{{ ' to ' }}{{ appointment.end | to12HourTimeWithMinutes }}</li>
        {% endfor %}
    </ul>
    {% endset %}
    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-{% if showCalendarInsetText %}6{% else %}9{% endif %}',
        rows: [
            { key: { text: "Appointment for" },
            value: { html: 'Not entered' if (not appointment.appointmentFor.sentence and not appointment.appointmentFor.forename) else sentenceHtml | safe  },
            actions: {
            items: [ { 
            href: changePath + "/sentence?change=" + url, 
            text: "Choose for" if (not appointment.appointmentFor.sentence and not appointment.appointmentFor.forename) else "Change", 
            visuallyHiddenText: "sentence"
            } 
            ] 
            } if showAction }, 
            {
            key: { text: "Appointment type" },
            value: { html: typeValue + ('<span class="govuk-summary-list__hint">' + typeHint + '</span>' if typeHint )  },
            actions: {
                items: [
                {
                    href: changePath + "/type-attendance?change=" + url,
                    text: "Choose type" if not appointment.type else "Change",
                    visuallyHiddenText: "type of appointment"
                }
                ]
            } if showAction and (appointment.appointmentFor.sentence or appointment.appointmentFor.forename)
            },
            {
                key: { text: "VISOR report"},
                value: { text: appointment.visorReport },
                actions: {
                    items: [ 
                        {
                            href: changePath + "/type-attendance?change=" + url,
                            text: "Change",
                            visuallyHiddenText: "type of appointment"
                        } 
                    ] 
                } if showAction
            } if appointment.meta.isVisor,
    { key: { text: "Attending" },
    value: { html: 'Not entered' if not appointment.attending.name else appointment.attending.html },
    actions: {
    items: [ { 
    href: changePath + "/attendance?change=" + url, 
    text: "Choose attending" if not appointment.attending.name else "Change", 
    visuallyHiddenText: "attendance"
     } 
     ] 
     } if showAction },
     { key: { text: "Location" }, 
     value: { html: locationValue + ('<span class="govuk-summary-list__hint">' + locationHint + '</span>' if locationHint )  },
     actions: { items: [ { href: changePath + "/location-date-time?change=" + url, 
     text: "Choose location" if not locationHtml else  "Change",
      visuallyHiddenText: "location"
      }
      ]
      } if showAction  and (appointment.appointmentFor.sentence or appointment.appointmentFor.forename) and appointment.type and appointment.attending.name },
      { key: { html: dateAndTimeLabelHtml },
      value: { html: 'Not entered' if appointmentDates.length == 0 else appointmentDatesHtml }, 
      actions: { items: [ { href: changePath + "/location-date-time?change=" + url,
      text: "Choose date and time" if appointmentDates.length == 0 else "Change",
      visuallyHiddenText: "date and time of the appointment" } ] } },
       { key: { text: "Attended and complied" },
    value: { html: appointment.outcomeRecorded },
    actions: {
    items: [ { 
    href: changePath + "/attended-complied?change=" + url, 
    text: "Change", 
    visuallyHiddenText: "outcome recorded"
     } 
     ] 
     } if showAction } if appointment.outcomeRecorded,  
       { key: { text: "Supporting information" },
    value: { html: "Not entered" if not appointment.notes else appointment.notes | nl2br },
    actions: {
    items: [ { 
    href: changePath + ("/add-note" if appointment.outcomeRecorded else "/supporting-information") + "?change=" + url, 
    text: "Change", 
    visuallyHiddenText: "notes"
     } 
     ] 
     } if showAction }, 
      { key: { text: "Sensitivity" },
    value: { text: "Not entered" if not appointment.sensitivity else appointment.sensitivity | safe },
    actions: {
    items: [ { 
    href: changePath + ("/add-note" if appointment.outcomeRecorded else "/supporting-information") + "?change=" + url, 
    text: "Choose sensitivity" if not appointment.sensitivity else "Change", 
    visuallyHiddenText: "sensitivity"
     } 
     ] 
     } if showAction }
] }) }}
    {% if showCalendarInsetText %}
        {{ govukInsetText({
  text: insertText,
  classes: 'govuk!-margin-top-0',
   attributes: {
        'data-qa': 'calendarInviteInset'
      }
}) }}
    {% endif %}
    <div class="govuk-button-group">
        {{ govukButton({
          html: buttonText,
          attributes: {
            'data-qa': 'submit-btn'
          }
        }) }}
        {% if showAnchorLink === true %}
            <a class="govuk-link" href="{{ formAnchorLink }}" data-qa="formAnchorLink">
                {{ formAnchorText }}</a>
        {% endif %}
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
</form>