{% extends "../_form.njk" %}
{% set title = 'Who will attend the appointment?' %}
{% set backLink = change if change else '/case/' + crn + '/arrange-appointment/' + id + '/sentence' %}
{% set formId = 'attend' %}

{% block form %}
    <input type="hidden" id="uri_ref" value="/case/{{ crn }}/arrange-appointment/{{ id }}/attendance">
    {% set providerItems = [] %}
    {% for provider in userProviders %}
        {% set providerItems = (providerItems.push({
            value: provider.code,
            text: provider.name,
            selected: provider.selected
        }), providerItems) %}
    {% endfor %}

    {% set teamItems = [] %}
    {% for team in userTeams %}
        {% set teamItems = (teamItems.push({
            value: team.code,
            text: team.description,
            selected: team.selected
        }), teamItems) %}
    {% endfor %}

    {% set userItems = [] %}
    {% for user in userStaff %}
        {% set userItems = (userItems.push({
            value: user.username,
            text: user.name
        }), userItems) %}
    {% endfor %}

    <p>You can attend or book for a colleague</p>

        {{ govukSelect({
            id: "region",
            name: "region",
            label: {
                text: "Select region"
            },
            items: providerItems
        } | decorateFormAttributes(['appointments', crn, id, 'region'])) }}

        {{ govukSelect({
            id: "team",
            name: "team",
            label: {
                text: "Select team"
            },
            items: teamItems
        } | decorateFormAttributes(['appointments', crn, id, 'team'])) }}

        {{ govukSelect({
            id: "name",
            name: "name",
            label: {
                text: "Select name"
            },
            items: userItems
        } | decorateFormAttributes(['appointments', crn, id, 'name'])) }}

    <script nonce="{{ cspNonce }}">
      document.addEventListener("DOMContentLoaded", () => {
        const regionSelect = document.getElementById("region")
        const teamSelect = document.getElementById("team")
        const form = document.getElementById("attend");

        regionSelect.addEventListener("change", (event) => {
          form.action = "attendance?page=self&regionCode=" + event.target.value
          form.submit()
        })

        teamSelect.addEventListener("change", (event) => {
          const regionCode = regionSelect.value
          form.action = "attendance?page=self&regionCode=" + regionCode + "&teamCode=" + event.target.value
        })
      })
    </script>
{% endblock %}
