{% extends "../_form.njk" %}

{% set title = 'Who will attend the appointment?' %}
{% set backLink = change if change else '/case/' + crn + '/arrange-appointment/' + id + '/type' %}
{% set decoratorTarget = 'temp' %}
{% if not providerCode and not teamCode %}
    {% set decoratorTarget = 'user' %}
{% endif %}

{% block form %}
    <input type="hidden" id="uri_ref" value="/case/{{ crn }}/arrange-appointment/{{ id }}/attendance">
    {% set providerItems = [] %}
    {% for provider in userProviders %}
        {% set providerItems = (providerItems.push({value: provider.code, text: provider.name, selected: provider.selected}), providerItems) %}
    {% endfor %}

    {% set teamItems = [] %}
    {% for team in userTeams %}
        {% set teamItems = (teamItems.push({value: team.code, text: team.description, selected: team.selected}), teamItems) %}
    {% endfor %}

    {% set userItems = [] %}
    {% for user in userStaff %}
        {% set userItems = (userItems.push({value: user.username, text: user.nameAndRole, selected: user.selected}), userItems) %}
    {% endfor %}

    <p>You can attend or book for someone else.</p>

    {{ govukSelect({
        label: { text: "Select region" },
        items: providerItems,
        attributes: {
            'data-qa': 'providerCode'
        }
    } | decorateFormAttributes(['appointments', crn, id, decoratorTarget, 'providerCode'])) }}

    {{ govukSelect({
        label: { text: "Select team" },
        items: teamItems,
         attributes: {
            'data-qa': 'teamCode'
        }
    } | decorateFormAttributes(['appointments', crn, id, decoratorTarget, 'teamCode'])) }}

    {{ govukSelect({
        label: { text: "Select name" },
        items: userItems,
         attributes: {
            'data-qa': 'username'
        }
    } | decorateFormAttributes(['appointments', crn, id, decoratorTarget, 'username'])) }}

{% endblock %}