{% extends "../_form.njk" %}
{% set notStandardForm = true %}
{% set title = 'Check your answers then confirm the appointment' %}
{% set buttonText = 'Confirm this appointment' %}
{% block beforeContent %}{% endblock %}
{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" data-qa="pageHeading">{{ title }}</h2>
    </div>
  </div>
  {% include "./appointment-summary.njk" %}
{% endblock %}