{% extends "../_form.njk" %}
{% set title = 'Arrange an appointment in another location' %}
{% set backLink = ('/case/' + crn + '/arrange-appointment/' + id + '/type-attendance') if noLocations else ('/case/' + crn + '/arrange-appointment/' + id + '/location')  %}
{% set notStandardForm = true %}
{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" data-qa="pageHeading">{{ title }}</h2>
      <p class="govuk-body">You can only arrange appointments from a list of locations associated with the probation practitioner’s team.</p>
      <p class="govuk-body">If you think you’re missing a location, complete the <a href="https://mojprod.service-now.com/moj_sp?id=sc_cat_item&table=sc_cat_item&sys_id=6eb2ff221[…]ew.do%3Fv%3D1&sysparm_id=6eb2ff221b2dad10a1e2ddf0b24bcb67" target="_blank" rel="noopener noreferrer">NDelius reference data - team/location form on the MoJ Technology Portal</a>.</p>
      <p class="govuk-body">
        <a href="{{ deliusDeepLinkUrl('ContactList', crn) }}" target="_blank">Continue on NDelius</a> (opens in new tab)</p>
      <p class="govuk-body">
        <a href="{{ backLink }}">Cancel and return to previous screen</a>
      </p>
    </div>
  </div>
{% endblock %}