{% extends "../_form.njk" %}
{% set title = 'What is this appointment for?' %}
{% set backLink = change if change else '/case/' + crn + '/arrange-appointment/' + id + '/type' %}

{% block heading %}{% endblock %}
{% block form %}
  {% if errorMessages %}
    {% set errorList = errorMessages | toErrorList %}
    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
    {% endif %}
  {% endif %}
  {% set allSentences = [] %}
  {% for sentence in sentences %}
    {% set sentenceReveal = '' %}
    {% set reveal = '' %}
    {% if sentence.requirements.length %}
      {% set requirements = [] %}
      {% for requirement in sentence.requirements %}
        {% set requirements = (requirements.push({text: requirement.description, value: requirement.id}), requirements) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
    formGroup: {
      classes: 'govuk-!-margin-top-4'
    },
    fieldset: {
      legend: {
        text: "Which requirement is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'requirementId'
      }
    },
    items: requirements
} | decorateFormAttributes(['appointments', crn, id, 'requirementId'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.licenceConditions.length %}
      {% set licenceConditions = [] %}
      {% for licenceCondition in sentence.licenceConditions %}
        {% set licenceConditions = (licenceConditions.push({text: licenceCondition.mainDescription, value: licenceCondition.id}), licenceConditions) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
       formGroup: {
          classes: 'govuk-!-margin-top-4'
        },
        fieldset: {
      legend: {
        text: "Which licence condition is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'licenceConditionId'
      }
    },
    items: licenceConditions
} | decorateFormAttributes(['appointments', crn, id, 'licenceConditionId'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.nsis.length %}
      {% set nsis = [] %}
      {% for nsi in sentence.nsis %}
        {% set nsis = (nsis.push({text: nsi.description, value: nsi.id}), nsis) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
       formGroup: {
          classes: 'govuk-!-margin-top-4'
        },
    fieldset: {
      legend: {
        text: "Which nsi is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'nsiId'
      }
    },
    items: nsis
} | decorateFormAttributes(['appointments', crn, id, 'nsiId'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.order.description %}
      {% set allSentences = (allSentences.push({
      text: sentence.order.description,
      value: sentence.id,
      label: {
        classes: 'govuk-!-font-weight-bold'
      },
      hint: {
        text: 'Sentence start date: ' + sentence.order.startDate | dateWithYear if sentence.order.startDate else ''
      },
      checked: sentences.length == 1,
      attributes: {
          'data-sentence': 'true',
          'data-reset-conditional-radios': ''
        },
      conditional: {
            html: sentenceReveal
        }
    }), allSentences) %}
    {% endif %}
  {% endfor %}
  {% if appointment.type.isPersonLevelContact %}
    {% set allSentences = (allSentences.push(
    {
    text: appointment.meta.forename,
    value: 'PERSON_LEVEL_CONTACT',
    attributes: {
    'data-qa': 'personLevelContact'
    },
    label: {
      attributes: {
'data-qa': 'personLevelContactLabel'
      }
    }
    }), allSentences) %}
  {% endif %}
  {{ govukRadios({
    fieldset: {
      legend: {
        html: '<span data-qa="pageHeading">' + title + '</span>',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      },
      attributes: {
        'data-qa': 'sentences'
      }
    },
    items: allSentences
} | decorateFormAttributes(['appointments', crn, id, 'eventId'])) }}

{% endblock %}