{% extends "../_form.njk" %}
{% set title = 'What is this appointment for?' %}
{% set backLink = change if change else '/case/' + crn + '/arrange-appointment/' + id + '/type' %}

{% block heading %}{% endblock %}
{% block form %}
  {% if errorMessages %}
    {% set errorList = errorMessages | toErrorList %}
    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
    {% endif %}
  {% endif %}
  {% set allSentences = [] %}
  {% set sentenceReveal = '' %}
  {% for sentence in sentences %}
    {% set reveal = '' %}
    {% if sentence.requirements.length %}
      {% set requirements = [] %}
      {% for requirement in sentence.requirements %}
        {% set requirements = (requirements.push({text: requirement.description}), requirements) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
    fieldset: {
      legend: {
        text: "Which requirement is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'sentence-requirement'
      }
    },
    hint: {
      text: "Select requirement."
    },
    items: requirements
} | decorateFormAttributes(['appointments', crn, id, 'sentence-requirement'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.licenceConditions.length %}
      {% set licenceConditions = [] %}
      {% for licenceCondition in sentence.licenceConditions %}
        {% set licenceConditions = (licenceConditions.push({text: licenceCondition.mainDescription}), licenceConditions) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
    fieldset: {
      legend: {
        text: "Which licence condition is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'sentence-licence-condition'
      }
    },
    hint: {
      text: "Select licence condition."
    },
    items: licenceConditions
} | decorateFormAttributes(['appointments', crn, id, 'sentence-licence-condition'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.nsis.length %}
      {% set nsis = [] %}
      {% for nsi in sentence.nsis %}
        {% set nsis = (nsis.push({text: nsi.description}), nsis) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
    fieldset: {
      legend: {
        text: "Which nsi is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'sentence-nsi'
      }
    },
    hint: {
      text: "Select nsi."
    },
    items: nsis
} | decorateFormAttributes(['appointments', crn, id, 'sentence-nsi'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.order.description %}

      {% set allSentences = (allSentences.push({
      text: sentence.order.description,
      hint: {
        text: 'Sentence start date: ' + sentence.order.startDate | dateWithYear if sentence.order.startDate else ''
      },
      checked: true if sentences.length === 1 else false,
      attributes: {
          'data-bold': 'true',
          'data-sentence': 'true',
          'data-reset-conditional-radios': ''
        },
      conditional: {
            html: sentenceReveal
        }
    }), allSentences) %}
    {% endif %}
  {% endfor %}
  {% if appointment.type.isPersonLevelContact %}
    {% set allSentences = (allSentences.push({
      text: appointment.forename,
      value: appointment.forename | lower
    }), allSentences) %}
  {% endif %}
  {{ govukRadios({
    fieldset: {
      legend: {
        html: '<span data-qa="pageHeading">' + title + '</span>',
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
      },
      attributes: {
        'data-qa': 'sentences'
      }
    },
    hint: {
        text: "Select all that apply."
      },
    items: allSentences
} | decorateFormAttributes(['appointments', crn, id, 'sentence'])) }}

{% endblock %}