{% extends "../_form.njk" %}
{% set title = 'What is this appointment for?' %}
{% set backLink = backLink | default('/case/' + crn + '/appointments') %}

{% block heading %}{% endblock %}
{% block form %}
  {% set allSentences = [] %}
  {% for sentence in sentences %}
    {% set sentenceReveal = '' %}
    {% set reveal = '' %}
    {% if sentence.requirements.length %}
      {% set requirements = [] %}
      {% for requirement in sentence.requirements %}
        {% set licenceTag %}
        {% if requirement.active === false %}
          <span class="govuk-tag govuk-tag--grey" align="center">Terminated</span>
        {% endif %}
        {% endset %}
        {% set requirements = (requirements.push({
          text: requirement.description,
          hint: {
            html: licenceTag
          },
          value: requirement.id
        }), requirements) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
    formGroup: {
      classes: 'govuk-!-margin-top-4'
    },
    fieldset: {
      legend: {
        text: "Which requirement is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'requirementId'
      }
    },
    items: requirements
} | decorateFormAttributes(['appointments', crn, id, 'requirementId'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.licenceConditions.length %}
      {% set licenceConditions = [] %}
      {% for licenceCondition in sentence.licenceConditions %}
        {% set description = licenceCondition.mainDescription %}
        {% set licenceTag %}
        {% if licenceCondition.active === false %}
          <span class="govuk-tag govuk-tag--grey" align="center">Terminated</span>
        {% endif %}
        {% endset %}
        {% set licenceConditions = (licenceConditions.push({
          text: licenceCondition.mainDescription,
          hint: {
            html: licenceTag
          },
          value: licenceCondition.id
        }), licenceConditions) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
       formGroup: {
          classes: 'govuk-!-margin-top-4'
        },
        fieldset: {
      legend: {
        text: "Which licence condition is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'licenceConditionId'
      }
    },
    items: licenceConditions
} | decorateFormAttributes(['appointments', crn, id, 'licenceConditionId'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.nsis.length %}
      {% set nsis = [] %}
      {% for nsi in sentence.nsis %}
        {% set nsis = (nsis.push({text: nsi.description, value: nsi.id}), nsis) %}
      {% endfor %}
      {% set sentenceReveal %}
      {{ govukRadios({
       formGroup: {
          classes: 'govuk-!-margin-top-4'
        },
    fieldset: {
      legend: {
        text: "Which nsi is this appointment for? (optional)",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      },
      attributes: {
        'data-qa': 'nsiId'
      }
    },
    items: nsis
} | decorateFormAttributes(['appointments', crn, id, 'nsiId'])) }}
      {% endset -%}
    {% endif %}
    {% if sentence.order.description %}
      {% set hintText = '' %}
      {% if sentence.order.startDate %}
        {% set hintText = 'Sentence start date: ' + (
        sentence.order.startDate | dateWithYear) + '.' %}
      {% endif %}
      {% set allSentences = (allSentences.push({
      text: sentence.order.description,
      value: sentence.id,
      label: {
        classes: 'govuk-!-font-weight-bold'
      },
      hint: {
        text: hintText
      },
      attributes: {
          'data-sentence': 'true',
          'data-reset-conditional-radios': ''
        },
      conditional: {
            html: sentenceReveal
        }
    }), allSentences) %}
    {% endif %}
  {% endfor %}
  {% set allSentences = (allSentences.push({
      text: appointment.meta.forename,
      value: 'PERSON_LEVEL_CONTACT',
      label: {
        classes: 'govuk-!-font-weight-bold',
        attributes: {
          'data-qa': 'personLevelContactLabel'
        }
      },
      hint: {
        text: 'Relates to the person.'
      },
      attributes: {
          'data-qa': 'personLevelContact',
          'data-sentence': 'true',
          'data-reset-conditional-radios': ''
      }
  }), allSentences) %}
  {{ govukRadios({
    fieldset: {
      legend: {
        html: '<span data-qa="pageHeading">' + title + '</span>',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      },
      attributes: {
        'data-qa': 'sentences'
      }
    },
    items: allSentences
} | decorateFormAttributes(['appointments', crn, id, 'eventId'])) }}

{% endblock %}