{% extends "../_form.njk" %}

{% set title = 'Add supporting information (optional)' %}
{% set backLink = backLink | default('/case/' + crn + '/arrange-appointment/' + id + '/' + back) %}
{% block form %}

    {{ govukCharacterCount({
   hint: {
        text: "You can add any details that may help you with the appointment. Use paragraphs to make your notes easy to read."
    },
  rows: '10',
  maxlength: maxCharCount,
  formGroup: {
    attributes: { "data-qa": "notes"}
   }
}| decorateFormAttributes(['appointments', crn, id, 'notes'])) }}

    {{ govukRadios({
    fieldset: {
        legend: {
            text: 'Does this contact include sensitive information?',
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
        }
    },
    formGroup: {
        attributes: {
            'data-qa': 'visorReport'
        }
    },
    hint: {
        text: 'This is information that you believe must be recorded but not shared with a person on probation. If they make a request for their record, the Data Protection Team will decide whether the information can be shared.'
    },
    items: [
        {
            value: 'Yes',
            text: "Yes, it includes sensitive information"
        },
        {
            value: 'No',
            text: "No, it is not sensitive"
        }
    ]
} | decorateFormAttributes(['appointments', crn, id, 'sensitivity'])) }}
{% endblock %}