{% extends "../_form.njk" %}
{% set title = 'Appointment details' %}
{% set backLink = change if change else '/case/' + crn + '/arrange-appointment/' + id + '/sentence' %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set types = [] %}
{% for appointmentType in appointmentTypes %}
  {% set types = (types.push({
    text: appointmentType.description | toSentenceCase(['(NS)']),
    value: appointmentType.code
  }), types) %}
{% endfor %}

{% block heading %}{% endblock %}

{% block form %}
  {% if errorMessages %}
    {% set errorList = errorMessages | toErrorList %}
    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList,
        attributes: { "data-qa": "errorList" }
      }) }}
    {% endif %}
  {% endif %}

  {# Main Appointment details heading #}
  <h1 class="govuk-heading-l" data-qa="pageHeading">{{ title }}</h1>

  {# Inset text for NDelius info #}
  {{ govukInsetText({
    html: 'Use <a href="' + deliusDeepLinkUrl('ContactList', crn, entry.id) + '" target="_blank" rel="external noopener noreferrer">NDelius (opens in new tab)</a> to arrange:
      <ul class="govuk-list govuk-list--bullet">
        <li>any other type of appointment not listed below</li>
        <li>appointments that require document templates</li>
        <li>appointments for RAR toolkits or NSIs (non-statutory interventions)</li>
      </ul>'
  }) }}

  {# Appointment type radios #}
  {{ govukRadios({
    formGroup: {
      attributes: {
        'data-qa': 'type'
      }
    },
    fieldset: {
      legend: {
        text: "What appointment are you arranging?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: types
  } | decorateFormAttributes(['appointments', crn, id, 'type'])) }}

  {# ViSOR section (only if appointment.meta.isVisor is true) #}
  {% if appointment.meta.isVisor %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: 'Include appointment in ViSOR report?',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    formGroup: {
      attributes: {
        'data-qa': 'visorReport'
      }
    },
    hint: {
      text: 'This will add the appointment to their record on the ViSOR secure national database.'
    },
    items: [
      {
        text: "Yes",
        value: "yes"
      },
      {
        text: "No",
        value: "no"
      }
    ]
  } | decorateFormAttributes(['appointments', crn, id, 'visorReport'])) }}
  <input type="hidden" name="visor" id="visor" value="{{ appointment.meta.isVisor }}">
  {% endif %}
{% endblock %}
