{% extends "../../_form.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set title = "Online check in submitted" %}
{% set backLink = back if back else 
  '/case/' + crn + '/appointments/' + id + '/check-in/review/identity' %}
{% set hideButton = true %}

{% block form %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" data-qa="datetimeSummary">
                <dt class="govuk-summary-list__key">Checked in on</dt>
                <dd class="govuk-summary-list__value">{{checkIn.submittedAt | dateWithYear(true) }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Review due</dt>
                <dd class="govuk-summary-list__value">{{checkIn.dueDate | dateWithYear }}</dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Review and confirm identity</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0" data-qa="identitySummary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">System ID check result</dt>
                <dd class="govuk-summary-list__value">{{"Pass" if checkIn.autoIdCheck == "MATCH" else "Fail"}}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.autoIdCheck == "NO_MATCH" %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image of {{checkIn.offender.firstName}}</dt>
                <dd class="govuk-summary-list__value">
                    <img
                    src="{{ "/assets/images/placeholder.png" if checkIn.offender.photoUrl == null else checkIn.offender.photoUrl }}"
                    class="es-profile-image es-profile-image--small"
                    alt="Profile image of {{ checkIn.offender.firstName }} {{ checkIn.offender.lastName }}"
                    crossorigin />
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image from check in video</dt>
                <dd class="govuk-summary-list__value">
                    {% if checkIn.snapshotUrl %}
                        <img
                        src="{{ checkIn.snapshotUrl }}"
                        class="es-profile-image es-profile-image--small"
                        alt="Snapshot from video of {{ checkIn.offender.firstName }} {{ checkIn.offender.lastName }}"
                        crossorigin />
                    {% else %}
                    <span>No image available</span>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Check in video</dt>
                <dd class="govuk-summary-list__value">
                    <a href="{{ videoLink }}" class="govuk-link">View video</a>
                </dd>
            </div>
        </dl>

        <form method="post" autocomplete="off" action="{{ paths.current  }}">
            {{ govukRadios({
                fieldset: {
                    legend: {
                        text: 'Is the person in the video ' + checkIn.offender.firstName,
                        classes: "govuk-label--m govuk-!-font-weight-bold"
                    }
                },
                formGroup: {
                    attributes: {
                        'data-qa': 'confirmIdentity'
                    }
                },
                items: [
                    {
                        value: true,
                        text: "Yes"
                    },
                    {
                        value: false,
                        text: "No"
                    }
                ]
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'manualIdCheck'])) }}

            <div class="govuk-button-group">
                {{ govukButton({
                html: "Confirm and review responses",
                attributes: {
                    'data-qa': 'submit-btn'
                }
                }) }}
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>

    </div>
</div>

{% endblock %}
