{% extends "../../_form.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set title = "Online check in submitted" %}
{% set backLink = back | default('/case/' + crn + '/appointments/' + id + '/check-in/review/identity') %}
{% set hideButton = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% include "../../../partials/pop-header.njk" %}
        <hr class="govuk-section-break--l">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}
        {% block heading %}
          {% if title %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
              {{ title }}
            </h2>
          {% endif %}
        {% endblock %}

        <div class="govuk-body">You need to confirm the system identity check result is correct and confirm whether the person in the image is the person who should be checking in.</div>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" data-qa="datetimeSummary">
                <dt class="govuk-summary-list__key">Checked in on</dt>
                <dd class="govuk-summary-list__value">{{checkIn.submittedAt | dateWithYearTimeFirst }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Review due</dt>
                <dd class="govuk-summary-list__value">{{checkIn.reviewDueDate }}</dd>
            </div>
        </dl>

        <h3 class="govuk-heading-m">Review and confirm identity</h3>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0" data-qa="identitySummary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{{"System ID and liveness check result" if checkIn.livenessEnabled else "System ID check result"}}</dt>
                <dd class="govuk-summary-list__value">{{"Pass" if systemIdCheckPass else "Fail"}}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if not systemIdCheckPass %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image of {{ checkIn.personalDetails.name.forename }}</dt>
                <dd class="govuk-summary-list__value">
                    <img
                    src="{{ "/assets/images/placeholder.png" if checkIn.photoUrl == null else checkIn.photoUrl }}"
                    class="es-profile-image es-profile-image--small"
                    alt="Profile image of {{ checkIn.personalDetails.name.forename }} {{ checkIn.personalDetails.name.surname }}"
                    crossorigin />
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image from check in</dt>
                <dd class="govuk-summary-list__value">
                    {% if checkIn.snapshotUrl %}
                        <img
                        src="{{ checkIn.snapshotUrl }}"
                        class="es-profile-image es-profile-image--small"
                        alt="Image from identity check of {{ checkIn.personalDetails.name.forename }} {{ checkIn.personalDetails.name.surname }}"
                        crossorigin />
                    {% else %}
                    <span>No image available</span>
                    {% endif %}
                </dd>
            </div>
        </dl>

        <form method="post" autocomplete="off" action="{{ paths.current  }}">
            {% if flags.enableShowMatchWithConcern === true %}
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: 'Is the person in the image from the check in ' + checkIn.personalDetails.name.forename + '?',
                            classes: "govuk-label--m govuk-!-font-weight-bold"
                        }
                    },
                    hint: {
                        text: 'We will only save the image if it isn’t the person, or there is anything of concern, for example, evidence of crime or physical injury.'
                    },
                    formGroup: {
                        attributes: {
                            'data-qa': 'confirmIdentity'
                        }
                    },
                    items: [
                        {
                            value: "MATCH",
                            text: "Yes, and there is nothing concerning"
                        },
                        {
                            value: "MATCH_WITH_CONCERN",
                            text: "Yes, and there is a visible concern"
                        },
                        {
                            value: "NO_MATCH",
                            text: "No, it is not " + checkIn.personalDetails.name.forename
                        }
                    ]
                } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'manualIdCheck'])) }}
            {% else %}
                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: 'Is the person in the image from the check in ' + checkIn.personalDetails.name.forename + '?',
                            classes: "govuk-label--m govuk-!-font-weight-bold"
                        }
                    },
                    formGroup: {
                        attributes: {
                            'data-qa': 'confirmIdentity'
                        }
                    },
                    items: [
                        {
                            value: "MATCH",
                            text: "Yes"
                        },
                        {
                            value: "NO_MATCH",
                            text: "No"
                        }
                    ]
                } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'manualIdCheck'])) }}
            {% endif %}

            <div class="govuk-button-group">
                {{ govukButton({
                html: "Confirm and review responses",
                attributes: {
                    'data-qa': 'submit-btn'
                }
                }) }}
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>

    </div>
</div>

{% endblock %}
