{% extends "../../_form.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set title = "Online check in submitted" %}
{% set backLink = back | default('/case/' + crn + '/activity-log') %}
{% set hideButton = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% include "../../../partials/pop-header.njk" %}
        <hr class="govuk-section-break--l">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}
        {% block heading %}
          {% if title %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
              {{ title }}
            </h2>
          {% endif %}
        {% endblock %}
        
        <p class="govuk-body">You need to confirm the system identity check result is correct and confirm whether the person in the video is the person who should be checking in.</p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Checked in on</dt>
                <dd class="govuk-summary-list__value">{{checkIn.submittedAt | dateWithYear(true) }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Review due</dt>
                <dd class="govuk-summary-list__value">{{checkIn.reviewDueDate }}</dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Review questions</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0">
             <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How {{ checkIn.personalDetails.name.forename }} has been feeling
                </dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.mentalHealth | userFriendlyString }}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.flaggedResponses and 'mentalHealth' in checkIn.flaggedResponses %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>
            {% if checkIn.surveyResponse.mentalHealthComment %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What they want us to know about how they have been feeling
                    </dt>
                    <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.mentalHealthComment }}</dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Anything they need support with or to let us know</dt>
                <dd class="govuk-summary-list__value">
                    {% for a in checkIn.surveyResponse.assistance | split %}
                        {{ a | userFriendlyString }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.flaggedResponses and 'assistance' in checkIn.flaggedResponses %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>

            {% if checkIn.surveyResponse.mentalHealthSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about mental health</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.mentalHealthSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.alcoholSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about alcohol</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.alcoholSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.drugsSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about drugs</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.drugsSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.moneySupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about money</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.moneySupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.housingSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about housing</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.housingSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.supportSystemSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about their support system</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.supportSystemSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
            {% if checkIn.surveyResponse.otherSupport %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want us to know about (something else)</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.otherSupport }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">If they need us to contact them before their next appointment</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.callback | userFriendlyString }}</dd>
                <dd class="govuk-summary-list__actions">
                    {% if checkIn.flaggedResponses and 'callback' in checkIn.flaggedResponses %}
                        {{ govukTag({ text: "Needs attention", classes: "govuk-tag govuk-tag--red" }) }}
                    {% endif %}
                </dd>
            </div>
            {% if checkIn.surveyResponse.callbackDetails %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What they want to talk about</dt>
                <dd class="govuk-summary-list__value">{{ checkIn.surveyResponse.callbackDetails }}</dd>
                <dd class="govuk-summary-list__actions"></dd>
                </div>
            {% endif %}
        </dl>

        <h2 class="govuk-heading-m">What action are you taking after reviewing this check in? (optional)</h2>
        <form method="post" autocomplete="off" action="{{ paths.current  }}">
            {{ govukCharacterCount({
                hint: {
                    text: "This information will be added to the contact"
                },
                rows: '10',
                maxlength: maxCharCount,
                formGroup: {
                    attributes: { "data-qa": "notes"}
                }
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'furtherActions'])) }}

            {{ govukRadios({
                fieldset: {
                    legend: {
                        text: 'Did the check in help you with risk management? (optional)',
                        classes: "govuk-label--m govuk-!-font-weight-bold",
                        hint: 'This information is only used to help us learn about how you use this system.'
                    }
                },
                formGroup: {
                    attributes: {
                        'data-qa': 'riskManagement'
                    }
                },
                items: [
                    {
                        value: "yes",
                        text: "Yes"
                    },
                    {
                        value: "no",
                        text: "No"
                    }
                ]
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'riskManagementFeedback'])) }}

            <div class="govuk-button-group">
                {{ govukButton({
                html: "Confirm review",
                attributes: {
                    'data-qa': 'submit-btn'
                }
                }) }}
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>

    </div>
</div>

{% endblock %}
