{% extends "pages/_form.njk" %}

{% block beforeHeading %}
  {% if appointmentOutcome.breachOrRecallWarning %}
    {{ mojAlert({
    variant: "warning",
    title: appointmentOutcome.breachOrRecallWarning.title,
    showTitleAsHeading: false,
    dismissible: false,
    attributes: { "data-qa": appointmentOutcome.breachOrRecallWarning.type | lower + "-warning" },
    text: appointmentOutcome.breachOrRecallWarning.text
  }) }}
  {% endif %}
{% endblock %}