{% extends "pages/_form.njk" %}

{% block beforeHeading %}
  {% if appointmentOutcome.breachOrRecallWarning %}
    {{ mojAlert({
    variant: "warning",
    title: appointmentOutcome.breachOrRecallWarning.title,
    showTitleAsHeading: true,
    dismissible: false,
    attributes: { "data-qa": appointmentOutcome.breachOrRecallWarning.type | lower + "-warning" },
    html: '<span>' + appointmentOutcome.breachOrRecallWarning.text + '</span>'
  }) }}
  {% endif %}
  {% if appointmentOutcome.ticket %}
    {% set type = appointmentOutcome.ticket.type | lower | default('red') %}
    {{ mojTicketPanel({
      attributes: { "data-qa": "alert-panel" },
      items: [{
        html: '<h2 class="govuk-heading-m govuk-!-margin-bottom-2">' + appointmentOutcome.ticket.title + '</h2>' + appointmentOutcome.ticket.html | safe,      
        classes: "moj-ticket-panel__content--" + type
      }]
    }) }}
  {% endif %}
{% endblock %}