{% extends "../partials/layout.njk" %}
{% from "../_components/predictor-timeline-item/macro.njk" import predictorTimelineItem %}
{% block beforeContent %}
  {% if breadcrumb and flags.enableBreadcrumbs and not change %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Cases",
          href: "/case"
        },
        {
          text: headerPersonName.forename + ' ' + headerPersonName.surname,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: "Appointments",
          href: "/case/" + crn + "/appointments"
        },
        {
          text: breadcrumb
        }
      ]
    }) }}
  {% elif backLink %}
    {{ govukBackLink({
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if not checkinPhotoPage %}
    {% include "../partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">
  {% endif %}

  <div id="main-content" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% block heading %}
        {% if title %}
          <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
            {{ title }}
          </h2>
        {% endif %}
      {% endblock %}

      {% block primary %}{% endblock %}

    </div>
  </div>
{% endblock %}