{% extends "../partials/layout.njk" %}
{% from "../_components/predictor-timeline-item/macro.njk" import predictorTimelineItem %}
{% block beforeContent %}
  {% if backLink %}
    {{ govukBackLink({
    href: backLink
  }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if not checkinPhotoPage %}
    {% include "../partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">
  {% endif %}
  {% if notStandardForm %}
    {% block primary %}{% endblock %}
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                classes: 'govuk-!-margin-bottom-6',
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}
        {% block alertBanner %}{% endblock %}
        {% block beforeHeading %}{% endblock %}

        {% block heading %}
          {% if title %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
              {{ title }}
            </h2>
          {% endif %}
        {% endblock %}
        <form method="post" autocomplete="off" action="{{ action if action else paths.current }}"{% if multipartForm %} enctype="multipart/form-data"{% endif %} {% if formId %} id="{{ formIdName }}"{% endif %}>
          {% if not multipartForm %}<input type="hidden" name="_csrf" value="{{ csrfToken }}">{% endif %}
          {% block form %}{% endblock %}
          {% if not hideButton %}
            <div class="govuk-button-group">
              {{ govukButton({
                html: buttonText if buttonText else 'Continue',
                isStartButton: buttonText === 'Start now',
                id: submitButtonId if submitButtonId else 'submit-btn',
                name: 'submit-btn',
                attributes: {
                  'data-qa': 'submit-btn'
                }
              }) }}
              {% if showAnchorLink === true %}
                <a class="govuk-link" href="{{ formAnchorLink }}" data-qa="formAnchorLink">
                  {{ formAnchorText }}</a>
              {% endif %}
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}