{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Accessibility statement for Manage probation check ins" }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Accessibility statement for Manage probation check ins</h1>

            <p class="govuk-body">This accessibility statement applies to Manage probation check ins.</p>

            <p class="govuk-body">This website is run by Ministry of Justice (MOJ). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts using browser or device settings</li>
                <li>zoom in up to 400% without the text spilling off the screen</li>
                <li>navigate most of the website using a keyboard or speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>

            <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>

            <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

            <h2 class="govuk-heading-l">How accessible this website is</h2>

            <p class="govuk-body">We know some parts of this website are not fully accessible:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>there is no timeout warning on the service, meaning users do not get a warning for periods of inactivity</li>
                <li>some visually hidden text and labels need to be updated as they contain unique IDs making them harder to understand</li>
                <li>some pages have heading structures which could be confusing</li>
            </ul>

            <h2 class="govuk-heading-l">Feedback and contact information</h2>

            <p class="govuk-body">If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact the service team at: <a href="mailto:checkinwithprobation@justice.gov.uk" class="govuk-link">checkinwithprobation@justice.gov.uk</a></p>

            <p class="govuk-body">We'll consider your request and get back to you in 5 working days.</p>

            <h2 class="govuk-heading-l">Enforcement procedure</h2>

            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.</p>

            <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>

            <p class="govuk-body">The Ministry of Justice (MOJ) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

            <h2 class="govuk-heading-l">Compliance status</h2>

            <p class="govuk-body">This service will be tested by 30 May 2026.</p>

            <p class="govuk-body">We will publish a full accessibility statement by 30 June 2026.</p>

            <p class="govuk-body">This service is not compliant with the Web Content Accessibility Guidelines version 2.1 AA standard. The non-compliances are listed below.</p>

            <p class="govuk-body">This service has not yet been tested.</p>

            <h3 class="govuk-heading-m">Content that's not within the scope of the accessibility regulations</h3>

            <p class="govuk-body">We have no content outside the scope of accessibility regulations.</p>

            <h3 class="govuk-heading-m">Preparation of this accessibility statement</h3>

            <p class="govuk-body">This statement was prepared on 15 April 2026.</p>

        </div>
    </div>
{% endblock %}