{% extends "../partials/case.njk" %}
{% from "_components/compliance-tag/macro.njk" import appComplianceTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% set pageTitle = makePageTitle({pageHeading: "Appointments"}) %}
{% set currentNavSection = 'appointments' %}
{% set headerPersonName = upcomingAppointments.personSummary.name.forename + ' ' + upcomingAppointments.personSummary.name.surname %}
{% set personForename = upcomingAppointments.personSummary.name.forename %}
{% set headerCRN = upcomingAppointments.personSummary.crn %}
{% set headerDob = upcomingAppointments.personSummary.dateOfBirth %}
{% set offenderId = upcomingAppointments.personSummary.offenderId %}
{% set headerGender = upcomingAppointments.personSummary.gender %}
{% set totalUpcomingAppointments = upcomingAppointments.personSchedule.totalResults %}
{% set riskToStaff = getStaffRisk(personRisks.riskFlags) %}
{% set upcomingAppointments = upcomingAppointments.personSchedule.appointments %}
{% set pastAppointments = pastAppointments.personSchedule.appointments %}
{% set upcomingAppointmentRows = [] %}
{% set pastAppointmentRows = [] %}
{% set setActionButtons = "false" %}
{% set headerActions %}
<div class="moj-button-group moj-button-group--inline">
  {% if flags.enableAppointmentCreate === true %}
    <form method="POST" action="">
      <button type="submit" class="govuk-button govuk-!-static-margin-bottom-0 govuk-!-static-margin-right-0" data-module="govuk-button" data-qa="arrange-appointment-btn">
                Arrange an appointment
          </button>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    </form>
  {% else %}
    <a href="{{ deliusDeepLinkUrl('ContactList', crn) }}" target="_blank" class="govuk-button">Arrange an appointment on NDelius</a>
  {% endif %}
</div>
{% endset %}

{% if upcomingAppointments.length > 0 %}
  {% for appointment in upcomingAppointments %}
    {% set appointmentDetails %}
      <a class='govuk-link' href="/case/{{ crn }}/appointments/appointment/{{ appointment.id  }}">
        {{ appointment.type }}
        {{ appComplianceTag({ entry: appointment, classes: 'govuk-!-margin-left-2', compact: true }) }}
      </a>
    {% endset %}
    {% set actionsButton %}
      {% if appointment.deliusManaged %}
        <a class="govuk-link" href="/case/{{ crn }}/appointments/appointment/{{ appointment.id }}" aria-label="Manage {{ appointment.type | lower }} appointment on Manage People on Probation">Manage</a>
      {% else %}
        <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="{{ deliusDeepLinkUrl('UpdateContact', crn, appointment.id) }}" aria-label="Manage {{ appointment.type | lower }} appointment on NDelius">Manage on NDelius<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
      {% endif %}
    {% endset %}

    {% set upcomingAppointmentRows = (upcomingAppointmentRows.push([
      {
        html: appointmentDetails,
        attributes: { "data-qa":"upcomingAppointmentType"+loop.index }
      },
      {
        text: appointment.startDateTime | dateWithYear,
        format: "numeric",
        attributes: { "data-qa":"upcomingAppointmentDate"+loop.index }
      },
      {
        text: timeFromTo(appointment.startDateTime, appointment.endDateTime),
        format: "numeric",
        attributes: { "data-qa":"upcomingAppointmentTime"+loop.index }
      },
      {
        html: actionsButton,
        format: "numeric",
        attributes: {"data-qa": "upcomingAppointmentAction" + loop.index }
      }
    ]), upcomingAppointmentRows) %}
  {% endfor %}
{% endif %}

{% if pastAppointments.length > 0 %}
  {% for appointment in pastAppointments %}

    {% set appointmentDetails %}
      <a class='govuk-link' href="/case/{{ crn }}/appointments/appointment/{{ appointment.id  }}">
        {{ appointment.type }}
        {{ appComplianceTag({ entry: appointment, classes: 'govuk-!-margin-left-2', compact: true }) }}
      </a>
    {% endset %}

    {% set actionsButton %}
      {% if appointment.deliusManaged %}
        <a class="govuk-link" href="/case/{{ crn }}/appointments/appointment/{{ appointment.id }}" aria-label="Manage {{ appointment.type | lower }} appointment on Manage People on Probation">Manage</a>
      {% else %}
        <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="{{ deliusDeepLinkUrl('UpdateContact', crn, appointment.id) }}" aria-label="Manage {{ appointment.type | lower }} appointment on NDelius">Manage on NDelius<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
      {% endif %}
    {% endset %}

    {% set pastAppointmentRows = (pastAppointmentRows.push([
      {
        html: appointmentDetails,
        attributes: { "data-qa":"pastAppointmentType"+loop.index }
      },
      {
        text: appointment.startDateTime | dateWithYear,
        format: "numeric",
        attributes: { "data-qa":"pastAppointmentDate"+loop.index }
      },
      {
        text: timeFromTo(appointment.startDateTime, appointment.endDateTime),
        format: "numeric",
        attributes: { "data-qa":"pastAppointmentTime"+loop.index }
      },
      {
        html: actionsButton,
        format: "numeric"
      }
    ]), pastAppointmentRows) %}
  {% endfor %}
{% endif %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        {
          text: "Cases",
          href: "/case"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: "Appointments"
        }
      ]
    }) }}
{% endblock %}

{% block headerActions %}
  <div class="moj-button-group moj-button-group--inline">
    {% if flags.enableAppointmentCreate === true %}
      <form method="POST" action="">
        <button type="submit" class="govuk-button govuk-!-static-margin-bottom-0 govuk-!-static-margin-right-0" data-module="govuk-button" data-qa="arrange-appointment-btn">
                Arrange an appointment
          </button>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      </form>
    {% else %}
      <a href="{{ deliusDeepLinkUrl('ContactList', crn) }}" target="_blank" class="govuk-button">Arrange an appointment on NDelius</a>
    {% endif %}
  </div>
{% endblock %}

{% block pageContent %}
  {% if riskToStaff.level == 'HIGH' or riskToStaff.level == 'MEDIUM' %}
    {% set html %}
    <a href="/case/{{ crn }}/risk/flag/{{ riskToStaff.id }}">View {{ personForename }}&apos;s risk to staff flag</a>
    {% endset %}
    {{ mojAlert({
      variant: "warning",
      title: personForename + " is " + riskLevelLabel(riskToStaff.level).toLowerCase() + " risk to staff ",
      showTitleAsHeading: true,
      dismissible: false,
      html: html
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <section class="govuk-!-margin-bottom-8 app-summary-card--large-title" data-qa="upcomingAppointments">
        <h2 class="govuk-heading-m" id="section1">Upcoming appointments</h2>
        {% if upcomingAppointments.length == 0 %}
          <p>There are no upcoming appointments.</p>
        {% else %}
          {{ govukTable({
              firstCellIsHeader: false,
              captionClasses: 'govuk-visually-hidden',
              head: [
                {
                  text: "Appointment type",
                  classes: "vertical-align--middle"
                },
                {
                  text: "Date",
                  classes: "vertical-align--middle",
                  format: "numeric"
                },
                {
                  text: "Time",
                  classes: "vertical-align--middle",
                  format: "numeric"
                },
                {
                  html: "Action",
                  classes: "vertical-align--middle",
                  format: "numeric"
                }
              ],
              rows: upcomingAppointmentRows
            }) }}

          {% if totalUpcomingAppointments > 10 %}
            <p><a href="/case/{{crn}}/upcoming-appointments" class="govuk-link">View all upcoming appointments</a>.</p>
          {% endif %}
        {% endif %}
      </section>

      <section class="govuk-!-margin-bottom-8" data-qa="pastAppointments">
        <h2 class="govuk-heading-m" id="section2">Past appointments</h2>
        {% if pastAppointments.length == 0 %}
          <p>There are no past appointments.</p>
        {% else %}
          {{ govukTable({
              firstCellIsHeader: false,
              captionClasses: 'govuk-visually-hidden',
              head: [
                {
                  text: "Appointment type"
                },
                {
                  text: "Date",
                  format: "numeric"
                },
                {
                  text: "Time",
                  format: "numeric"
                },
                {
                  html: "Action",
                  format: "numeric"
                }
              ],
              rows: pastAppointmentRows
            }) }}
        {% endif %}
      </section>
      <section data-qa="appointmentHistory">
        <h2 class="govuk-heading-m" id="section3">Appointment history</h2>
        <p><a href="/case/{{crn}}/activity-log" class="govuk-link">View all past appointments in the activity log</a>.</p>
      </section>
    </div>
  </div>

{% endblock %}