{% extends "../partials/case.njk" %}
{% from "_components/compliance-tag/macro.njk" import appComplianceTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "../partials/manage-appointment-link.njk" import manageAppointmentLink %}
{% set pageTitle = makePageTitle({pageHeading: "Appointments"}) %}
{% set currentNavSection = 'appointments' %}
{% set personForename = headerPersonName.forename %}
{% set headerCRN = upcomingAppointments.personSummary.crn %}
{% set headerDob = upcomingAppointments.personSummary.dateOfBirth %}
{% set offenderId = upcomingAppointments.personSummary.offenderId %}
{% set headerGender = upcomingAppointments.personSummary.gender %}
{% set totalUpcomingAppointments = upcomingAppointments.personSchedule.totalResults %}
{% set riskToStaff = getStaffRisk(personRisks.riskFlags) %}
{% set upcomingAppointments = upcomingAppointments.personSchedule.appointments %}
{% set pastAppointments = pastAppointments.personSchedule.appointments %}
{% set upcomingAppointmentRows = [] %}
{% set pastAppointmentRows = [] %}
{% set setActionButtons = "false" %}
{% set nextCheckin = offenderCheckinsByCRNResponse %}
{% set checkinLink = '/case/' + crn + '/appointments/check-in/instructions?back=appointments' %}
{% set manageCheckinLink = '/case/' + crn + '/appointments/check-in/manage/' + offenderCheckinsByCRNResponse.uuid %}

{% if not nextCheckin or nextCheckin.status === 'INITIAL'%}
    {% set checkinLink = checkinLink %}
    {% set checkinButtonText = 'Set up online check ins' %}
{% else %}
    {% set checkinLink = manageCheckinLink %}
    {% set checkinButtonText = 'Manage online check ins' %}
{% endif %}

{% if not hasDeceased %}
    {% set headerActions %}
        <div class="moj-button-group moj-button-group--inline">
            {% if not flags.enableESuperVision %}
                <form method="POST" action="">
                    <button type="submit" class="govuk-button govuk-!-static-margin-bottom-0 govuk-!-static-margin-right-0" data-module="govuk-button" data-qa="arrange-appointment-btn">
                        Arrange an appointment
                    </button>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                </form>
            {% endif %}
        </div>
    {% endset %}
{% endif %}

{% if upcomingAppointments.length > 0 %}
  {% for appointment in upcomingAppointments %}
    {% set manageUrl = "/case/" + crn + "/appointments/appointment/" + appointment.id + "/manage?back=" + url %}
    {% set appointmentDetails %}
    <a class='govuk-link' href={{ manageUrl }}>
      {{ appointment.type | toSentenceCase }}
      {{ appComplianceTag({ entry: appointment, classes: 'govuk-!-margin-left-2', compact: true }) }}
    </a>
    {% endset %}
    {% set actionsButton %}
    {{ manageAppointmentLink(flags, appointment, crn, manageUrl) }}
    {% endset %}

    {% set upcomingAppointmentRows = (upcomingAppointmentRows.push([
      {
        html: appointmentDetails,
        attributes: { "data-qa":"upcomingAppointmentType"+loop.index },
        classes: "govuk-!-width-one-third"
      },
      {
        text: appointment.startDateTime | dateWithYear,
        format: "numeric",
        attributes: { "data-qa":"upcomingAppointmentDate"+loop.index },
        classes: "govuk-!-width-one-third-plus-three"
      },
      {
        text: timeFromTo(appointment.startDateTime, appointment.endDateTime),
        format: "numeric",
        attributes: { "data-qa":"upcomingAppointmentTime"+loop.index },
        classes: "govuk-!-width-one-third-plus-three"
      },
      {
        html: actionsButton,
        format: "numeric",
        attributes: {"data-qa": "upcomingAppointmentAction" + loop.index },
        classes: "govuk-!-width-one-third-plus-three"
      }
    ]), upcomingAppointmentRows) %}
  {% endfor %}
{% endif %}

{% if pastAppointments.length > 0 %}
  {% for appointment in pastAppointments %}
    {% set manageUrl = "/case/" + crn + "/appointments/appointment/" + appointment.id + "/manage?back=" + url %}
    {% set appointmentDetails %}
    <a class='govuk-link' href={{ manageUrl }}>
      {{ appointment.type | toSentenceCase }}
      {{ appComplianceTag({ entry: appointment, classes: 'govuk-!-margin-left-2', compact: true }) }}
    </a>
    {% endset %}

    {% set actionsButton %}
    {{ manageAppointmentLink(flags, appointment, crn, manageUrl) }}
    {% endset %}

    {% set pastAppointmentRows = (pastAppointmentRows.push([
      {
        html: appointmentDetails,
        attributes: { "data-qa":"pastAppointmentType"+loop.index },
        classes: "govuk-!-width-one-third"
      },
      {
        text: appointment.startDateTime | dateWithYear,
        format: "numeric",
        attributes: { "data-qa":"pastAppointmentDate"+loop.index },
        classes: "govuk-!-width-one-third-plus-three"
      },
      {
        text: timeFromTo(appointment.startDateTime, appointment.endDateTime),
        format: "numeric",
        attributes: { "data-qa":"pastAppointmentTime"+loop.index },
        classes: "govuk-!-width-one-third-plus-three"
      },
      {
        html: actionsButton,
        format: "numeric",
        classes: "govuk-!-width-one-third-plus-three"
      }
    ]), pastAppointmentRows) %}
  {% endfor %}
{% endif %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
        {
          text: "Cases",
          href: "/case"
        },
        {
          text: headerPersonName.forename + ' ' + headerPersonName.surname,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: "Appointments"
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
  {% set level = riskToStaff.levelDescription or riskToStaff.level %}
  {% if level and(level | upper == 'HIGH' or level | upper == 'MEDIUM') %}
    {% set html %}
    <a href="/case/{{ crn }}/risk/flag/{{ riskToStaff.id }}">View {{ personForename }}&apos;s risk to staff flag</a>
    {% endset %}
    {{ mojAlert({
      variant: "warning",
      title: personForename + " is " + riskLevelLabel(level) | lower + " risk to staff ",
      showTitleAsHeading: true,
      dismissible: false,
      html: html
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <section class="govuk-!-margin-bottom-8 app-summary-card--large-title" data-qa="upcomingAppointments">

        <h2 class="govuk-heading-l" data-qa="appointments-header-label">Appointments</h2>
        {% include "../partials/_date-of-death-warning.njk" %}
          {% if not hasDeceased %}
          <div class="moj-button-group moj-button-group--inline govuk-!-margin-bottom-3">
           {% if flags.enableESuperVision === true %}
            <div class="moj-button-group__item">
              <form method="POST" action="" style="display:inline">
                <button type="submit" class="govuk-button govuk-!-static-margin-bottom-0" data-module="govuk-button" data-qa="arrange-appointment-btn">
                              Arrange an appointment
                          </button>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              </form>
            </div>
           {% endif %}
            {% if flags.enableESuperVision === true and hasPractitioner %}
              <div class="moj-button-group__item">
                <a href="{{ checkinLink }}" class="govuk-button govuk-button--secondary govuk-!-margin-left-3"  data-qa="{% if offenderCheckinsByCRNResponse %}online-manage-btn{% else %}online-checkin-btn{% endif %}">{{ checkinButtonText }}</a>
              </div>
            {% endif %}
          </div>
        {% endif %}
        <h3 class="govuk-heading-m" id="section1">Upcoming appointments</h3>
        {% if upcomingAppointments.length == 0 %}
          <p>There are no upcoming appointments.</p>
        {% else %}
          {{ govukTable({
              firstCellIsHeader: false,
              captionClasses: 'govuk-visually-hidden',
              head: [
                {
                  text: "Appointment type",
                  classes: "vertical-align--middle govuk-!-width-one-third"
                },
                {
                  text: "Date",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three",
                  format: "numeric"
                },
                {
                  text: "Time",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three",
                  format: "numeric"
                },
                {
                  html: "Action",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three",
                  format: "numeric"
                }
              ],
              rows: upcomingAppointmentRows
            }) }}

          {% if totalUpcomingAppointments > 10 %}
            <p>
              <a href="/case/{{crn}}/upcoming-appointments" class="govuk-link">View all upcoming appointments</a>.</p>
          {% endif %}
        {% endif %}
      </section>

      <section class="govuk-!-margin-bottom-8 app-summary-card--large-title" data-qa="pastAppointments">
        <h3 class="govuk-heading-m" id="section2">Past appointments</h3>
        {% if pastAppointments.length == 0 %}
          <p>There are no past appointments.</p>
        {% else %}
          {{ govukTable({
              firstCellIsHeader: false,
              captionClasses: 'govuk-visually-hidden',
              head: [
                {
                  text: "Appointment type",
                  classes: "vertical-align--middle govuk-!-width-one-third"
                },
                {
                  text: "Date",
                  format: "numeric",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three"
                },
                {
                  text: "Time",
                  format: "numeric",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three"
                },
                {
                  html: "Action",
                  format: "numeric",
                  classes: "vertical-align--middle govuk-!-width-one-third-plus-three"
                }
              ],
              rows: pastAppointmentRows
            }) }}
        {% endif %}
      </section>
      <section data-qa="appointmentHistory">
        <h3 class="govuk-heading-m" id="section3">Appointment history</h3>
        <p>
          <a href="/case/{{crn}}/activity-log" class="govuk-link">View all past appointments in the contacts page</a>.</p>
      </section>
    </div>
  </div>

{% endblock %}