{% extends "../partials/case.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../_components/predictor-timeline/macro.njk" import predictorTimeline %}
{% from "../_components/predictor-score/macro.njk" import predictorScore %}
{% from "../_components/predictor-timeline-item/macro.njk" import predictorTimelineItem %}

{% set pageTitle = makePageTitle({pageHeading: "Risk"}) %}
{% set currentNavSection = 'risk' %}
{% set currentSectionName = 'Risk' if not showSentencePlan else 
    'Risk and plan' %}

{% set headerPersonName = personRisk.personSummary.name | fullName %}
{% set headerCRN = crn %}
{% set headerDob = personRisk.personSummary.dateOfBirth %}
{% set headerGender = personRisk.personSummary.gender %}
{% set hasRiskAssessment = risks.assessedOn %}
{% set highScoring = groupByLevel("SEVERE", needs.identifiedNeeds) %}
{% set lowScoring = groupByLevel("STANDARD", needs.identifiedNeeds) %}
{% set withoutScore = needs.notIdentifiedNeeds %}
{% if risks.assessedOn %}
    {% set lastUpdatedDate = 'Last updated (OASys): ' + risks.assessedOn | dateWithYear %}
{% endif %}

{% if showSentencePlan %}
    {% set scoresHeadingLevel = '4' %}
    {% set scoresSubHeadingLevel = '5' %}

{% endif %}
{% if sanIndicator %}
    {% set scoresHeadingClass = 's' %}
{% endif %}

{% set highScoringNeeds %}
{% if highScoring.length > 0 %}
    <ul class="govuk-list">
        {% for need in highScoring %}
            <li>
                {{ need.name }}
            </li>
        {% endfor %}
    </ul>
{% else %}
        None
    {% endif %}
{% endset %}

{% set lowScoringNeeds %}
{% if lowScoring.length > 0 %}
    <ul class="govuk-list">
        {% for need in lowScoring %}
            <li>
                {{ need.name }}
            </li>
        {% endfor %}
    </ul>
{% else %}
        None
    {% endif %}
{% endset %}

{% set noScoreNeeds %}
{% if withoutScore.length > 0 %}
    <ul class="govuk-list">
        {% for need in withoutScore %}
            <li>
                {{ need.name }}
            </li>
        {% endfor %}
    </ul>
{% else %}
        None
    {% endif %}
{% endset %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Cases",
                href: "/case"
            },
            {
                text: headerPersonName,
                href: "/case/" + crn,
                attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
            },
            {
                text: currentSectionName
            }
        ]
    }) }}
{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        {% if not sanIndicator %}
            {% include "./risk/_risk-page.njk" %}
        {% else %}
            {% include "./risk/_risk-page-san-indicator.njk" %}
        {% endif %}
    </div>
{% endblock %}