name: Integration tests

on:
  workflow_call:
    inputs:
      node_version_file:
        description: "Passed to setup-node action to specify where to source the version of node from"
        required: false
        type: string
        default: ".nvmrc"

permissions:
  contents: read

jobs:
  integration_test:
    name: Run the integration tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ inputs.node_version_file }}
      uses: actions/setup-node@v5
      with:
        node-version-file: ${{ inputs.node_version_file }}
    - name: download artifacts
      uses: actions/download-artifact@v5
      with:
        name: npm_build_artifacts
    - name: restore cache
      id: restore-cache
      uses: actions/cache/restore@v4
      env: 
        cache-name: node-modules
      with:
        path: |
          ./node_modules
          ~/.cache/Cypress
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
    - name: download the artifacts
      uses: actions/download-artifact@v5
      with:
        name: npm_build_artifacts
        path: |
          build/
          dist/
          assets/stylesheets/
    - name: download the test artifacts
      uses: actions/download-artifact@v5
      with:
        name: npm_unit_test_artifacts
        path: |
          test_results/
    - name: Prepare and run integration tests
      id: integration-tests
      shell: bash
      run: |
        nohup npm run start-feature &
        sleep 5
        npm run int-test
      # continue-on-error: true
      # replacing the above with if: always()
    - name: Merge unit and integration test coverage reports
      shell: bash
      run: |
        npm run coverage-report
    - name: upload the coverage test artifacts
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: coverage_artifacts
        path: coverage/
    - name: fail the action if the tests failed
      if: ${{ steps.integration-tests.outcome == 'failure' }}
      uses: actions/github-script@v8
      with:
        script: |
            core.setFailed('Integration tests failed')