{% extends "../../../partials/layout.njk" %}
{% set title = previousOrderDetail.title %}
{% set pageTitle = makePageTitle({
    pageHeading: [title, "Previous orders", "Sentence"]
}) %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Cases",
                href: "/case"
            },
            {
                text: headerPersonName.forename + ' ' + headerPersonName.surname,
                href: "/case/" + crn,
                attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
            },
            {
                text: "Sentence",
                href: "/case/" + crn + "/sentence"
            },
            {
                text: "Previous orders",
                href: "/case/" + crn + "/sentence/previous-orders"
            }
        ]
    }) }}
{% endblock %}
{% block content %}
    {% if not hidePageHeader %}
        {% include "../../../partials/pop-header.njk" %}
        <hr class="govuk-section-break--l">
    {% endif %}
    <h2 class="govuk-heading-l" data-qa="pageHeading">
        <span class="govuk-caption-l">Previous orders</span>
        {{ title }}
    </h2>
    {% set sentence = previousOrderDetail.sentence %}
    {% if sentence %}
        {% include '../_sentence-offence.njk' %}
        {% include '../_conviction.njk' %}
        {% include '../_sentence.njk' %}
    {% endif %}
{% endblock %}