{% macro probationAccordion(params) %}
    {%- set params = params as Record<string, string> | default({}) %}
    {%- set params = params as Record<string, string> | merge({
        classes: (params.classes | default('')) + ' govuk-accordion__probation-accordion-custom'
    }) -%}
    {%- include "./template.njk" -%}
{% endmacro %}