{% macro probationAccordion(params) %}
    {%- set params = params | default({}) %}
    {%- set params = params | merge({
        classes: (params.classes | default('')) + ' probation-accordion-custom'
    }) -%}
    {%- include "./template.njk" -%}
{% endmacro %}